**Lambda function with one argument**

In [7]:
#normal fun'

def add(x):
    return(x+10)
add(10)

20

In [2]:
#How many args are there ? "x"
#what are uh returning ( x+10)
# <function_name>=lambda <argument_name>:<return_value>

add=lambda x :x+10
add(10)

20

In [3]:
def mul(num):
    return(num*num)
mul(5)

25

In [4]:
#Arguments --> 1 (num)
#return value-> num*num

mul=lambda num:num*num
mul(5)

25

In [5]:
def cube(val):
    return(val*val*val)
cube(5)

125

In [6]:
cube=lambda val:val*val*val
cube(5)

125

**Lambda function with two arguments**

In [9]:
def sum1(a,b):
    return(a+b)
sum1(10,20)

30

In [10]:
sum1=lambda a,b:a+b
sum1(10,20)

30

In [11]:
def avg(a,b,c):
    return((a+b+c)/3)
avg(10,20,30)

20.0

In [12]:
avg=lambda a,b,c:(a+b+c)/3
avg(10,20,30)

20.0

In [13]:
def avg(a,b,c=100):
    return((a+b+c)/3)
avg(10,20)

43.333333333333336

In [15]:
avg=lambda a,b,c=100:round((a+b+c)/3,2)
avg(10,20)

43.33

**Lambda function with ifelse**

In [16]:
def greater(num1,num2):
    if num1>num2:
        return(num1)
    else:
        return(num2)
greater(50,100)

100

In [24]:
#<fucntion_name>=lambda <arg1,arg2>:<if_output> <if_condition> else <else_output>

greater=lambda num1,num2:num1 if num1>num2 else num2
greater(50,100)

100

**Lambda functions with list**

In [35]:
list1=["hyd","mumbai","bangalore"]
output=[]
for i in list1:
    print(i.capitalize())

Hyd
Mumbai
Bangalore

In [38]:
#MEthod-1
#output-->["Hyd","Mumbai","Bangalore"]

list1=["hyd","mumbai","bangalore"]
output=[]
for i in list1:
    output.append(i.capitalize())
output

['Hyd', 'Mumbai', 'Bangalore']

In [40]:
#Method-2

output=[i.capitalize() for i in list1]
output

['Hyd', 'Mumbai', 'Bangalore']

In [44]:
#Method-3 (With Lambda)

#lambda <var>: <o/p> , <list1/str/tuple>

list1=["hyd","mumbai","bangalore"]

lambda i:i.capitalize(),list1

#step-1: create a lmbda function--> lambda i:i.capitalize()  (i is variable)

#step-2: add your iterator (here list1 is iterator) --> storing values in list1 ( for i in list1:
                                                                                        print(i))

#step-3: both 1 & 2 (lambda i:i.capitalize(),list1)

#map(step1,step2)
#map(lambda i:i.capitalize(),list1)

#step-4: you need to save the result again in a list or tuple

#list(map(step1,step2))
# list(map(lambda i:i.capitalize(),list1))

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'bangalore'])

In [45]:
#map

list(map(lambda i:i.capitalize(),list1))   #using map , then store in list

['Hyd', 'Mumbai', 'Bangalore']

In [51]:
#list1=[1,2,3,4]

#o/p--> [1,4,9,16]

#def square(num):
#    return(num*num)
#square(10)

100

In [58]:
#using lambda

list1=[1,2,3,4]
lambda num:num*num,list1

(<function __main__.<lambda>(num)>, [1, 2, 3, 4])

In [60]:
#using map & list

list(map(lambda num:num*num,list1))

[1, 4, 9, 16]

In [61]:
####ex--O/p-->["Biryani","Buvaneshwar","rasagulla"]  (len >3)

list1=["hyd","Biryani","Buvaneshwar","rasagulla"]

In [75]:
for i in list1:
    if len(i)>3:
        print(i)

Biryani
Buvaneshwar
rasagulla

In [76]:
#step-1 &2 
#using lambda

#lambda variable(i): o/p, list1/str1
 
lambda i:len(i)>3,list1   #here list1 is iterator

(<function __main__.<lambda>(i)>,
 ['hyd', 'Biryani', 'Buvaneshwar', 'rasagulla'])

In [77]:
#step-3

map(lambda i:len(i)>3,list1)

In [78]:
#step-4

list(map(lambda i:len(i)>3,list1))

[False, True, True, True]

In [79]:
#here we are filtering by condition saying len shoudl be >3 so use filter

list(filter(lambda i:len(i)>3,list1))

['Biryani', 'Buvaneshwar', 'rasagulla']

In [90]:
##return the op those has hash symbol

list1=["hyd","Biry#ani","Buvaneshw#ar","rasa#gulla"]

for i in list1:
    print(i)

hyd
Biry#ani
Buvaneshw#ar
rasa#gulla

In [92]:
for i in list1:
    if "#" in i:
        print(i)

Biry#ani
Buvaneshw#ar
rasa#gulla

In [93]:
lambda i:"#" in i

In [94]:
lambda i:"#" in i,list1

(<function __main__.<lambda>(i)>,
 ['hyd', 'Biry#ani', 'Buvaneshw#ar', 'rasa#gulla'])

In [95]:
map(lambda i:"#" in i,list1)

In [96]:
list(map(lambda i:"#" in i,list1))

[False, True, True, True]

In [97]:
#using filter

list(filter(lambda i:"#" in i,list1))

['Biry#ani', 'Buvaneshw#ar', 'rasa#gulla']

In [103]:
##ex--- 

#o/p=[{'even':[2,4,6],'odd':[1,3,5]}]
#o/p- [{1:'odd',2:'even'}]

list1=[1,2,3,4,5,6]
for i in list1:
    if(i%2==0):
        print("Evn:",i)
    else:
        print("Odd:",i)

Odd: 1
Evn: 2
Odd: 3
Evn: 4
Odd: 5
Evn: 6

In [107]:
#lambda

lambda i:i%2==0

In [108]:
#

lambda i:i%2==0 ,llist1

(<function __main__.<lambda>(i)>, [1, 2, 3, 4, 5, 6])

In [109]:
#using map

map(lambda i:i%2==0 ,list1)

In [121]:
#using filter

list(filter(lambda i:i%2==0 ,list1))

[2, 4, 6]

In [123]:
dict1={}
even=list(filter(lambda i:i%2==0 ,list1))
odd=list(filter(lambda i:i%2!=0 ,list1))
even,odd

([2, 4, 6], [1, 3, 5])

In [124]:
####ex--O/p-->["Biryani","Buvaneshwar","rasagulla"]  (len >3)

list1=["hyd","Biryani","Buvaneshwar","rasagulla"]
for i in list1:
    if len(i)>3:
        print(i)

Biryani
Buvaneshwar
rasagulla

In [126]:
#using lambda

lambda i:len(i)>3,list1

(<function __main__.<lambda>(i)>,
 ['hyd', 'Biryani', 'Buvaneshwar', 'rasagulla'])

In [127]:
#since we have filtered through a condtn(len>3)-> use filter

filter(lambda i:len(i)>3,list1)

In [128]:
#store in list

list(filter(lambda i:len(i)>3,list1))

['Biryani', 'Buvaneshwar', 'rasagulla']

In [129]:
##cubes

l4=[10,20,30,40]

def cube(n):
    n1=n*n*n
    return(n1)
cube(10)

1000

In [136]:
#using lambda & list

lambda n:n*n*n,l4

(<function __main__.<lambda>(n)>, [10, 20, 30, 40])

In [138]:
map(lambda n:n*n*n,l4)

In [139]:
list(map(lambda n:n*n*n,l4))

[1000, 8000, 27000, 64000]

In [137]:
####ex--- 

#o/p=[{'even':[2,4,6],'odd':[1,3,5]}]
#o/p- [{1:'odd',2:'even'}]

list1=[1,2,3,4,5,6]
list(map(lambda i: {i:'even'} if i%2==0 else {i:'odd'},list1))

[{1: 'odd'}, {2: 'even'}, {3: 'odd'}, {4: 'even'}, {5: 'odd'}, {6: 'even'}]

In [142]:
l3=[1,2,3,4,5,6,7,8]
d1={}
d1['even']=list(filter(lambda i:i%2==0,l3))
d1['odd']=list(filter(lambda i:i%2!=0,l3))
d1

{'even': [2, 4, 6, 8], 'odd': [1, 3, 5, 7]}

In [141]:
list1=[1,2,3,4,5,6]
even=list(filter(lambda i:i%2==0 ,list1))
odd=list(filter(lambda i:i%2!=0,list1))
even,odd

([2, 4, 6], [1, 3, 5])