In [1]:
l1=[10,20,30]
l1

[10, 20, 30]

In [200]:
l2=["a","b","c"]
l2

['a', 'b', 'c']

In [4]:
l3=[1,2,"a","b","c"]
l3

[1, 2, 'a', 'b', 'c']

In [5]:
l4=[10,12.34,"a",2+3j]
l4

[10, 12.34, 'a', (2+3j)]

In [6]:
l5=[10,10,10]
l5

[10, 10, 10]

In [7]:
l6=[10,20,[20,30],"a","b"]   #list in list
l6

[10, 20, [20, 30], 'a', 'b']

- list allows heterogenous values (mix of all types)
- List allows duplication (i.e.,repetition of values )

In [8]:
#to find type
type(l6)

list

In [9]:
#l1
print(l1)

[10, 20, 30]

In [10]:
#To find the length of list(l1)

len(l1)

3

In [11]:
# To find the maximum of lst(l1)

max(l1)

30

In [12]:
#To find minimum of list(l1)

min(l1)

10

In [13]:
#To find sum of list(l1)

sum(l1)

60

- For similar type of values(numericals) (length,max,min & sum) is possible

In [21]:
print(l2)
print(len(l2))
print(max(l2))
print(min(l2))
print(sum(l2))              #Type error (sum operators is supported only for integer,float values)

['a', 'b', 'c']
3
c
a

TypeError: unsupported operand type(s) for +: 'int' and 'str'

- For characters(sum is not possible), remaining (length, max, min ) are possible

In [20]:
#ascii of "a"
ord("a")

97

In [22]:
ord("c")

99

In [28]:
print(l3)
print(len(l3))
print(max(l3))       #Type error (since it is mix of numericals & characters, we can't find greatest value)

[1, 2, 'a', 'b', 'c']
5

TypeError: '>' not supported between instances of 'str' and 'int'

In [30]:
print(min(l3))     #Type error (since it is mix of numericals & characters, we can't find smallest value)

TypeError: '<' not supported between instances of 'str' and 'int'

In [31]:
print(sum(l3))         #Type error (since it is mix of numericals & characters, we can't find sum)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

- If list includes alphanumeric values (10,20,a,b), only length is possible & rem' (max, min & sum) are not possible

In [34]:
print(l4)
print(len(l4))
print(max(l4))

[10, 12.34, 'a', (2+3j)]
4

TypeError: '>' not supported between instances of 'str' and 'float'

In [35]:
print(min(l4))

TypeError: '<' not supported between instances of 'str' and 'int'

In [36]:
print(sum(l4))

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [41]:
print(l5)
print(len(l5))
print(max(l5))
print(min(l5))
print(sum(l5))

[10, 10, 10]
3
10
10
30

In [44]:
print(l6)
print(len(l6))
print(max(l6))

[10, 20, [20, 30], 'a', 'b']
5

TypeError: '>' not supported between instances of 'list' and 'int'

In [45]:
print(min(l6))

TypeError: '<' not supported between instances of 'list' and 'int'

In [46]:
print(sum(l6))

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [49]:
l7=["hai how are you",[1,2,3]]
print(len(l7))

2

In [50]:
print(max(l7))

TypeError: '>' not supported between instances of 'list' and 'str'

In [51]:
print(min(l7))

TypeError: '<' not supported between instances of 'list' and 'str'

In [52]:
print(sum(l7))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
#list concatenation

print(l1)
print(l2)
print(l1+l2)

[10, 20, 30]
['a', 'b', 'c']
[10, 20, 30, 'a', 'b', 'c']

In [56]:
print(l1)
print(l2)
list_conc=l1+l2
print(list_conc)

[10, 20, 30]
['a', 'b', 'c']
[10, 20, 30, 'a', 'b', 'c']

In [57]:
l1-l2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [58]:
l1*l2

TypeError: can't multiply sequence by non-int of type 'list'

In [59]:
l1/l2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [60]:
l1//l2

TypeError: unsupported operand type(s) for //: 'list' and 'list'

- If list includes numercials & characters, only list concatenation is possible

In [61]:
2*l1           #means l1(10,20,30) -->2 times "l1" is printed

[10, 20, 30, 10, 20, 30]

In [62]:
2*l2

['a', 'b', 'c', 'a', 'b', 'c']

**in operator**

In [63]:
"a" in l2

True

In [64]:
"b" in l2

True

In [65]:
"c" in l2

True

In [67]:
"z" in l2

False

In [68]:
#Iterate the loop usng for loop (using in operator)

for i in l2:
    print(i)

a
b
c

In [81]:
i="a"
while i in range(len(l2)):
    print(l2[i])
    i=i+1

**Index**

In [82]:
l1

[10, 20, 30]

In [83]:
l1[0]

10

In [84]:
l1[1]

20

In [85]:
l1[2]

30

In [86]:
print(l2)

['a', 'b', 'c']

In [88]:
l2[0],l2[1],l2[2]

('a', 'b', 'c')

In [93]:
#print a,bc using for loop

for i in range(len(l2)):
    print("Contents of i is",l2[i])

Contents of i is a
Contents of i is b
Contents of i is c

In [96]:
#print "the pstve index of 'a' is 0"


for i in range(len(l2)):
    print("The positive index of {} is {}".format(l2[i],i))

The positive index of a is 0
The positive index of b is 1
The positive index of c is 2

In [91]:
#using while loop

i=0
while i<len(l2):
    print(l2[i])
    i=i+1

a
b
c

In [97]:
i=0
while(i<len(l2)):
    print("The positive index of {} is {}".format(l2[i],i))
    i+=1

The positive index of a is 0
The positive index of b is 1
The positive index of c is 2

In [104]:
#for loop

for i in range(-len(l2),0):
    print("The negative index of {} is {}".format(l2[i],i))

The negative index of a is -3
The negative index of b is -2
The negative index of c is -1

In [201]:
#while loop

i=-len(l2)
while(i<0):
    print("The negative index of {} is {}".format(l2[i],i))
    i=i+1

The negative index of a is -3
The negative index of b is -2
The negative index of c is -1

In [124]:
#for loop

for i in range(len(l2)):
    print("The positive index is {} & negative index is {} for {}".format(i,i-len(l2),l2[i]))

The positive index is 0 & negative index is -3 for a
The positive index is 1 & negative index is -2 for b
The positive index is 2 & negative index is -1 for c

In [125]:
l1

[10, 20, 30]

In [127]:
l1[0]="AAA"
l1

['AAA', 20, 30]

In [160]:
l1=l1[0]
l1

[[[[1, 2, 3, 4]]]]

In [147]:
l2=l1[0]
l2

[[[1, 2, 3, 4]]]

In [149]:
l3=l2[0]
l3

[[1, 2, 3, 4]]

In [152]:
l4=l3[0]
l4

[1, 2, 3, 4]

In [197]:
l3[4]

IndexError: list index out of range

In [162]:
l1=[[[[[1,2,3,4]]]]]
l1

[[[[[1, 2, 3, 4]]]]]

In [164]:
l1[0][0][0][0][0][3]

TypeError: 'int' object is not subscriptable

In [165]:
l9=[[[[[1,2,3,4]]]]]
l9

[[[[[1, 2, 3, 4]]]]]

In [166]:
l9[0][0][0][0][0][3]

TypeError: 'int' object is not subscriptable

In [181]:
list2=[[[[['A','B',[1,2,3,['Cherry']]]]]]]
list2[0][0][0][0][2][3][0]

'Cherry'

In [189]:
list2=[[[[['A','B',[1,2,3,['Cherry']]]]]]]

In [191]:
#Doing seperately
a=list2[0]
a

[[[['A', 'B', [1, 2, 3, ['Cherry']]]]]]

In [192]:
b=a[0]
b

[[['A', 'B', [1, 2, 3, ['Cherry']]]]]

In [194]:
c=b[0]
c

[['A', 'B', [1, 2, 3, ['Cherry']]]]

In [195]:
d=c[0]
d

['A', 'B', [1, 2, 3, ['Cherry']]]

In [196]:
#to extract cherry
d[2][3]

['Cherry']

In [184]:
list1=[[1,2,3]]
#print 1,2,3 using for loop
list1[0]    # eliminating one list

[1, 2, 3]

In [185]:
for i in list1[0]:
    print(i)

1
2
3

In [187]:
l3=list1[0]
l3

[1, 2, 3]

In [188]:
# using while loop

i=0
while i<len(l3):
    print(l3[i])
    i=i+1

1
2
3

#Nov 9th

In [204]:
list1=["A","B","C","D","E","F",1,2,3,4,5,6]

In [206]:
list1[2:11:2]   # C E 1 3 5

['C', 'E', 1, 3, 5]

In [207]:
list1[2:11:-2]

[]

In [208]:
list1[2:-11:2]

[]

In [209]:
list1[2:-11:-2]

['C']

In [222]:
list1[-2:-11:2]

[]

In [218]:
#WAP ask the user to  print the elements which has length more than 4
#
list1=["Hyderabad","Delhi","Chennai","Blr"]
for i in list1:
    if len(i)>4:
        print(i)

Hyderabad
Delhi
Chennai

In [221]:
for i in range(len(list1)):     #if range is given(number should be given(len(list1)))
    if len(list1[i])>4:             #so give the same list1[i] in if condn
        print(list1[i])

Hyderabad
Delhi
Chennai

In [232]:
#WAP ask the user to print the elemnst which are having # in the element
list1=["Hyderab#d","Delhi","Chenn#i","Blr"]


for i in list1:
    if "#" in i:
        print(i)

Hyderab#d
Chenn#i

In [ ]:
i=0
while i<len(list1):
    if "#" in i:

In [239]:
#WAP ask the user which are strtg with "h"

list1=["Hyderab#d","Delhi","Chenn#i","Blr","HAridwar"]
for i in list1:  #we cant use in opertor
      if

SyntaxError: invalid syntax (3325068901.py, line 5)

In [238]:
dir("string")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [247]:
list1=["Hyderab#d","Delhi","Chenn#i","Blr","HAridwar"]
for i in range(len(list1)):
    if list1[i].lower()[0]=="h":
        print(list1[i])

Hyderab#d
HAridwar

In [248]:
for i in list1:
    if i.lower().startswith('h'):
        print(i)

Hyderab#d
HAridwar

In [259]:
l1=['omkar.nallagoni@gmail.com',
       'kareem.pasha@gmail.com',
       'santhosh.kadam@gmail.com']
#print second names

In [ ]:
str="kareem.pasha@gmail.com"

In [274]:
for i in l1:
    print(i[i.find(".")+1:i.find("@")])

nallagoni
pasha
kadam

In [280]:
for i in l1:
    print(i)
    second_name=(i[i.index(".")+1:i.index("@")])
    print("Second name is",second_name)
    print("="*50)

omkar.nallagoni@gmail.com
Second name is nallagoni
==================================================
kareem.pasha@gmail.com
Second name is pasha
==================================================
santhosh.kadam@gmail.com
Second name is kadam
==================================================

In [281]:
str1="kareem.pasha@gmail.com"
str1.split("@")

['kareem.pasha', 'gmail.com']

In [282]:
str1.split("@")[0]

'kareem.pasha'

In [283]:
str1.split("@")[0].split(".")

['kareem', 'pasha']

In [284]:
str1.split("@")[0].split(".")[1]

'pasha'

In [286]:
for i in l1:
    print(i)
    second_name=(i[i.index(".")+1:i.index("@")])
    print("Second name is",second_name)
    Alternative_second_name=i.split("@")[0].split(".")[1]
    print("Alternative second name is",Alternative_second_name)
    print("="*50)

omkar.nallagoni@gmail.com
Second name is nallagoni
Alternative second name is nallagoni
==================================================
kareem.pasha@gmail.com
Second name is pasha
Alternative second name is pasha
==================================================
santhosh.kadam@gmail.com
Second name is kadam
Alternative second name is kadam
==================================================

**LIST METHODS**

In [287]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**Append(Important)**

In [288]:
list1=[100,200,300]
#to append 400 into list1
list1.append(400)
print(list1)

[100, 200, 300, 400]

- Append allows the value insertion at last index

In [289]:
l1=[]
l1.append(20,30)  #only one elemnt is allowed
print(l1)

TypeError: list.append() takes exactly one argument (2 given)

In [290]:
l1=[]
l1.append(10)
print(l1)

[10]

In [292]:
l2=[]
l2.append([10,20,30])
l2.append('python')
l2

[[10, 20, 30], 'python']

- Suppose if you want to save the output in a separate list, use append

In [293]:
list1=["Hyderabad","Delhi","Chennai","Blr"]
for i in list1:
    if len(i)>4:
        print(i)

Hyderabad
Delhi
Chennai

In [294]:
list1=["Hyderabad","Delhi","Chennai","Blr"]
cities_list=[]
for i in list1:
    if len(i)>4:
        cities_list.append(i)   #instead of printing "i", appending values into empty list(cities_list[])
cities_list

['Hyderabad', 'Delhi', 'Chennai']

In [296]:
list1=["Hyderab#d","Delhi","Chenn#i","Blr"]
for i in list1:
    if "#" in i:
        print(i)

Hyderab#d
Chenn#i

In [297]:
list1=["Hyderab#d","Delhi","Chenn#i","Blr"]
city=[]
for i in list1:
    if "#" in i:
        city.append(i)
city

['Hyderab#d', 'Chenn#i']

In [299]:
list1=["Hyderab#d","Delhi","Chenn#i","Blr","HAridwar"]
for i in list1:
    if i.lower().startswith('h'):
        print(i)

Hyderab#d
HAridwar

In [300]:
list1=["Hyderab#d","Delhi","Chenn#i","Blr","HAridwar"]
cities_h=[]
for i in list1:
    if i.lower().startswith('h'):
        cities_h.append(i)
cities_h

['Hyderab#d', 'HAridwar']

In [301]:
#Extract first name 
"a.b@gmail.com"

'a.b@gmail.com'

In [302]:
"a.b@gmail.com".split(".")

['a', 'b@gmail', 'com']

In [303]:
"a.b@gmail.com".split(".")[0]

'a'

In [307]:
l1=['omkar.nallagoni@gmail.com',
       'kareem.pasha@gmail.com',
       'santhosh.kadam@gmail.com']
first,second=[],[]
for i in l1:
    first.append(i.split(".")[0])
    second.append(i[i.find(".")+1:i.find("@")])
first,second

(['omkar', 'kareem', 'santhosh'], ['nallagoni', 'pasha', 'kadam'])

In [309]:
def names(l1):
    first,second=[],[]
    for i in l1:
        first.append(i.split(".")[0])
        second.append(i[i.find(".")+1:i.find("@")])
    return(first,second)
names(l1)

(['omkar', 'kareem', 'santhosh'], ['nallagoni', 'pasha', 'kadam'])

In [316]:
#WAP ask the user to get 10 random numbers bw 10 to 50 & get the even numbrs & odd numbers 

import random
for i in range(10):
    number=random.randint(1,50)
    if(number%2==0):
        print("EVen",number)
    else:
        print("ODD",number)

ODD 49
EVen 36
EVen 32
EVen 36
ODD 19
ODD 31
ODD 3
EVen 36
EVen 28
EVen 32

In [317]:
#saving the result using append 

even,odd=[],[]
import random
for i in range(10):
    number=random.randint(1,50)
    if(number%2==0):
        even.append(number)
    else:
        odd.append(number)
even,odd

([42, 4, 28, 18], [29, 1, 31, 33, 21, 41])

- While using append, we have taken a empty list & used append function

**List Comprehension**

In [319]:
list1=["Hyderabad","Delhi","Chennai","Blr"]
for i in list1:
    if len(i)>4:
        print(i)

Hyderabad
Delhi
Chennai

- [<output> <for loop> <if condition>]
- In list comprehension, we don't require to take empty list & use append. instead we write output,for & if cndn in single list

In [320]:
#

output=[i for i in list1 if len(i)>4]
output

['Hyderabad', 'Delhi', 'Chennai']

In [321]:
#normal code
list1=["Hyderab#d","Delhi","Chenn#i","Blr"]
city=[]
for i in list1:
    if "#" in i:
        city.append(i)
city

['Hyderab#d', 'Chenn#i']

In [322]:
output1=[i for i in list1 if "#" in i ]
output1

['Hyderab#d', 'Chenn#i']

In [325]:
l1=['omkar.nallagoni@gmail.com','kareem.pasha@gmail.com', 'santhosh.kadam@gmail.com']
output2=[i[i.find(".")+1:i.find("@")] for i in l1]
output2

['nallagoni', 'pasha', 'kadam']

In [331]:
l1=['omkar.nallagoni@gmail.com','kareem.pasha@gmail.com','santhosh.kadam@gmail.com']
first,second=[],[]
for i in l1:
    first.append(i.split(".")[0])
    second.append(i[i.find(".")+1:i.find("@")])
first,second

#####

output3=[i.split(".")[0] for i in l1]
output4=[i[i.find(".")+1:i.find("@")] for i in l1]
output3,output4

(['omkar', 'kareem', 'santhosh'], ['nallagoni', 'pasha', 'kadam'])

In [334]:
#if else

even_odd=[]
for i in range(10):
    if i%2==0:
        even_odd.append("even:{}".format(i))
    else:
        even_odd.append("odd:{}".format(i))
even_odd

['even:0',
 'odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9']

- for if &else
               [<if output1> <if condition> <else output> <for loop>]

In [335]:
#USing list cmp

#[output1 if else <o/p2> for loop]
output5=["even:{}".format(i) if i%2==0 else "odd:{}".format(i) for i in range(10)]
output5

['even:0',
 'odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9']

# Nov 10th

In [336]:
#if len(elemnts)>3 -> print it is good else print better

list1=["Apple","Ball","Cat","Dog","Elephant"]
for i in range(len(list1)):
    if len(list1[i])>3:
        print("{} good".format(i))
    else:
        print("{} btr".format(i))

good
good
btr
btr
good

In [341]:
#using append

items=[]
list1=["Apple","Ball","Cat","Dog","Elephant"]
for i in range(len(list1)):
    if len(list1[i])>3:
        items.append("{} good".format(list1[i]))
    else:
        items.append("{} btr".format(list1[i]))
items

['Apple good', 'Ball good', 'Cat btr', 'Dog btr', 'Elephant good']

In [343]:
#Using list cmphnsn
#Remove empty list & append line

items=[]
list1=["Apple","Ball","Cat","Dog","Elephant"]
for i in range(len(list1)):
    if len(list1[i])>3:
        items.append("{} good".format(list1[i]))
    else:
        items.append("{} btr".format(list1[i]))
items



##
items1=["{} good".format(list1[i]) if len(list1[i])>3 else "{} btr".format(list1[i]) for i in range(len(list1))]
items1

['Apple good', 'Ball good', 'Cat btr', 'Dog btr', 'Elephant good']

In [355]:
#without range 
list1=["Apple","Ball","Cat","Dog","Elephant"]
for i in list1:
    if len(i)>3:
        print("{} good".format(i))
    else:
        print("{} better".format(i))

Apple good
Ball good
Cat better
Dog better
Elephant good

In [347]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**clear()**

In [348]:
l1=[10,20,30,40]
l1.clear()

In [349]:
print(l1)

[]

In [351]:
#del is not a method

l1=[100,200,300]
del l1[0]   #100 is deletd at 0th index
print(l1)

[200, 300]

In [371]:
#pop --- removes the last value

l1=[10,20,30]
l1.pop(2)

30

In [359]:
print(l1)

[10, 20]

In [360]:
l1.pop()

20

In [361]:
print(l1)

[10]

In [363]:
#remove

l1=[10,20,30]
l1.remove(10)

In [364]:
print(l1)

[20, 30]

In [365]:
l1.remove(20)

In [366]:
print(l1)

[30]

**del**

- Value is deleted based on the index provided

**pop** 

- Last value in list is deleted. index can be passed
- Deleted value will be printed

**remove** 

- Based on the value passed, value will be removed & removed value can't be printed
- List can be printed after removing the specific value

In [367]:
list1=["A","B","C","D","E"]
list1.pop()

'E'

In [368]:
print(list1)

['A', 'B', 'C', 'D']

In [369]:
list1.remove("B")

In [370]:
print(list1)

['A', 'C', 'D']

In [372]:
list2=[i for i in range(1,100,3)]
list2

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97]

In [373]:
#to delete 55 
#Remove can be used (Bcz for pop we need to provide index number which is hard )

list2.remove(55)

In [374]:
print(list2)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97]

**Index**

In [376]:
list1=["A","B","C","D"]
list1.index("D")

3

In [378]:
# to remove "D"
list1.pop(list1.index("D"))

'D'

In [379]:
print(list1)

['A', 'B', 'C']

In [409]:
l1=['omkar.nallagoni@gmail.com','kareem.pasha@gmail.com','santhosh.kadam@gmail.com']
first,second=[],[]
for i in l1:
    first.append(i.split(".")[0])
    second.append(i[i.find(".")+1:i.find("@")])
first,second

#####

output3=[i.split(".")[0] for i in l1]
output4=[i[i.find(".")+1:i.find("@")] for i in l1]
output3,output4

(['omkar', 'kareem', 'santhosh'], ['nallagoni', 'pasha', 'kadam'])

In [417]:
#

string1="kl.rahul@lucknow.com,virat.kohli@bangalore.com,rohit.sharma@mumbai.com"
#First name list =[]
#Second name list = []
#Company= []


first=[]
second=[]
company=[]
for i in string1:
    print(string1[string1.find(""):string1.find(".")])
    print(string1[string1.find(".")+1:string1.find("@")]) 
    print(string1[string1.find("@")+1:string1.find(".",string1.find(".")+1)])
first
second
company

['lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow',
 'lucknow']

In [435]:
string1="kl.rahul@lucknow.com,virat.kohli@bangalore.com,rohit.sharma@mumbai.com"

l1=["kl.rahul@lucknow.com,virat.kohli@bangalore.com,rohit.sharma@mumbai.com"]
for i in l1:
    print(i[i.find(".")+1:i.find("@")]) 
    print(i[i.find(""):i.find(".")])
    print(i[i.find("@")+1:i.find(".",i.find(".")+1)])
    print(i)

rahul
kl
lucknow
kl.rahul@lucknow.com,virat.kohli@bangalore.com,rohit.sharma@mumbai.com

In [481]:
#

string1="kl.rahul@lucknow.com,virat.kohli@bangalore.com,rohit.sharma@mumbai.com"
list1=string1.split(",")
#f_name=[]
#s_name=[]
#c_name=[]
for i in list1:
    print("First name: ",i.split(".")[0])
    print("Second name:",i.split(".")[1].split("@")[0])
    print("company name:",i.split(".")[1].split("@")[1])

First name:  kl
Second name: rahul
company name: lucknow
First name:  virat
Second name: kohli
company name: bangalore
First name:  rohit
Second name: sharma
company name: mumbai

In [461]:
#

string1="kl.rahul@lucknow.com,virat.kohli@bangalore.com,rohit.sharma@mumbai.com"
list1=string1.split(",")
f_name=[]
s_name=[]
c_name=[]
for i in list1:
    f_name.append(i.split(".")[0])
    s_name.append(i.split(".")[1].split("@")[0])
    c_name.append(i.split(".")[1].split("@")[1])

In [464]:
i.split(".")[0]
i.split(".")[1].split("@")[0]
i.split(".")[1].split("@")[1]

'mumbai'

In [431]:
f_name=[i.split(".")[0] for i in list1]
s_name=[i.split(".")[1].split("@")[0] for i in list1]
c_name=[i.split(".")[1].split("@")[1] for i in list1]
f_name
s_name
c_name

['lucknow', 'bangalore', 'mumbai']

**copy**

In [434]:
list1=[1,2,3,4]
list2=list1.copy()
list1.clear()
print(list1)
print(list2)

[]
[1, 2, 3, 4]

In [448]:
l1=["A","B","C"]
l2=[1,2,3]
l2.extend(l1)
print(l2)

[1, 2, 3, 'A', 'B', 'C']

In [449]:
l1=["A","B","C"]
l1.append([1,2,3])
print(l1)

['A', 'B', 'C', [1, 2, 3]]

**Zip**

In [455]:
#Ram age is 25

list1=["Ram","Raheem","Robert"]
list2=[25,30,35]
for i,j in zip(list1,list2):
    print(i,j)

Ram 25
Raheem 30
Robert 35

**sort**

In [457]:
list1=["B","D","A","C"]
list1.sort()   #by default it takes acsending order (reverse =False)
list1

['A', 'B', 'C', 'D']

In [459]:
list1=["B","D","A","C"]
list1.sort(reverse=True)   #it takes descending order (reverse =True)
list1   #In sort ,result is saved

['D', 'C', 'B', 'A']

**sorted**

In [470]:
l1=["B","D","A","C"]
l1

['B', 'D', 'A', 'C']

In [471]:
sorted(l1)

['A', 'B', 'C', 'D']

In [472]:
print(l1)   #Result is not saved here in sorted

['B', 'D', 'A', 'C']

- In sort method(sort()), result will save in a same list
- In sorted keyword, results will not save

In [474]:
string1="kl.rahul@lucknow.com,virat.kohli@bangalore.com,rohit.sharma@mumbai.com"
list1=string1.split(",")   #splitting the string , then o/p is in list format
list1

['kl.rahul@lucknow.com',
 'virat.kohli@bangalore.com',
 'rohit.sharma@mumbai.com']

In [475]:
#join

" ".join(list1)

'kl.rahul@lucknow.com virat.kohli@bangalore.com rohit.sharma@mumbai.com'

In [477]:
list1=["A","P","P","L","E"]
''.join(list1)

'APPLE'

**Keywords**
- max()
- min()
- print()
- type()
- len()
- zip()
- sorted()
- ord()
- chr()

**insert**
- At particular index, it allows to add elements

In [478]:
l1=[10,20,30]
l1.insert(3,40)

In [479]:
print(l1)

[10, 20, 30, 40]

In [1]:
#Take 5 qstns in a list1
#give answers in a list2
#iterate through list1
#every qstn should print
#answer=input("Tell the answer")
#answer is checked in list2
#if it is there 

list1=["what is your name","Where do u stay","In which profession you are working","How much package you get?","Are you liking your profession"]
list2=["Pragnya","hyderabad","IT","fivelac","Yes"]
marks=0
correct_answer=0
for i in list1:
    print("Question is: ",i)
    answer=input("Tell the answer:")
    if answer in list2:
        marks=marks+1
        correct_answer=correct_answer+1
    else:
        print("No marks")
print("Correct answer is",correct_answer)
print("Marks are",marks)

Question is:  what is your name
Tell the answer:pragnya
No marks
Question is:  Where do u stay
Tell the answer:Hyderabad
No marks
Question is:  In which profession you are working
Tell the answer:IT
Question is:  How much package you get?
Tell the answer:5lc
No marks
Question is:  Are you liking your profession
Tell the answer:Yes
Correct answer is 2
Marks are 2