**for loop**
- initialization 
- condition
- increment/decrement
- In python, index starts with zero

In [1]:
for i in range(10):          #start=0  (if nothing is mentioned, by default '0' is the starting point)
    print("i is",i)

i is 0
i is 1
i is 2
i is 3
i is 4
i is 5
i is 6
i is 7
i is 8
i is 9

#pattern-1
#range(stop)
- start=0
- end= stop-1
- increment

In [2]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
#to print the numbers horizontally
for i in range(20):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

**Pattern-2**

range(start,stop)
- start= start value
- end value= stop-1
- increment

In [7]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [8]:
for i in range(10,20):      #start=10, stop= 20-1, increment( by default, since  end is not mentioned anything)
    print("i is",i)

i is 10
i is 11
i is 12
i is 13
i is 14
i is 15
i is 16
i is 17
i is 18
i is 19

In [9]:
for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [10]:
for i in range(1,7):
    print(i,end=' ')

1 2 3 4 5 6

**pattern-3**

range(start,stop,step)

1) if step is positive
- start-> start value
- end = stop-1 (it depends on sign of step value)

2) if step is negative
- start-> start value
- end = stop + 1

In [13]:
for i in range(5,20,3):       #start=5, end=stop-1(20-1= 19)  , step -> postve (with 3 interval, i is printed)
    print(i)

5
8
11
14
17

In [14]:
for i in range(5,20,-3):         #    -3 -2 -1 0 1 2 3 -----  5 to 10 is towards rght, but step value is -3 which is twrds left , so no o/p comes
    print(i)

In [15]:
for i in range(20,5,-3):
    print(i)

20
17
14
11
8

In [ ]:
for i in range(5,20,3)

#observation-1 --> Fix the values
- start=5
- end= 20-1 = 19
- step= positive

#observation-2 -->check if answr is possible or not

- 5 8 11 14 17

#observation-3

In [16]:
for i in range(-5,-20,-3):         #step--> -3 (ngtve drctn)          -2 -1 0
    print(i)

-5
-8
-11
-14
-17

In [18]:
for i in range(5,20,-3):
    print(i)

#start= 5, end= 20+1 = 21 (step-->ngtve)
#Since stp is ngtve, it goes in ngtve drctn-->                      -4 -3 -2 -1 0 1 2 3 4 5 6  --- 20
#                                                                         ________________ but 20 is towards rgt, answer is not displayed
#                                                                        (ngtve drctn)

In [19]:
for i in range(10,30,3):
    print(i)
#start=10, end= 30-1 (step= pstve), with 3 interval
#10 13 16 19 22 25 28

10
13
16
19
22
25
28

In [24]:
for i in range(10,30,3):
    print(i)

#start=10, end= 30+1= 31 , step->ngtve

10
13
16
19
22
25
28

In [25]:
for i in range(10,30,-3):
    print(i)

In [26]:
for i in range(10,-30,3):
    print(i)

In [27]:
for i in range(10,30,-3):
    print(i)
    
#start=10, end= 30+1 = 31, step--> ngtve
#ngtve drctn ->

In [28]:
for i in range(-10,-30,-3):
    print(i)
    
#start= -10, end= -30+1 = -29 , step--> ngtve
# ngtve drctn-->      -30 -29 --- -10 --- 0 1 2--- 30
#                                   (from -10 to -30->ngtve drctn-> answer is possible)

-10
-13
-16
-19
-22
-25
-28

In [30]:
for i in range(-10,-30,3):
    print(i)

    #start= -10, end= -30-1 = -31 ( step is pstve)
    # postve drctn... but -10 to -30 is twrds ngtve ,so answr is nt displayed

In [31]:
for i in range(-10,30,-3):
    print(i)

#start= -10, end= 30+1 = 31 (step is ngtve)
#Ngtve drctn -- answer nt possible

In [32]:
for i in range(-10,30,3):
    print(i)
    
#start= -10, end= 30-1 =29 ,step->postve
# positive drctn -- >     -10 -9 ---- 0  1 2 3 --- 30
#                          from here(-10 to 30 in pstve drctn, answer is possible)

-10
-7
-4
-1
2
5
8
11
14
17
20
23
26
29

In [33]:
#WAP ask the user to print first 10 square numbers (1 to 10)
n=eval(input("Enter n value :"))
for i in range(1,11):
    print(i*i)

Enter n value :10
1
4
9
16
25
36
49
64
81
100

In [34]:
#WAP ask the user to print first 10 square numbers (1 to 10)
n=eval(input("Enter n value :"))
for i in range(11):
    print(i*i)

Enter n value :10
0
1
4
9
16
25
36
49
64
81
100

In [ ]:
#WAP to print 7 table

n=eval(input("Enter n value: "))