In [5]:
#Arithmetic operators
a=eval(input("Enter a value: "))
b=eval(input("Enter b value: "))
sum=print("{}+{}={}".format(a,b,a+b))
sub=print("{}-{}={}".format(a,b,a-b))
mul=print("{}*{}={}".format(a,b,a*b))
div=print("{}/{}={}".format(a,b,a/b))
modulus=print("{}%{}={}".format(a,b,a%b))
floordivision=print("{}//{}={}".format(a,b,a//b))
exponent=print("{}**{}={}".format(a,b,a**b))

Enter a value: 10
Enter b value: 10
10+10=20
10-10=0
10*10=100
10/10=1.0
10%10=0
10//10=1
10**10=10000000000

In [8]:
#Relational operators (< , >, <= , >=, ==, !=)
# <
a=10
b=20 
c=10
print(a<b)
print(b<c)
print(a<c)

True
False
False

In [9]:
#greater than (>)

a=10
b=20 
c=10
print(a>b)
print(b>c)
print(a>c)

False
True
False

In [10]:
# <=

a=10
b=20 
c=10
print(a<=b)
print(b<=c)
print(a<=c)

True
False
True

In [11]:
# >=

a=10
b=20 
c=10
print(a>=b)
print(b>=c)
print(a>=c)

False
True
True

In [12]:
#  ==

a=10
b=20 
c=10
print(a==b)
print(b==c)
print(a==c)

False
False
True

In [13]:
#  !=

a=10
b=20 
c=10
print(a!=b)
print(b!=c)
print(a!=c)

True
True
False

In [ ]:
# LOGIC OPERATORS (and, or , not)
# and

A   B    A AND B      A OR B     

T  F  --->F         -->T
F  T  --->F         --->T
F  F  --> F         -->F
T  T  --->T         -->T


A    A NOT B
T  --> FALSE
F  --> TRUE

In [14]:
print(10<30 and 20>10)

True

In [15]:
print(30<10 and 20>10)

False

In [16]:
print(100>40 and 20>80)

False

In [17]:
print(10>2 and 10>20)

False

In [18]:
print(10<30 or 20>10)

True

In [19]:
print(30<10 or 20>10)

True

In [20]:
print(100>40 or 20>80)

True

In [21]:
print(10>2 or 10>20)

True

In [22]:
print(10>100 or 2>10)

False

In [23]:
print(not(10>100 or 2>10))

True

In [24]:
print(not(10>2 or 10>20))

False

# Oct 20th

**BITWISE OPERATORS**

In [25]:
#Bitwise Left Shift

print(20<<2)          

# left shift-- > number * 2 ^number of bits ( 20 * 2^2)== 20 *4= 80

80

In [26]:
print(50 <<3)

400

In [27]:
#Bitwise Right Shift --> number/2^number of bits -->  20//2^2  = 20//4 = 5 

print(20>>2)

5

In [28]:
print(300>>4)

18

In [ ]:
#BItwise and operator(&) (Product rule)

Input1    Input2       Input1 & Input2
0          1                 0  (0*1=0)
1          0                 0  (1*0=0)
0          0                 0  (0*0=0)
1          1                 1  (1*1=1)

In [32]:
a=10               # a= 1 0 1 0
b=15              # b=  1 1 1 1
c=a&b                __________
print(c)            #   1 0 1 0 ( -->10 )

10

In [33]:
print(3&4)         # 3-> 0 0 1 1
                   # 4 ->0 1 0 0
                 _______________
                        0  0  0 0(-->0)

0

In [35]:
print(10&3)       # 10 --- 1 0 1 0
                  # 3 ---- 0 0 1 1
                 # ________________
                           0 0 1 1 (--> 1 * 2^1)

2

In [36]:
print(18 & 20)       # 18--->    1 0 0 1 0
                     # 20-->     1 0 1 0 0
                           ________________
                                 1 0 0 0 0 ( --> 1 * 2^4 = 1 *16= 16)

16

In [37]:
s1={10,20,30}
s2={40,30,50}
s3=s1.intersection(s2)    # common elements from s1 & s2 are printed (i.e, only 30 is common so it is printed)
print(s3)

{30}

In [39]:
s4=s1&s2              # here from s1 --> 10 is compared with  s2(40,30,50)
                      # again from s1 -> 20 is compared with s2(40,30,50)
                      #again from s1 -> 30 is compared with s2(40,30,50)-- 
                    # -- 30 with 40(not matched-false) , 30 with 30->matched(true),so 30 is printed , 30 with 50(false)
print(s4)

{30}

In [ ]:
# BITWISE OR OPERATOR (|) ( Addition rule)

varname=value1+value2

Input1     Input2    Input | Input2
0           1            1
1           0            1
0           0            0
1           1            1

In [40]:
print(10|20)            #10--->0 1 0 1 0
                        #20--> 1 0 1 0 0
                        ________________
        
                             1  1  1 1 0 (2^4 * 1 + 2^3 *1 + 2^2 * 1 + 2^1 *1 = 14+8+4+2=30)

30

In [41]:
a=10                                 #10-- > 1 0 1 0
b=7                                  #7 ---> 0 1 1 1
c=a|b                                ______________
                                             1 1 1 1( 2^3*1 + 2^2*1 + 2^1*1 + 2^0*1 ==>8+4+2+1 = 15)
print(c)

15

In [42]:
print(3|4)                    # 3--> 0 1 1
                             # 4 --> 1 0 0 
                             ______________
                                    1 1 1 ( 2^2*1 + 2^1*1 + 2^0*1-->7)

0

In [ ]:
# BITWISE COMPLEMENT OPERATOR (~)

2 variables->a, b
Syntax--> -(a+1)

In [43]:
a=10            #10-->   1 0 1 0
                #b=15 -> 1 1 1 1
b=15               ~b->  -(1111 +1) --> 1 1 1 1
                                        0 0 0 1
                                Carry->  1  1 1
                                       ________
                                        1 0 0 0 0        #binary addition

print(~(b))        #~b = -(b+1)==> (-(15+1))= -16

-16

In [44]:
b=~a          # -(a+1)= -(10+1) =   -11
print(b)        #a=10-- > 1 0 1 0
                # +1 -->  0 0 0 1
               _____________________
                          1 0 1 1 --> (2^3 + 2^1 + 2^0)= 8+2+1

-11

In [ ]:
#BITWISE XOR OPERATOR--- (Similar bits -> Result is 0 & Disimilar bits-> Result is 1)

Input1    Input2       Input1 ^ Input2
 
0          1                1
1          0                1
0          0                0
1          1                0

In [45]:
a=3                    #3-> 0 0 1 1
b=4                    #4-> 0 1 0 0
c=a^b                 _____________
                           0 1 1 1 (4 + 2 +1 =7)
c

7

In [47]:
print(15^10)        #15 -> 1 1 1 1
                   #10 -> 1 0 1 0
                    ______________
                          0 1 0 1(4 +1 =5)

5

In [48]:
print(16^8)            #16- > 1 0 0 0 0
                       #8->   0 1 0 0 0
                       ________________
                             1 1 0 0 0 ( 16+ 8 =24)

24

In [49]:
# special case--
s1={10,20,30,40}
s2={10,40,50,60}
s3=s1.symmetric_difference(s2)      #means similar elements will be removed & remaining elemnts from s1 & s2 are printed
print(s3)

{50, 20, 60, 30}

In [ ]:
#wap to accept two numerical intege value & swap them by using bitwise xor

a=3
b=4
a=a^b         # a=3--> 0 0 1 1
              #b=4 --> 0 1 0 0
               _______________
                   a=  0 1 1 1 (7)

b=a^b       #a value is 7--> 0 1 1 1
            #b=4         --> 0 1 0 0
                   __________________
                      b=     0 0 1 1 (2+1 =3)
            
a=a^b        # a =7  --> 0 1 1 1
             #b=3    --> 0 0 1 1
             ___________________
                 a=      0 1 0 0 (4)

In [51]:
a=3
b=4
a=a^b
print("value of a is",a)

value of a is 7

In [52]:
b=a^b
print("b is",b)

b is 3

In [53]:
a=a^b
print("a is",a)

a is 4

In [55]:
#wap to accept two numerical intege value & swap them by using bitwise xor

a=eval(input("Enter a value: "))
b=eval(input("Enter b value: "))
print("-"*40)
print("Original value of a is",a)
print("Original value of b is",b)
a=a^b
b=a^b
a=a^b
print("-"*40)
print("Swapping value of a is",a)
print("Swapping value of b is",b)

Enter a value: 3
Enter b value: 4
----------------------------------------
Original value of a is 3
Original value of b is 4
----------------------------------------
Swapping value of a is 4
Swapping value of b is 3

**Membership operators**
- in
- not in

In [56]:
lst=[10,20,30,'prag','pranu']

In [57]:
10 in lst  #10 is available in the list, so it returns True

True

In [58]:
20 in lst

True

In [59]:
10 not in lst         # 10 is available in the list, so it returns False

False

In [60]:
20 not in lst

False

In [66]:
'prag' in lst

True

In [68]:
'Prag' in lst

False

In [62]:
a=20 in lst     # storing in a & result is True (it meant 20 is available in list)       
a

True

In [63]:
print(a,type(a))

True <class 'bool'>

In [64]:
b=20 not in lst    #storing in b & result is False(It meant 20 is not available in list)
print(b,type(b))

False <class 'bool'>

In [69]:
s='PYTHON'

In [70]:
"P" in s

True

In [71]:
"P" not in s

False

In [74]:
"P" in s

True

In [75]:
"T" in s

True

In [72]:
"T" not in s

False

In [73]:
"H" in s

True

In [76]:
"H" not in s

False

In [77]:
"O" in s

True

In [78]:
"o" in s

False

In [79]:
"O" not in s

False

In [80]:
"N" in s

True

In [81]:
"N" in s

True

In [82]:
"TH" in s

True

In [83]:
"PO" in s

False

In [84]:
"THON" in s

True

In [85]:
"THON" in s

True

In [86]:
"PTO" in s

False

In [87]:
"YON" in s

False

In [88]:
"NOH" in s

False

In [96]:
"NOH" not in s

True

In [89]:
"HON" in s

True

In [95]:
"HON" not in s

False

In [90]:
"PYT" in s

True

In [91]:
"YTHON" in s

True

In [92]:
"PYON" in s

False

In [94]:
"PYON" not in s

True

In [98]:
"NOH" in s[::-1]             # s[::-1] gives reverse of s --> NOHTYP

True

In [99]:
l1=[10,20,30,"python","PYTHON"]

In [100]:
"python" in l1

True

In [101]:
"PYTH" in l1

False

In [102]:
"pyt" in l1[3]     #l1[3] --> "python"

True

In [103]:
"PYT" in l1[4]

True

In [104]:
"PYT" not in l1[4]

False

In [105]:
"noh" not in l1[3]

True

In [109]:
"noh" in l1[3][::-1]         #l1[3][::-1]  -->    nohtyp

True

**Identity operators**  - To compare the memory address of objects
- is -> If obj1 memory address = to obj2 memory address
- is not -> If obj1 memory address Not equal to obj2 memory address

In [110]:
a='python'
b='python'
print(a,id(a))
print(b,id(b))

#Deep copy (For is -> it will return True else False for is not operator)

python 1883592163568
python 1883592163568

In [117]:
c=a is b       #comparing a with b 
print(c)       #it returns True , since a('python') & b('python') have same memory address

True

In [118]:
c=a is not b
print(c)

False

In [119]:
a='hello'
b="hiiii"
print(a,id(a))
print(b,id(b))

hello 1883620391984
hiiii 1883640772464

In [120]:
c=a is b
c

False

In [121]:
c=a is not b
c

True

In [122]:
a=None
b=None
print(a,id(a))
print(b,id(b))

None 140714756238064
None 140714756238064

In [123]:
c=a is b        #comparing memory address of a with b (since both are same, it returns True)
c

True

In [124]:
a is not b

False

In [128]:
#dict data type
d1={10:"apple",20:"orange"}
d2={10:"apple",20:"orange"}
print(id(d1))      #memory address is different for d1 &d2
print(id(d2))

1883657806400
1883646962432

In [126]:
d1 is d2

False

In [127]:
d1 is not d2

True

- if two objects of dict are same , if "is" operator is applied, it returns False (Since Memory address is getting varied)
- if two objects of dict are same , if "is not" operator is applied, it returns True (Since Memory address is getting varied)

In [132]:
#set

s1={10,20,30}
s2={10,20,30}
print(s1,id(s1))
print(s2,id(s2))

{10, 20, 30} 1883657633376
{10, 20, 30} 1883658177216

In [130]:
s1 is s2      #since set s1 & s2 are varied ,it returns False

False

In [131]:
s1 is not s2

True

In [133]:
#frozen set

fs1=frozenset(s1)
fs2=frozenset(s2)
print(fs1,id(fs1))
print(fs2,id(fs2))

frozenset({10, 20, 30}) 1883658179232
frozenset({10, 20, 30}) 1883658178560

In [134]:
fs1 is fs2

False

In [135]:
fs1 is not fs2

True

- if two objects of set & frozenset are same , if "is" operator is applied, it returns False (Since Memory address is getting varied)
- if two objects of set & frozenset are same , if "is not" operator is applied, it returns True (Since Memory address is getting varied)

In [137]:
#list
l1=[10,"Rossum","Python"]
l2=[10,"Rossum","Python"]
print(id(l1))
print(id(l2))

1883658457280
1883654765184

In [138]:
l1 is l2

False

In [139]:
l1 is not l2

True

In [140]:
#tuple
t1=tuple(l1)
t2=tuple(l2)
print(t1,id(t1))
print(t2,id(t2))

(10, 'Rossum', 'Python') 1883658899008
(10, 'Rossum', 'Python') 1883658898624

In [141]:
t1 is t2

False

In [142]:
t1 is not t2

True

In [143]:
#range
r1=range(10,20)
r2=range(10,20)
print(r1,id(r1))
print(r2,id(r2))

range(10, 20) 1883642976352
range(10, 20) 1883642975536

In [144]:
r1 is r2

False

In [145]:
r1 is not r2

True

In [159]:
#Bytes
b1=[10,20]
b2=[10,10]
a=bytes(l1)
b=bytes(l2)
print(a,id(a))
print(b,id(b))

b'\n\x14' 1883640623680
b'\x1e(' 1883642977888

In [160]:
b1 is b2

False

In [161]:
b1 is not b2

True

In [162]:
#Byte array

b1=[10,20]
b2=[10,20]
a=bytearray(l1)
b=bytearray(l2)
print(a,id(a))
print(b,id(b))

bytearray(b'\n\x14') 1883655302064
bytearray(b'\x1e(') 1883655124080

In [163]:
b1 is b2

False

In [164]:
b1 is not b2

True

- if two objects of bytes & bytearray are same , if "is" operator is applied, it returns False (Since Memory address is getting varied)
- if two objects of bytes & bytearray are same , if "is not" operator is applied, it returns True (Since Memory address is getting varied)

In [168]:
#str

s1="INDIA"
s2="INDIA"
print(s1,id(s1))
print(s2,id(s2))

INDIA 1883658488304
INDIA 1883658488304

In [169]:
s1 is s2     #same memory address, so it returns True

True

In [170]:
s1 is not s2

False

- if two objects of str are same(Same case,same meaning & same order) , if "is" operator is applied, it returns True (Since Memory address is getting varied)
- if two objects of str are same(Same case,same meaning & same order) , if "is not" operator is applied, it returns False (Since Memory address is getting varied)

In [171]:
s3="python"
s1 is s3       #s1 is "INDIA" & s3 is "python" -> both the memory address are dfrnt, so it returns False

False

In [172]:
s1 is not s3

True

In [182]:
#complex
a=2+3j
b=2+3j
print(a.real,id(a))        #internally, if we print a.real it might vary so dfrnt memory address
print(b.real,id(b))

2.0 1883658126416
2.0 1883658127440

In [175]:
a is b

False

In [176]:
a is not b

True

In [179]:
#int
a=10
b=10
print(a,type(a),id(a))
print(b,id(b))

10 <class 'int'> 140714757624904
10 140714757624904

In [180]:
a is b

True

In [181]:
a is not b

False

In [186]:
a=256
b=256
print(id(a))
print(id(b))

140714757632776
140714757632776

In [187]:
a is b

True

In [188]:
a is not b

False

In [189]:
#
a=257
b=257
print(id(a))
print(id(b))

1883658131472
1883658131824

In [190]:
#different memory address
a is b

False

In [191]:
a is not b

True

- if two objects of int are same, if "is" operator is applied, it returns True (Since Memory address is getting varied)
- if two objects of int are same, if "is not" operator is applied, it returns False (Since Memory address is getting varied)

- Values from 0 to 256 gets stored in same memory address, hence if "is" operator is applied, it returns True & if "is not" operator is applied, it returns False

- Values after 256 gets stored in dfrnt memory address, hence if "is" operator is applied, it returns False & if "is not" operator is applied, it returns True

In [208]:
a=-1
b=-1
print(id(a))
print(id(b))

1883658131632
1883658131984

In [195]:
a is b

True

In [196]:
a is not b

False

In [197]:
a=-5
b=-5
print(id(a))
print(id(b))

140714757624424
140714757624424

In [198]:
a is b

True

In [199]:
a is not b

False

In [200]:
a=-9
b=-9
print(id(a))
print(id(b))

1883658127440
1883658127344

In [201]:
a is b

False

In [202]:
a is not b

True

- In negative values, only -1 to -5 stores same memory address. Hence if "is" operator is applied, it returns True & if "is not" operator is applied, it returns False

In [192]:
#float

a=12.3
b=12.3
print(id(a))
print(id(b))

1883653889616
1883653889584

In [184]:
a is b

False

In [185]:
a is not b

True

- if two objects of float,complex are same, if "is" operator is applied, it returns False (Since Memory address is getting varied)
- if two objects of float,complex are same, if "is not" operator is applied, it returns True (Since Memory address is getting varied)

In [209]:
#bool
a=True
b=True
print(id(a),id(b))

140714756155936 140714756155936

In [210]:
a is b

True

In [211]:
a is not b

False

In [212]:
a=False
b=False
print(id(a),id(b))

140714756155968 140714756155968

In [213]:
a is b

True

In [214]:
a is not b

False

In [215]:
#Multi assignment operator

a,b=300,300
print(id(a))  #same memory address, while storing a=300, b =300, PVM takes 300 as a same value & hence same memory add' is stored
print(id(b))

1883658127344
1883658127344

In [216]:
a is b

True

In [217]:
a is not b

False

In [225]:
#Negtve values (Any range is allowed)
a,b=-10,-10
print(id(a))
print(id(b))

1883658132304
1883658132304

In [226]:
a is b

True

In [227]:
a is not b

False

- In Multi line assignment, 0 to 256 range is not applicable
- Any range of values are allowed hence they store same memory address.
- Hence if "is" operator is applied, it returns True & if "is not" operator is applied, it returns False

# Conditional Stmnts

In [14]:
#if
#WAPP which will read 1 number & find ngtve no. or pstve no. or zero

n1=eval(input("Enter n1: "))
if(n1>0):
    print("{} is positive number".format(n1))
if(n1<0):
    print("{} is negative number".format(n1))
if(n1==0):
    print("{} is zeronumber".format(n1))
print("program compiled")                #since 10 is pstve number, that particular indentation blck is executed
                                        # and other print stmnt which is outside the block is printed

Enter n1: 10
10 is positive number
program compiled

In [15]:

n1=eval(input("Enter n1: "))
if(n1>0):
    print("{} is positive number".format(n1))
if(n1<0):
    print("{} is negative number".format(n1))
if(n1==0):
    print("{} is zeronumber".format(n1))
print("program compiled")

Enter n1: 0
0 is zeronumber
program compiled

In [16]:

n1=eval(input("Enter n1: "))
if(n1>0):
    print("{} is positive number".format(n1))
if(n1<0):
    print("{} is negative number".format(n1))
if(n1==0):
    print("{} is zeronumber".format(n1))
print("program compiled")

Enter n1: -10
-10 is negative number
program compiled

In [20]:
#WAPP which will accpt a number & decide whether it s even or odd
n=eval(input("Enter n value: "))
if(n%2==0):
    print("{} is a even number".format(n))
if(n%2!=0):
    print("{} is a odd number".format(n))
print("Program compiled")

Enter n value: 10
10 is a even number
Program compiled

In [21]:
#WAPP which will accpt a number & decide whether it s even or odd
n=eval(input("Enter n value: "))
if(n%2==0):
    print("{} is a even number".format(n))
if(n%2!=0):
    print("{} is a odd number".format(n))
print("Program compiled")

Enter n value: 3
3 is a odd number
Program compiled

In [23]:
#WAPP which will accpt a number & decide whether it s even or odd using if else stmnt

n=eval(input("Enter n value: "))
if(n%2==0):
    print("{} is a even number".format(n))
else:
    print("{} is a odd number".format(n))
print("Program compiled")

Enter n value: 10
10 is a even number
Program compiled

In [29]:
#if else stmnt
#WAPP which will read 1 number & find ngtve no. or pstve no. or zero

n1=eval(input("Enter n1: "))
if(n1>0):
    print("{} is positive number".format(n1))
else:
    if(n1<0):
        print("{} is negative number".format(n1))
    else:
        print("{} is zeronumber".format(n1))
print("program compiled")

Enter n1: 90
90 is positive number
program compiled

In [33]:
#wAPP which will accept any digit & print it's name 
#using if

n=eval(input("Enter a digit: "))
if(n==0):
    print("{} is zero".format(n))
if(n==1):
    print("{} is one".format(n))
if(n==2):
    print("{} is two".format(n))
if(n==3):
    print("{} is three".format(n))
if(n==4):
    print("{} is four".format(n))
if(n==5):
    print("{} is five".format(n))
if(n==6):
    print("{} is six".format(n))
if(n==7):
    print("{} is seven".format(n))
if(n==8):
    print("{} is eight".format(n))
if(n==9):
    print("{} is nine".format(n))
if n not in [0,1,2,3,4,5,6,7,8,9]:      #that meant n is not in range bw 0 to 9, then the below stmnt prints
    print("{} is number".format(n))

Enter a digit: 9
9 is nine

In [44]:
#using if else or Nested if else


n=eval(input("Enter a digit: "))
if(n==0):
    print("{} is zero".format(n))
else:
    if(n==1):
        print("{} is one".format(n))
    else:
        if(n==2):
            print("{} is two".format(n))
        else:
            if(n==3):
                print("{} is three".format(n))
            else:
                if(n==4):
                    print("{} is four".format(n))
                else:
                    if(n==5):
                        print("{} is five".format(n))
                    else:
                        if(n==6):
                            print("{} is six".format(n))
                        else:
                            if(n==7):
                                print("{} is seven".format(n))
                            else:
                                if(n==8):
                                    print("{} is eight".format(n))
                                else:
                                    if(n==9):  
                                        print("{} is a number".format(n))
                                    else:
                                        print("{} is nine".format(n))

Enter a digit: 4
4 is four

In [52]:
#WAPP which will calculate the net salary of an employee based on the foll' prblm stmnt (USING IF)
#accept emp number, emp name & basic salary 
#if the basic salary is more than 10,000, give DA=20% basic salary , TA=15%basic salry,HRA=12%basicsal,cca=2%basicsal,ma(medicalallownce)=2%basicsal
#- gpf=2%basicsalary, LIC=1%basicsalary (Deductn)

#if the basic salary is less than 10,000, give DA=25% basic salary , TA=20%basic salry,HRA=16%basicsal,cca=3%basicsal,ma=2%basicsal
#- gpf=2%basicsalary, LIC=1%basicsalary (Deductn)

#NEtsalary=(basicsalary+DA+TA+HRA+CCA+MA)-(GPF+LIC)

emp_number=eval(input("Enter employee number: "))
emp_name=(input("Enter employee name: "))
basic_salary=eval(input("Enter basic salary: "))
if(basic_salary>10000):
    DA=(20*basic_salary)/100
    TA=(15*basic_salary)/100
    HRA=(12*basic_salary)/100
    CCA=(2*basic_salary)/100
    MA=(2*basic_salary)/100
    GPF=(2*basic_salary)/100
    LIC=(1*basic_salary)/100
if(basic_salary<10000):
    DA=(25*basic_salary)/100
    TA=(20*basic_salary)/100
    HRA=(16*basic_salary)/100
    CCA=(3*basic_salary)/100
    MA=(2*basic_salary)/100
    GPF=(2*basic_salary)/100
    LIC=(1*basic_salary)/100
    Net_Salary=(basic_salary+DA+TA+HRA+CCA+MA)-(GPF+LIC)
#print("Net Salary is {}".format(Net_Salary))
#Display the pay slip of an employee
print("="*60)
print("\t Employee pay slip of the month - Oct 2023")
print("="*60)
print("\t Employee number is",emp_number)
print("\t Employee name is",emp_name)
print("\t Basic salary is",basic_salary)
print("\t Employee DA is",DA)
print("\t Employee TA is",TA)
print("\t Employee HRA is",HRA)
print("\t Employee CCA is",CCA)
print("\t Employee MA is",MA)
print("\t Employee GPF is",GPF)
print("\t Employee LIC is",LIC)
print("="*60)
print("\t Employee Net Salary is",Net_Salary)
print("="*60)

Enter employee number: 12345
Enter employee name: abc
Enter basic salary: 15000
============================================================
	 Employee pay slip of the month - Oct 2023
============================================================
	 Employee number is 12345
	 Employee name is abc
	 Basic salary is 15000
	 Employee DA is 3000.0
	 Employee TA is 2250.0
	 Employee HRA is 1800.0
	 Employee CCA is 300.0
	 Employee MA is 300.0
	 Employee GPF is 300.0
	 Employee LIC is 150.0
============================================================
	 Employee Net Salary is 8150.0
============================================================

In [1]:
#WAPP which will calculate the net salary of an employee based on the foll' prblm stmnt (USING IF ELSE)
#accept emp number, emp name & basic salary 
#if the basic salary is more than 10,000, give DA=20% basic salary , TA=15%basic salry,HRA=12%basicsal,cca=2%basicsal,ma(medicalallownce)=2%basicsal
#- gpf=2%basicsalary, LIC=1%basicsalary (Deductn)

#if the basic salary is less than 10,000, give DA=25% basic salary , TA=20%basic salry,HRA=16%basicsal,cca=3%basicsal,ma=2%basicsal
#- gpf=2%basicsalary, LIC=1%basicsalary (Deductn)

#NEtsalary=(basicsalary+DA+TA+HRA+CCA+MA)-(GPF+LIC)

emp_number=eval(input("Enter employee number: "))
emp_name=(input("Enter employee name: "))
basic_salary=eval(input("Enter basic salary: "))
if(basic_salary>10000):
    DA=(20*basic_salary)/100
    TA=(15*basic_salary)/100
    HRA=(12*basic_salary)/100
    CCA=(2*basic_salary)/100
    MA=(2*basic_salary)/100
    GPF=(2*basic_salary)/100
    LIC=(1*basic_salary)/100
else:
    DA=(25*basic_salary)/100
    TA=(20*basic_salary)/100
    HRA=(16*basic_salary)/100
    CCA=(3*basic_salary)/100
    MA=(2*basic_salary)/100
    GPF=(2*basic_salary)/100
    LIC=(1*basic_salary)/100
    Net_Salary=(basic_salary+DA+TA+HRA+CCA+MA)-(GPF+LIC)
#print("Net Salary is {}".format(Net_Salary))
#Display the pay slip of an employee
print("="*60)
print("\t Employee pay slip of the month - Oct 2023")          #\t for tab space
print("="*60)
print("\t Employee number is",emp_number)
print("\t Employee name is",emp_name)
print("\t Basic salary is",basic_salary)
print("\t Employee DA is",DA)
print("\t Employee TA is",TA)
print("\t Employee HRA is",HRA)
print("\t Employee CCA is",CCA)
print("\t Employee MA is",MA)
print("\t Employee GPF is",GPF)
print("\t Employee LIC is",LIC)
print("="*60)
print("\t Employee Net Salary is",Net_Salary)
print("="*60)

Enter employee number: 14532
Enter employee name: xyz
Enter basic salary: 5000
============================================================
	 Employee pay slip of the month - Oct 2023
============================================================
	 Employee number is 14532
	 Employee name is xyz
	 Basic salary is 5000
	 Employee DA is 1250.0
	 Employee TA is 1000.0
	 Employee HRA is 800.0
	 Employee CCA is 150.0
	 Employee MA is 100.0
	 Employee GPF is 100.0
	 Employee LIC is 50.0
============================================================
	 Employee Net Salary is 8150.0
============================================================

In [17]:
#WAPP which will accept an alphabet from keyboard and decide whether it is a vowel or consonant
#Method-1

n=input("Enter n value: ")
if(n=='a')or(n=='e')or(n=='i')or(n=='o')or(n=='u'):
    print("{} is a vowel".format(n))
else:
    print("{} is a consonant".format(n))

Enter n value: l
l is a consonant

In [27]:
#Method-2

n=input("Enter n value: ")
if n in ['a','e','i','o','u']:
    print("{} is a vowel".format(n))
else:
    print("{} is a consonant".format(n))

Enter n value: z
z is a consonant

In [54]:
#wAPP which will accept any digit & print it's name 
#using elif


n=eval(input("Enter a digit: "))
if(n==0):
    print("{} is zero".format(n))
elif(n==1):                       #instead of using else  & if , using elif 
    print("{} is one".format(n))
elif(n==2):
    print("{} is two".format(n))
elif(n==3):
    print("{} is three".format(n))
elif(n==4):
    print("{} is four".format(n))
elif(n==5):
    print("{} is five".format(n))
elif(n==6):
    print("{} is six".format(n))
elif(n==7):
    print("{} is seven".format(n))
elif(n==8):
    print("{} is eight".format(n))
elif(n==9):
    print("{} is nine".format(n))
elif n in [0,1,2,3,4,5,6,7,8,9]:
    print("{} is a number".format(n))
elif n in [-1,-2,-3,-4,-5,-6,-7,-8,-9]:
    print("{} is a negative digit number".format(n))

Enter a digit: -9
-9 is a negative digit number

In [41]:
#WAPP to find postve, ngtve or zero number using elif
# without using else

n=eval(input("Enter n value: "))
if(n>0):
    print("{} is a positive number".format(n))
elif(n<0):
    print("{} is a negative number".format(n))
elif(n==0):
    print("{} is a zero number".format(n))

Enter n value: 0
0 is a zero number

In [45]:
#WAPP to find postve, ngtve or zero number using elif
# including else

n=eval(input("Enter n value: "))
if(n>0):
    print("{} is a positive number".format(n))
elif(n<0):
    print("{} is a negative number".format(n))
else:
    print("{} is a zero number".format(n))

Enter n value: 90
90 is a positive number

In [61]:
#WAPP which will accpt 3 integer numbers & find the greatest of 3 numbers
#Using elif

n1=eval(input("Enter n1 value: "))
n2=eval(input("Enter n2 value: "))
n3=eval(input("Enter n3 value: "))
if(n1>n2 and n1>n3):
    print("{} is greatest number".format(n1))
elif(n2>n1 and n2>n3):
    print("{} is greatest number".format(n2))
elif(n3>n1 and n3>n2):
    print("{} is greatest number".format(n3))
else:
    print("all values are equal")

Enter n1 value: 10
Enter n2 value: 20
Enter n3 value: 30
30 is greatest number

In [2]:

n1=eval(input("Enter n1 value: "))
n2=eval(input("Enter n2 value: "))
n3=eval(input("Enter n3 value: "))
if(n1>n2 and n1>n3):
    print("max({},{},{})={}".format(n1,n2,n3,n1))
elif(n2>n1 and n2>n3):
    print("max({},{},{})={}".format(n1,n2,n3,n2))
elif(n3>n1 and n3>n2):
    print("max({},{},{})={}".format(n1,n2,n3,n3))
else:
    print("all values are equal")

Enter n1 value: 90
Enter n2 value: 90
Enter n3 value: 90
all values are equal

In [6]:
#WAPP which will find the smallest number among 3 numbers
#using elif


n1=eval(input("Enter n1 value: "))
n2=eval(input("Enter n2 value: "))
n3=eval(input("Enter n3 value: "))
if(n1<n2 and n1<n3):
    print("min({},{},{})={}".format(n1,n2,n3,n1))
elif(n2<n1 and n2<n3):
    print("min({},{},{})={}".format(n1,n2,n3,n2))
elif(n3<n1 and n3<n2):
    print("min({},{},{})={}".format(n1,n2,n3,n3))
else:
    print("all values are equal")

Enter n1 value: 10
Enter n2 value: 98
Enter n3 value: 76
min(10,98,76)=10

In [3]:
#Match stmnt
#WAPP which will implement the foll' menu driven application
# ============================
#     Arithmetic operators
# ============================
# 1.Addition
# 2.Subtraction
# 3.Multiplication
# 4.Division
# 5.Modulo Division
# 6.Exponentiation
# 7.Exit
# ==========================
# ENter your choice: 
#==========================

#Menu driven application 
import sys
print("="*50)
print("\t Arithmetic operators")
print("="*50)
print("\t 1.Addition")
print("\t 2.Subtraction")
print("\t 3.Multiplication")
print("\t 4.Division")
print("\t 5.Modulo Division")
print("\t 6.Exponentiation")
print("\t 7.Exit")
ch=eval(input("Enter your choice: "))
match(ch):
    case 1:
        a,b=float(input("Enter a value: ")),float(input("Enter b value: "))
        print("sum({},{}={})".format(a,b,a+b))
    case 2:
        a=float(input("Enter a value for subtraction: "))
        b=float(input("Enter b value for subtraction: "))
        print("sub({},{}={})".format(a,b,a-b))
    case 3:
        a=float(input("Enter a value for multiplication: "))
        b=float(input("Enter b value for multiplication: "))
        print("mul({},{}={})".format(a,b,a-b))
    case 4:
        a=float(input("Enter a value for Division: "))
        b=float(input("Enter b value for Division: "))
        print("div({},{}={})".format(a,b,a/b))
        print("floordiv({},{}={})".format(a,b,a//b))
    case 5:
        a=float(input("Enter a value for Division: "))
        b=float(input("Enter b value for Division: "))
        print("moddiv({},{}={})".format(a,b,a%b))
    case 6:
        a=float(input("Enter a value for Division: "))
        b=float(input("Enter b value for Division: "))
        print("exp({},{}={})".format(a,b,a**b))
    case 7:
        print("Thanks for using this program")
        exit()
    case _:
        print("Your choice of selection is wrong")

==================================================
	 Arithmetic operators
==================================================
	 1.Addition
	 2.Subtraction
	 3.Multiplication
	 4.Division
	 5.Modulo Division
	 6.Exponentiation
	 7.Exit
Enter your choice: 5
Enter a value for Division: 10
Enter b value for Division: 2
moddiv(10.0,2.0=0.0)

In [11]:
#WAPP to find weekday or weekend using match stmnt

week_name=input("Enter week name: ")
match(week_name):
    case "monday":
        print("{} is a weekday".format(week_name))
    case "tuesday":
        print("{} is a weekday".format(week_name))
    case "wednesday":
        print("{} is a weekday".format(week_name))
    case "thursday":
        print("{} is a weekday".format(week_name))
    case "friday":
        print("{} is a weekday".format(week_name))
    case "saturday":
        print("{} is a weekend".format(week_name))
    case "sunday":
        print("{} is a holiday".format(week_name))
    case _:
        print("{} is not week day".format(week_name))

Enter week name: tuesday
tuesday is a weekday

In [14]:
#using bitwise or(|) for above program


week_name=input("Enter week name: ")
match(week_name):
    case "monday" | "tuesday" | "wednesday" |"thursday"|"friday":
        print("{} is a weekday".format(week_name))
    case "strdy":
        print("{} is a weekend".format(week_name))
    case "sunday":
        print("{} is a hldy".format(week_name))
    case _:
        print("{} is not a weekday".format(week_name))

Enter week name: strdy
strdy is a weekend

# oct 26th

In [3]:
#while loop
#WAPP which will display 1 to n numbers where n is positive 

i=1        #intialization part
n=eval(input("Enter n: "))
while(i<=n):      #condition part
    print(i)
    i=i+1       #updation part
print("out of while block")

Enter n: 19
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
out of while block

In [6]:
##while loop

n=eval(input("Enter n: "))
if(n<=0):
    print("{} is a invalid input".format(n))
else:
    i=1
    while(i<=n):
        print("i is",i)
        i=i+1

Enter n: -4
-4 is a invalid input

In [7]:
##while loop

n=eval(input("Enter n: "))
if(n<=0):
    print("{} is a invalid input".format(n))
else:
    i=1
    while(i<=n):
        print("i is",i)
        i=i+1

Enter n: 8
i is 1
i is 2
i is 3
i is 4
i is 5
i is 6
i is 7
i is 8

In [9]:
##while loop

n=eval(input("Enter n: "))
if(n<=0):
    print("{} is a invalid input".format(n))
else:
    i=1
    print("="*50)
    print("Range of values within:{}".format(n))
    print("="*50)
    while(i<=n):
        print("i is",i)
        i=i+1
    else:
        print("="*50)
        print("\n I'm from else part of while loop")

Enter n: 5
==================================================
Range of values within:5
==================================================
i is 1
i is 2
i is 3
i is 4
i is 5
==================================================

 I'm from else part of while loop

In [11]:
##while loop

n=eval(input("Enter n: "))
if(n<=0):
    print("{} is a invalid input".format(n))
else:
    i=1
    print("="*50)
    print("Range of values within:{}".format(n))
    print("="*50)
    while(i<=n):
        print("i is",i)
        i=i+1
    else:
        print("="*50)
        print("\n I'm from else part of while loop")          #else block print stmnt
print("="*40)
print("\n I'm from other part of program")              #out of while block

Enter n: 4
==================================================
Range of values within:4
==================================================
i is 1
i is 2
i is 3
i is 4
==================================================

 I'm from else part of while loop
========================================

 I'm from other part of program

In [1]:
#WAPP which will accpt any numerical integer value & display even numbers within it 
#while loop

n=eval(input("Enter n value: "))
i=2
while(i<=n):
    print("i value is",i)
    i=i+2
else:
    print("="*50)
    print("ELse block of while loop")
    print("="*50)
print("Outside of while loop")

Enter n value: 4
i value is 2
i value is 4
==================================================
ELse block of while loop
==================================================
Outside of while loop

In [5]:
#WAPP which will accpt any numerical integer value & display odd numbers within it 
#While loop

n=eval(input("Enter n value: "))
i=1
while(i<=n):
    print("i value is",i)
    i=i+2
else:
    print("="*50)
    print("ELse block of while loop")
    print("="*50)
print("Outside of while loop")

Enter n value: 21
i value is 1
i value is 3
i value is 5
i value is 7
i value is 9
i value is 11
i value is 13
i value is 15
i value is 17
i value is 19
i value is 21
==================================================
ELse block of while loop
==================================================
Outside of while loop

In [14]:
#WAPP which will generate multiplication table for a given positive integer value
#If ngtve number -> print as invalid input
#While loop

n=eval(input("Enter n value: "))
if(n<0):
    print("{} is invalid input".format(n))
else:
    i=1   #initializn
    print("="*50)
    print("\t Mulitiplication table for {}".format(n))
    print("="*50)
    while(i<=10):    #condition
        print("\t Mult of {},{} is {}".format(n,i,n*i))
        i=i+1        #updation 
    else:
        print("="*50)

Enter n value: 9
==================================================
	 Mulitiplication table for 9
==================================================
	 Mult of 9,1 is 9
	 Mult of 9,2 is 18
	 Mult of 9,3 is 27
	 Mult of 9,4 is 36
	 Mult of 9,5 is 45
	 Mult of 9,6 is 54
	 Mult of 9,7 is 63
	 Mult of 9,8 is 72
	 Mult of 9,9 is 81
	 Mult of 9,10 is 90
==================================================

In [15]:
#WAPP which will generate multiplication table for a given positive integer value
#If ngtve number -> print as invalid input
#while loop


n=eval(input("Enter n value: "))
if(n<0):
    print("{} is invalid input".format(n))
else:
    i=1   #initializn
    print("="*50)
    print("\t Mulitiplication table for {}".format(n))
    print("="*50)
    while(i<=10):    #condition
        print("\t Mult of {},{} is {}".format(n,i,n*i))
        i=i+1        #updation 
    else:
        print("="*50)

Enter n value: -10
-10 is invalid input

In [19]:
# WAPP which will accept a number & find sum of the digits of the given number (Imp)
#while loop 

n=eval(input("Enter n value:"))
if(n<=0):
    print("{} is invalid input".format(n))
else:
    print("="*50)
    print("Given number={}".format(n))
    print("="*50)
    s=0
    while(n>0):
        d=n%10
        s=s+d
        n=n//10
    else:
        print("="*50)
        print("sum of digits is {}".format(s))
        print("="*50)

Enter n value:1234
==================================================
Given number=1234
==================================================
==================================================
sum of digits is 10
==================================================

In [20]:
#WAPP which will accpt a string & print it's reverse order

s=input("Enter s value: ")
print(s[::-1])

Enter s value: python
nohtyp

In [23]:
#WAPP which will accpt a string & check for it's palindrome
#EX= s1= "liril" , s3=s1[::-1], compare s3 with s1

s1=input("Enter s value: ")
s2_reverse=(s1[::-1])
print(s2_reverse)
s1==s2_reverse

Enter s value: liril
liril

True

In [1]:
#while loop
#WAPP to retrieve the data from given string

s="PYTHON"
i=0
while(i<len(s)):
    print(s[i])
    i=i+1

P
Y
T
H
O
N

In [30]:
#using for loop

s="PYTHON"
for i in s:
    print(i)

P
Y
T
H
O
N

In [9]:
#combining them

s="PYTHON"
print("By using while loop")
i=0
while(i<len(s)):
    print(s[i])
    i=i+1
print("="*50)
print("By using for loop")
for i in s:
    print(i,end=" ")

By using while loop
P
Y
T
H
O
N
==================================================
By using for loop
P Y T H O N

In [17]:
#
l=[10,"prag","rossum",30]
i=0
print("by using while loop")
while(i<len(l)):
    print(l[i])
    i=i+1
print("="*40)
print("by using for loop")
for i in l:
    print(i)

by using while loop
10
prag
rossum
30
========================================
by using for loop
10
prag
rossum
30

In [20]:
#to print 0 to 5 numbers using while & for loop 

i=0
while(i<6):
    print(i)
    i=i+1
print("using for loop")
for i in range(6):
    print(i)

0
1
2
3
4
5
using for loop
0
1
2
3
4
5

In [25]:
#
s=range(100,110)
i=0
while(i<len(s)):
    print(s[i])
    i=i+1
print("="*40)
print("By using for loop")
for i in s:
      print(i)

100
101
102
103
104
105
106
107
108
109
========================================
By using for loop
100
101
102
103
104
105
106
107
108
109

In [4]:
# WAPP which will generate 1 to n numbers where n is the positive ( using for loop)

n=int(input("Enter n : "))
if(n<0):
    print("{} is invalid input".format(n))
else:
    print("="*50)
    print("Numbers within {}".format(n))
    print("="*50)
    for i in range(1,n+1):             #if we give (1,n) --> (1,9) -> it prints from 1 to 8
        print(i)

Enter n : 9
==================================================
Numbers within 9
==================================================
1
2
3
4
5
6
7
8
9

In [7]:
##WAPP which will accpt any integer value & generate even numbers & odd number seperatly

n=int(input("Enter n value: "))
if(n<0):
    print("Invalid input")
else:
    print("Even numbers within {}".format(n))
    print("="*50)
    for even in range(2,n+1,2):
        print("{}".format(even))
    else:
        print("="*50)
        print("Odd numbers within {}".format(n))
        print("="*50)
        for odd in range(1,n+1,2):
            print("{}".format(odd))
        else:
            print("#"*50)

Enter n value: 10
Even numbers within 10
==================================================
2
4
6
8
10
==================================================
Odd numbers within 10
==================================================
1
3
5
7
9
##################################################

In [12]:
#Multiplication table

n=int(input("Enter n value: "))
if(n<0):
    print("Invalid input")
else:
    print("="*50)
    print("Multiplication table for {}".format(n))
    for i in range(1,11):
        print("{}x{}={}".format(n,i,n*i))
    else:
        print("-"*50)

Enter n value: 4
==================================================
Multiplication table for 4
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40
--------------------------------------------------

In [46]:
#Sum of first N natural numbers

n=int(input("Enter n value: "))
if(n<0):
    print("Invalid input")
else:
    s=0
    i=0
    while(i<=n):
        s=s+i
        i=i+1
print(s)
print("="*50)
for i in range(1,n+1):
    s=s+i
    i=i+1
print(s)

Enter n value: 10
55
==================================================
110

In [45]:
# for loop 

n=int(input("Enter n value: "))
if(n<0):
    print("Invalid input")
else:
    s=0
    print("="*50)
    for val in range(1,n+1):        #already defined that loop to be runned from 1 to n+1 so no need of updation(incremnt prt)
        print("{}".format(val))
        s=s+val
    else:
        print("="*50)
        print("Sum of first {} natural numbers is {}".format(n,s))

Enter n value: 10
==================================================
1
2
3
4
5
6
7
8
9
10
==================================================
Sum of first 10 natural numbers is 55

In [44]:
#while loop


n=int(input("Enter n value: "))
if(n<0):
    print("Invalid input")
else:
    s=0
    val=1
    print("="*50)
    print("Natural numbers")
    print("="*50)
    while(val<n):
        print("{}".format(val))
        s=s+val
        val=val+1
    else:
        print("="*50)
        print("Sum of first {} natural numbers is {}".format(n,s))

Enter n value: 10
==================================================
Natural numbers
==================================================
1
2
3
4
5
6
7
8
9
==================================================
Sum of first 10 natural numbers is 45

In [43]:
#Sum of sqaures of first N natural number using for loop
# for loop 

n=int(input("Enter n value: "))
if(n<0):
    print("Invalid input")
else:
    ss=0
    print("="*50)
    print("Squares of numbers")
    print("="*50)
    for val in range(1,n+1):        #already defined that loop to be runned from 1 to n+1 so no need of updation(incremnt prt)
        print("{}".format(val*2))
        ss=ss+val
    else:
        print("="*50)
        print("Sum of squares of first {} natural numbers is {}".format(n,ss))

Enter n value: 10
==================================================
Squares of numbers
==================================================
2
4
6
8
10
12
14
16
18
20
==================================================
Sum of squares of first 10 natural numbers is 55

In [42]:
#Sum of squares of first N natural number using while loop
# for loop 

n=int(input("Enter n value: "))
if(n<0):
    print("Invalid input")
else:
    ss=0
    i=1
    print("="*50)
    print("Squares of numbers")
    print("="*50)
    while(i<n):            #already defined that loop to be runned from 1 to n+1 so no need of updation(incremnt prt)
        print("{}".format(i*2))
        ss=ss+i
        i=i+1
    else:
        print("="*50)
        print("Sum of squares of first {} natural numbers is {}".format(n,ss))

Enter n value: 10
==================================================
Squares of numbers
==================================================
2
4
6
8
10
12
14
16
18
==================================================
Sum of squares of first 10 natural numbers is 45

In [47]:
#Sum of cubes of first N natural number using for loop
# for loop 

n=int(input("Enter n value: "))
if(n<0):
    print("Invalid input")
else:
    ss=0
    print("="*50)
    print("Cubes of numbers")
    print("="*50)
    for val in range(1,n+1):        #already defined that loop to be runned from 1 to n+1 so no need of updation(incremnt prt)
        print("{}".format(val*3))
        ss=ss+val
    else:
        print("="*50)
        print("Sum of cubes of first {} natural numbers is {}".format(n,ss))

Enter n value: 10
==================================================
Cubes of numbers
==================================================
3
6
9
12
15
18
21
24
27
30
==================================================
Sum of cubes of first 10 natural numbers is 55

In [48]:
#Sum of cubes of first N natural number using while loop
#while loop 

n=int(input("Enter n value: "))
if(n<0):
    print("Invalid input")
else:
    ss=0
    i=1
    print("="*50)
    print("Cubes of numbers")
    print("="*50)
    while(i<n):                 #already defined that loop to be runned from 1 to n+1 so no need of updation(incremnt prt)
        print("{}".format(i*3))
        ss=ss+val
        i=i+1
    else:
        print("="*50)
        print("Sum of cubes of first {} natural numbers is {}".format(n,ss))

Enter n value: 10
==================================================
Cubes of numbers
==================================================
3
6
9
12
15
18
21
24
27
==================================================
Sum of cubes of first 10 natural numbers is 90

In [53]:
#WAPP to accept numerical integers & find avg, sum (using list)
#for loop

n=int(input("Enter n value: "))
if(n<0):
    print("Invalid input")
else:
    lst=list()
    for i in range(1,n+1):
        val=float(input("ENter {} value: ".format(i)))           #giving values
        lst.append(val)                        #adding value by value into lst
    else:
        print("="*40)
        print("Content of list {}".format(lst))
        print("="*40)
        s=0
        val=0
        for val in range(1,n+1):
            s=s+val
        else:
            print("Sum is {}".format(s))
            print("Average is {} ".format(len(lst)))

Enter n value: 5
ENter 1 value: 10
ENter 2 value: 20
ENter 3 value: 30
ENter 4 value: 40
ENter 5 value: 50
========================================
Content of list [10.0, 20.0, 30.0, 40.0, 50.0]
========================================
Sum is 15
Average is 5

In [54]:
#WAPP to accept numerical integers & find avg, sum(Using list)
#while loop

n=int(input("Enter n value: "))
if(n<0):
    print("Invalid input")
else:
    lst=list()
    for i in range(1,n+1):
        val=float(input("ENter {} value: ".format(i)))           #giving values
        lst.append(val)                        #adding value by value into lst
    else:
        print("="*40)
        print("Content of list {}".format(lst))
        print("="*40)
        s=0
        val=0
        while(val<n+1):
            s=s+val
            val=val+1
        else:
            print("Sum is {}".format(s))
            print("Average is {} ".format(len(lst)))  or # print("Average is {} ".format(s/len(lst)))

Enter n value: 5
ENter 1 value: 10
ENter 2 value: 20
ENter 3 value: 30
ENter 4 value: 40
ENter 5 value: 50
========================================
Content of list [10.0, 20.0, 30.0, 40.0, 50.0]
========================================
Sum is 15
Average is 5

In [63]:
#WAPP to accept numerical integers & find avg, sum (without using list)

n=int(input("Enter n value: "))
if(n<0):
    print("Invalid input")
else:
    s=0
    for val in range(1,n+1):
        val=float(input("Enter a number: "))
        s=val+s
    else:
        print("sum is {}".format(s))
        print("Average is {}".format(s/n))

Enter n value: 5
Enter a number: 10
Enter a number: 20
Enter a number: 30
Enter a number: 40
Enter a number: 50
sum is 150.0
Average is 30.0

In [65]:
#To print python using while loop 
s="PYTHON"
i=0
while(i<len(s)):
    print("{}".format(s[i]))
    i=i+1

P
Y
T
H
O
N

In [68]:
#using for loop
for i in s:
    print(i,end=" ")

P Y T H O N

In [69]:
s="PYTHON"
print("-----------------------------")
print("By using while loop")
print("-----------------------------")
i=0
while(i<len(s)):
    print("\t{}".format(s[i]))
    i=i+1
else:
    print("-----------------------------")
print("By using for loop")
print("-----------------------------")
for ch in s:
    print("\t{}".format(ch))
else:
    print("-----------------------------")

-----------------------------
By using while loop
-----------------------------
	P
	Y
	T
	H
	O
	N
-----------------------------
By using for loop
-----------------------------
	P
	Y
	T
	H
	O
	N
-----------------------------

In [73]:
# to print the list using while & for loop 

lst=[10,"Rushikesh","Python Dev",50000,"Accenture"]
print("="*50)
for i in lst:
    print(i)
print("="*50)
i=0
while(i<len(lst)):
    print("{}".format(lst[i]))
    i=i+1

==================================================
10
Rushikesh
Python Dev
50000
Accenture
==================================================
10
Rushikesh
Python Dev
50000
Accenture

In [78]:
#Write a python program which will generate 1 to n numbers
# where n is a +ve by using for loop

n=eval(input("Enter n value: "))
if(n<=0):
    print("Invalid input")
for i in range(1,n+1):
    print("{}".format(i))

Enter n value: 10
1
2
3
4
5
6
7
8
9
10

In [81]:
#Write a python program which will generate 1 to n numbers
# where n is a +ve by using while loop

n=eval(input("Enter n value: "))
if(n<=0):
    print("Invalid input")
i=1
while(i<n+1):
    print("{}".format(i))
    i=i+1

Enter n value: 10
1
2
3
4
5
6
7
8
9
10

In [89]:
#Write a python program which will generate odd numbers within n 

n=eval(input("Enter n value: "))
for i in range(1,n+2,2):
    print("Odd numbers within {} is {}".format(n,i))

Enter n value: 10
Odd numbers within 10 is 1
Odd numbers within 10 is 3
Odd numbers within 10 is 5
Odd numbers within 10 is 7
Odd numbers within 10 is 9
Odd numbers within 10 is 11

In [91]:
n=int(input("Enter How Odd Numbers u want to generate:"))
if(n<=0):
    print("{} is Invalid Input".format(n))
else:
    print("-------------------------------")
    print("Odd Number within {}".format(n))
    print("-------------------------------")
    for i in range(1,n+1,2):
        print("\t{}".format(i))

Enter How Odd Numbers u want to generate:10
-------------------------------
Odd Number within 10
-------------------------------
	1
	3
	5
	7
	9

In [93]:
#write a python program which will calculate sum of the digits of the given number.
#DigitsSumEx1.py

num=input("Enter a Number for finding sum of its Digits:")
s=0
for val in num:         #1234 stores in val
    d=int(val)           #1234 convertg into integer value 
    s=s+d               #s=0+1 = 1
else:
    print("DigitsSum({})={}".format(num,s))

Enter a Number for finding sum of its Digits:1234
DigitsSum(1234)=10

In [111]:
#using while loop

num=eval(input("Enter a Number for finding sum of its Digits:"))
s=0
i=0
while(i<num): 
    d=int(i)
    s=s+d
i=i+1
print(s)

Enter a Number for finding sum of its Digits:1234

KeyboardInterrupt:

In [117]:
#Write a python program which will generate  n to 1 numbers
# where n is a +ve by using for loop.

for i in range(n,0,-1):
    print("{}".format(i))

3
2
1

In [118]:
n=int(input("Enter How Many Numbers u want to generate:"))
if(n<=0):
    print("{} is Invalid Input".format(n))
else:
    print("-------------------------------")
    print("Number from {} to {}".format(n,1))
    print("-------------------------------")
    for i in range(n,0,-1):
        print("\t{}".format(i))
    else:
        print("-------------------------------")

Enter How Many Numbers u want to generate:5
-------------------------------
Number from 5 to 1
-------------------------------
	5
	4
	3
	2
	1
-------------------------------

In [121]:
#Write a python program which will generate  even numbers within n
#where n is a +ve by using for loop.

n=eval(input("ENter n: "))
for i in range(2,n+2,2):
    print(i)

ENter n: 10
2
4
6
8
10

In [122]:
#even numbers prog in proper format

n=int(input("Enter How Many Even Numbers u want to generate:"))
if(n<=0):
    print("{} is Invalid Input".format(n))
else:
    print("-------------------------------")
    print("Even Number within {}".format(n))
    print("-------------------------------")
    for i in range(2,n+1,2):
        print("\t{}".format(i))

Enter How Many Even Numbers u want to generate:10
-------------------------------
Even Number within 10
-------------------------------
	2
	4
	6
	8
	10

In [126]:
#FActorial program
#Ex-- 3! ---> 3 * 2 *1 = 6

n=int(input("Enter  Number:"))
f=1
for i in range(1,n+1):
    f=f*i    #f= 1 * 1 =1   # i=2--> f= 1 *2=2   # i=3-->f= 2*3=6   # i=4 --> f= 6 #4= 24  # i=5--> f= 24 *5=120
else:
    print(f)

Enter  Number:5
120

In [128]:
n=int(input("Enter a Number for finding factorial:"))
if(n<0):
    print("{} is Invalid Input".format(n))
else:
    f=1
    for i in range(1,n+1):
        f=f*i
    else:
        print("Factorial({})={}".format(n,f))

Enter a Number for finding factorial:5
Factorial(5)=120

In [130]:
#Write a python program which will generate  n to 1 numbers & to find factorial of a number 

n=int(input("Enter a Number for finding factorial:"))
f=1
for i in range(n,0,-1):
    f=f*i
else:
    print(f)

Enter a Number for finding factorial:6
720

In [138]:
#write a python program which will accept list of names from the keyboard and find there length
#ListNamesWithLengthEx.py

n=int(input("How many names you want to enter:"))
lst=list()
for i in range(1,n+1):
    value=int(input("How many names you want to enter:"))
    lst.append(value)
print((list))

How many names you want to enter:3
How many names you want to enter:3
How many names you want to enter:3
How many names you want to enter:3
<class 'list'>

**BREAK**

In [11]:
s="PYTHON"
for i in s:
    print(i)
#using break , to print PYTH
print("="*50)
for i in s:
    if(i=="O"):
        break
    else:
        print(i)
else:
    print("Else part of for loop")
print("Other statemets of program")

P
Y
T
H
O
N
==================================================
P
Y
T
H
Other statemets of program

In [20]:
s="Python"
i=0
while(i<len(s)):
    print(s[i])
    i=i+1
print("="*50)
#To print Pytho
i=0
while(i<len(s)):
    if(s[i]=="n"):
        break
    else:
        print(s[i])
    i=i+1
else:
    print("else part of while loop")
print("Other stmnts of program")

P
y
t
h
o
n
==================================================
P
y
t
h
o
Other stmnts of program

In [25]:
lst=[10,20,"rossum",40.56,80]
#to print till rossum
for i in lst:
    if i==40.56:
        break
    else:
        print("Values in list are",i)

Values in list are 10
Values in list are 20
Values in list are rossum

In [34]:
#dict
#print upto 30

d={10:"Python",20:"Datascience",30:"R",40:"Java"}
for i,j in d.items():
    if i==40:
        break
    else:
        print("{}-->{}".format(i,j))

10-->Python
20-->Datascience
30-->R

In [38]:
#prime no.

n=eval(input("Enter n:"))
if(n<=1):
    print("{} is invalid input".format(n))
else:
    result=True
    for i in range(2,n):
        if(n%i==0):           # i=2, n=5 (5%2 not equal to 0), #i=3, n=5... i=5,n=5 (5%5==0)
            result=False
            break
    if(result):              #result is true , so below print stmnt is printed for n (5)
        print("{} is a prime number".format(n))
    else:
        print("{} is not a prime number".format(n))

Enter n:5
5 is a prime number

In [41]:
#
#prime no.

n=eval(input("Enter n:"))
if(n<=1):
    print("{} is invalid input".format(n))
else:
    result="Prime"
    for i in range(2,n):
        if(n%i==0):           #n=9 , i=2 # i=3,n=9, (n%i==> 9%3==0)
            result="Not Prime"  #so result becomes Not Prime
            break
    if(result=="Prime"):         #NotPrime==Prime (false), so else loop prints           
        print("{} is a prime number".format(n))
    else:
        print("{} is not a prime number".format(n))   # 9 is nt a prime number

Enter n:9
9 is not a prime number

In [42]:
#

#
#prime no.

n=eval(input("Enter n:"))
if(n<=1):
    print("{} is invalid input".format(n))
else:
    result=0
    for i in range(2,n):
        if(n%i==0):           #n=9 , i=2 # i=3,n=9, (n%i==> 9%3==0)
            result=1     #so result becomes 1
            break
    if(result==0):         #1==0(false) ,so else loop prints           
        print("{} is a prime number".format(n))
    else:
        print("{} is not a prime number".format(n))   # 9 is nt a prime number

Enter n:9
9 is not a prime number

In [54]:
#vowels

n=eval(input("Enter n value: "))
if(n<=0):
    print("{} is Invalid input".format(n))
else:
    lst=list()  
    for i in range(1,n+1):
        val=input("Enter words: ")
        lst.append(val)
    else:
        print("Given list of words are",lst)
        print("="*40)
        print("List of vowel words")
        print("="*40)
        for word in lst:
            if 'a' in word.lower() or 'e' in word.lower() or 'i' in word.lower() or 'o' in word.lower() or 'u' in word.lower():
                print(word)
        print("="*50)

Enter n value: 4
Enter words: gft
Enter words: rft
Enter words: hie
Enter words: hello
Given list of words are ['gft', 'rft', 'hie', 'hello']
========================================
List of vowel words
========================================
hie
hello
==================================================

In [57]:
#print vowels & consonants

n=eval(input("Enter n value: "))
if(n<=0):
    print("{} is Invalid input".format(n))
else:
    lst=list()  
    for i in range(1,n+1):
        val=input("Enter words: ")
        lst.append(val)
    else:
        print("Given list of words are",lst)
        vw=list()
        cw=list()
        for word in lst:
            if 'a' in word.lower() or 'e' in word.lower() or 'i' in word.lower() or 'o' in word.lower() or 'u' in word.lower():
                vw.append(word)
            else:
                cw.append(word)
        print("Vowels are",vw)
        print("Consonants are",cw)

Enter n value: 4
Enter words: gft
Enter words: hie
Enter words: you
Enter words: rft
Given list of words are ['gft', 'hie', 'you', 'rft']
Vowels are ['hie', 'you']
Consonants are ['gft', 'rft']

**CONTINUE**

In [63]:
#To display PTHN
#using for loop

s="PYTHON"
for i in s:
    if i=="Y" or i=="O":    #i=P --> P==Y or P==O (false), # i= "Y"--> "Y"=="Y" or "Y"="O" --> loop continues, so again i="T" so on
         continue             #i=H, i= "O" --> "O"=="Y" or "O" =="O" (continue)-> loop continues , i="N" comes out of loop
    else:                   #- and else part is printed
        print(i)
else:
    print("="*40)
    print("else part of for loop")

P
T
H
N
========================================
else part of for loop

In [70]:
#To display PTHN
#using while loop

s="PYTHON"
i=0
while(i<len(s)):
    if s[i]=="Y" or s[i]=="O":
        i=i+1
        continue
    print(s[i])
    i=i+1
else:
    print("="*50)
    print("Else part of while loop")

P
T
H
N
==================================================
Else part of while loop

In [76]:
#to add postve numbers 

lst=[10,-20,30,-40,50,-60,7,-7]
ps=0
for i in lst:
    if(i<0):          #if ngtve number comes loop continues 
        continue
    else:
        print(i)         #10, 30, 50 ,7
        ps=ps+i          # i=10, ps= 0+10  # i=30 ,ps=10 ==> 40,  #i=50, ps=40 ==> 50+40=90, # i=7, ps=90 ==> 90+7= 97
else:
    print("="*50)
    print("Positive sum is",ps)

10
30
50
7
==================================================
Positive sum is 97

In [77]:
#to add ngtve sum

lst=[10,-20,30,-40,50,-60,7,-7]
ps=0
for i in lst:
    if(i<0):        #i=10 (10<0)-->false , so it goes to else block (continue)--> loop continues
        print(i)    #i=-20 ( -20<0)--> True--> i=-20, ps= 0+ (-20)=-20 ,# i=30 (else block->loop continues)
        ps=ps+i      #i=-40 (-40<0)-->True.....
    else:
        continue
else:
    print("="*50)
    print("Positive sum is",ps)

-20
-40
-60
-7
==================================================
Positive sum is -127

**Nested loops examples**

In [36]:
#WAPP which will accpt lst of numerical values & display the multiplication table for every value of list (IMP)
#Nested loop
#list is taken

list=[10,4,5,-4]
for n in list: #outer loop
    if(n<=0):
        print("{} is Invalid input and no mulpn table".format(n))
    else:
        print("Multiplication table of {}".format(n))
        print("="*50)
        for i in range(1,11):         #inner loop
            print("{}x{}={}".format(n,i,n*i))
        else:
            print("="*50)

Multiplication table of 10
==================================================
10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100
==================================================
Multiplication table of 4
==================================================
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40
==================================================
Multiplication table of 5
==================================================
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50
==================================================
-4 is Invalid input and no mulpn table

In [39]:
##WAPP which will accpt lst of numerical values & display the multiplication table for every value of list (IMP)
#Nested loop
#Empty list is taken & use append 

l1=[]
n=eval(input("Enter how many multplication tables to print"))
if(n<=0):
    print("Invalid input")
else:
    for i in range(1,n+1):
        val=int(input("Enter value: "))
        l1.append(val)    #adding elements of val into list (l1)
    else:
        print("List is",l1)
        for n in l1:
            if(n<=0):
                print("{} is Invalid input and no mulpn table".format(n))
                print("="*50)
            else:
                print("Multiplication table of {}".format(n))
                print("="*50)
                for i in range(1,11):
                    print("{}x{}={}".format(n,i,n*i))
                else:
                    print("="*50)

Enter how many multplication tables to print3
Enter value: -9
Enter value: 10
Enter value: 39
List is [-9, 10, 39]
-9 is Invalid input and no mulpn table
==================================================
Multiplication table of 10
==================================================
10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100
==================================================
Multiplication table of 39
==================================================
39x1=39
39x2=78
39x3=117
39x4=156
39x5=195
39x6=234
39x7=273
39x8=312
39x9=351
39x10=390
==================================================

In [61]:
#WAP which will accpt list of numerical values & print nly prime numbers

l2=[9,3,5,8]
for n in l2:
    if(n<=0):
        print("Invalid input")
    else:
        print("="*50)
        for i in range(2,n):
            result=True
            if(n%i==0):
                result=False
                break
        if(result):
            print("{} is  a prime number".format(n))
        else:
            print("{} is not a prime number".format(n))

==================================================
9 is not a prime number
==================================================
3 is  a prime number
==================================================
5 is  a prime number
==================================================
8 is not a prime number

In [71]:
#Empty list
#to print nly prime no.s

l1=[]
n=eval(input("Enter how many number "))
if(n<=0):
    print("invalid input")
else:
    for i in range(1,n+1):
        val=int(input("Enter values: "))
        l1.append(val)
    else:
        print("List is",l1)
        for n in l1:        #outer for loop
            if(n<=0):
                print("{} is invalid input".format(n))
            else:
                result=True
                for i in range(2,n):     #inner for loop
                    result=True
                    if(n%i==0):
                        result=False
                        break
                if(result):
                    print("{} is  a prime number".format(n))
            #else:
                #print("{} is not a prime number".format(n))

Enter how many number 3
Enter values: -9
Enter values: 8
Enter values: 5
List is [-9, 8, 5]
-9 is invalid input
5 is  a prime number

In [72]:
#To print prime  non prime list seperately

#Empty list
#to print nly prime no.s

l1=[]
n=eval(input("Enter how many number "))
if(n<=0):
    print("invalid input")
else:
    for i in range(1,n+1):
        val=int(input("Enter values: "))
        l1.append(val)
    else:
        print("List is",l1)
        prime_list=[]
        non_prime_list=[]
        for n in l1:        #outer for loop
            if(n<=0):
                print("{} is invalid input".format(n))
            else:
                result=True
                for i in range(2,n):     #inner for loop
                    result=True
                    if(n%i==0):
                        result=False
                        break
                if(result):
                    prime_list.append(n)
                else:
                    non_prime_list.append(n)
        print("prime list",prime_list)
        print("non primelist",non_prime_list)

Enter how many number 4
Enter values: -10
Enter values: 9
Enter values: 5
Enter values: 3
List is [-10, 9, 5, 3]
-10 is invalid input
prime list [5, 3]
non primelist [9]

In [6]:
#To check whther user is eligible to vote or not

while(True):
    age=eval(input("Enter correct age to vote: "))
    if(age>=18):
        break
print("{} years old is Eligible for vote".format(age))

Enter correct age to vote: 12
Enter correct age to vote: 13
Enter correct age to vote: 26
26 years old is Eligible for vote

In [8]:
#To check whther user is eligible to vote or not

while(True):
    age=eval(input("Enter correct age to vote: "))
    if(age>=18) and (age<=100):
        break
print("{} years old is Eligible for vote".format(age))

Enter correct age to vote: 10
Enter correct age to vote: 15
Enter correct age to vote: 95
95 years old is Eligible for vote

In [11]:
#To check whther user is eligible to vote or not
#using count & asking to enter for limited number of tmes

count=0
while(count<=3):
    age=eval(input("Enter correct age to vote: "))
    if(age>=18) and (age<=100):
        break
    count+=1
if(count==4):
    print("Lost your chances to vote & not eligibile for voting")
else:
    print("{} years old is Eligible for vote".format(age))

Enter correct age to vote: 9
Enter correct age to vote: 7
Enter correct age to vote: 8
Enter correct age to vote: 25
25 years old is Eligible for vote

In [16]:
#WAPP which will accept student no., student name & 3 subject marks (C,C++ & Python).
#Calculate total marks,% of marks(assume max marks is 100)
#Given Grade=Fail provided student secured less than 40 in any of the given subjects
#Given Grade=Distinction (total marks btwe 300 and 250)
#Grade=First class (total marks btwe 249 and 200)
#Grade=Second class (total marks btwe 199 and 150)
#Grade=Third class (total marks btwe 149 and 120)
#Display the total marks memo of d student 

stud_no=eval(input("Enter student number: "))
stud_name=input("Enter student name: ")
subj1_marks=eval(input("Enter subject1 marks: "))
subj2_marks=eval(input("Enter subject2 marks: "))
subj3_marks=eval(input("Enter subject3 marks: "))
total_marks=subj1_marks+subj2_marks+subj3_marks
print("The total marks is",total_marks)
perc_of_marks=((total_marks)/300)*100
print("The percentage of marks is",perc_of_marks)
if(total_marks>250 and total_marks<300):
    print("Grade is DIstinction")
elif(total_marks>200 and total_marks<249):
    print("Grade is First class")
elif(total_marks>150 and total_marks<199):
    print("Grade is Second class")
elif(total_marks>120 and total_marks<149):
    print("Grade is Third class")
else:
    print("Fail")
print("="*40)
print("Marks Memo")
print("="*40)
print("Subject1 marks is",subj1_marks)
print("Subject2 marks is",subj2_marks)
print("Subject3 marks is",subj3_marks)
print("Total marks is",total_marks)
print("Percetage of marks is",perc_of_marks)

Enter student number: 100
Enter student name: acb
Enter subject1 marks: 80
Enter subject2 marks: 90
Enter subject3 marks: 97
The total marks is 267
The percentage of marks is 89.0
Grade is DIstinction
========================================
Marks Memo
========================================
Subject1 marks is 80
Subject2 marks is 90
Subject3 marks is 97
Total marks is 267
Percetage of marks is 89.0

In [10]:
#

stud_no=eval(input("Enter student number: "))
stud_name=input("Enter student name: ")
#Validation of C marks
while(True):
    C_marks=eval(input("Enter C marks: "))
    if(C_marks>0 and C_marks<=100):
        break
print("C subject marks is",C_marks)
#Validation of C ++ marks
while(True):
    CPP_marks=eval(input("Enter CPP marks: "))
    if(CPP_marks>0 and CPP_marks<=100):
        break
print("CPP subject marks is",CPP_marks)
#Validation of Python marks
while(True):
    Python_marks=eval(input("Enter Python marks: "))
    if(Python_marks>0 and Python_marks<=100):
        break
print("Python subject marks is",Python_marks)
total_marks=C_marks+CPP_marks+Python_marks
perc_marks=(total_marks/300)*100
#Atleast one subject should be passed
if(C_marks<40) or (CPP_marks<40) or (Python_marks<40):
    grade="FAIL"
else:
    if(total_marks<=350 and total_marks>=250):
        grade="Distinction"
    if(total_marks<=249 and total_marks>=200):
        grade="First"
    if(total_marks<=199 and total_marks>=50):
        grade="Second"
    if(total_marks<=149 and total_marks>=120):
        grade="Third"
print("="*40)
print("\t M a r k s M e m o")
print("="*40)
print("Student no is",stud_no)
print("Student name is",stud_name)
print("C marks is",C_marks)
print("CPP marks is",CPP_marks)
print("Python marks is",Python_marks)
print("Total marks is",total_marks)
print("Percentage of marks is",round(perc_marks,2))

Enter student number: 123
Enter student name: abc
Enter C marks: -10
Enter C marks: -9
Enter C marks: 60
C subject marks is 60
Enter CPP marks: 70
CPP subject marks is 70
Enter Python marks: 80
Python subject marks is 80
========================================
	 M a r k s M e m o
========================================
Student no is 123
Student name is abc
C marks is 60
CPP marks is 70
Python marks is 80
Total marks is 210
Percentage of marks is 70.0

In [11]:
#add

def add(a,b):
    return(a+b)
add(10,20)

30

In [12]:
#lmbda
#functionname=<lambda> argumnts :condtn 
add=lambda a,b:a+b
add(10,20)

30

In [14]:
#grtst of 2 numbers

def greatest(a,b):
    if(a>b):
        return(a)
    else:
        return(b)
greatest(20,10)

20

In [16]:
#lmbda
#func_name=lambda<args>:<if O/p> <if condtn> else <else output>

greatest=lambda a,b:a if a>b else b
greatest(20,10)

20

In [4]:
val=int(input("Enter any Numberical Value:"))
res="Number" if val not in[0,1,2,3,4,5,6,7,8,9,-0,-1,-2,-3,-4,-5,-6,-7,-8,-9] else "-Digit" if val in[-0,-1,-2,-3,-4,-5,-6,-7,-8,-9] else "+Digit"
print("{} is {}".format(val,res))

Enter any Numberical Value:0
0 is -Digit

**FUNCTIONS**

In [18]:
#WAPP to find the sum of 2 numbers using functions


def sum(a,b):
    """This program is used to calculate sum of 2 numbers"""    #doc string
    c=a+b
    return c   #it returns c value
sum1=sum(10,20)   #sum1 stores c value
print("Sum is",sum1)   
print("type of sum",type(sum))
print("Doc string of sum()",sum.__doc__)   #__doc__ is attribite to print doc string

Sum is 30
type of sum <class 'function'>
Doc string of sum() This program is used to calculate sum of 2 numbers

In [5]:
#WAPP to find the sum of 2 numbers using functions
#Method-1

def sum(a,b):
    c=a+b
    return c


#main program

x=eval(input("Enter x value: "))   #Frst program comes to main program & displaye x,y input stmnts , then func' sum(a,b) is called
y=eval(input("Enter y value: "))
sum1=sum(x,y)              #Storing result in sum1
print("Sum is",sum1)

Enter x value: 10
Enter y value: 20
Sum is 30

In [ ]:
#WAPP to find the sum of 2 numbers using functions
#Methd-2

def sum():
    a=eval(input("Enter a value: "))
    b=eval(input("Enter b value: "))
    c=a+b  #a,b,c are local vars
    print("The sum is",c)
sum()

In [6]:
#WAPP to find the sum of 2 numbers using functions
#Methd-2

def sum():
    a=eval(input("Enter a value: "))
    b=eval(input("Enter b value: "))
    c=a+b  #a,b,c are local vars
    return c
sum1=sum()
print("Sum is",sum1)

Enter a value: 10
Enter b value: 20
Sum is 30