In [ ]:
2^2        2^1        2^0

4           2          1

0           0          0 --->0
0           0          1 --->1
0           1          0 --->2
0           1          1---->3
1           0          0---->4
1           0          1--->5
1           1          0--->6
1           1          1 -->7

On->1, OFF->0

In [ ]:
#Three digits(2^2) ->      4    2   1
#Four  digits    (2^3)   ->   8  4    2   1
#Five digits  (2^4)-- > 16 8 4 2 1 
#Six digits (2^5)  ->32 8 4 2 1

In [1]:
0b11101   # 5 digit ( 16  8  4   2  1)-->  16 + 8 + 4 + 1

29

$hexa$

- Hexa has base 16

- Digits- 0 to 9, A to F -- > 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A(10), B(11), C(12), D(13), E(14), F(15)

- It is represented by '0x' or '0X'

- Ex-- '0xABC'  or '0Xef12'

In [3]:
2e4       #2 * 10 power 4

20000.0

In [4]:
2e6

2000000.0

In [5]:
2e-3     #2/10 power -3  ==> 2/1000

0.002

In [7]:
2e-5      # 2/10 power -5 ==> 2/100000

2e-05

In [9]:
1.00000000000000e-14

#1/0.00000000000000e
# answer is 0
# Bt in o/p we get 1e-14 , it meant '0'

1e-14

In [10]:
2e+3     #2 *10 power 3 ==> 2 * 1000

2000.0

In [11]:
2e3

2000.0

In [12]:
#Bool

a=True
type(a)

bool

In [13]:
b=False
type(b)

bool

In [19]:
true=100      
name=true
name

100

# oct 9th

# String

In [20]:
name=python       #python is not intialized so name error occurs

NameError: name 'python' is not defined

In [21]:
name1='python'
name1

'python'

In [22]:
type(name1)

str

In [23]:
name2="python"
name2

'python'

In [34]:
name4="""Hello 
         How are you"""
print(name4)

#doc string --- used when writing comments & represented by triple quotes

Hello
         How are you

# complex

In [35]:
complex()      #Importnt (Inside of braces, enter shift+tab )
               #If values are not provided inside he bracket, the default arguments will use i.e, (real=0 & img=0 ==> 0+0j)

0j

In [36]:
0+0j

0j

In [49]:
a=complex(3,5)
print(a)
type(a)

(3+5j)

complex

In [46]:
a.real

3.0

In [48]:
a.imag

5.0

# Basic Data types
- integer - int
- float   - float
- String - str
- Boolean- bool
- complex - complex

# Data type conversions

# Type casting

- Converting one data into another data type

# - Int to other data types

In [51]:
number=100
type(number)

int

In [55]:
#convert int to float

float_number=float(number)
float_number

100.0

In [56]:
type(float_number)

float

In [57]:
#convert int to str

str=str(number)
str

'100'

In [58]:
type(str)

str

In [59]:
# convert int to complex

complex_number=complex(number)
complex_number

(100+0j)

In [60]:
type(complex_number)

complex

In [75]:
complex_number.real

100.0

In [76]:
complex_number.imag

0.0

In [79]:
a=200
b=300
complex(a,b)

(200+300j)

In [80]:
complex(0,300)     # to print 300j

300j

In [65]:
#Convert int to bool
bool(number)

True

In [66]:
bool(200)      #other than 0, every number is treated as True(1)
bool(300)

True

In [67]:
bool(0)

False

In [69]:
bool(-100)

True

**float to other data types**

In [144]:
float_number=20.23
float_number

20.23

In [145]:
type(float_number)

float

In [63]:
#convert float to int

int_number=int(float_number)
int_number

20

In [64]:
type(int_number)

int

In [85]:
#convert float to bool

bool_num=bool(float_number)
bool_num

True

In [73]:
# convert float to complex

complex(float_number)

(20.23+0j)

In [81]:
a=200.87
b=300.01
complex(a,b)

(200.87+300.01j)

In [82]:
#to print 200.87

complex(a,0)

(200.87+0j)

In [83]:
# to print b value

complex(0,b)

300.01j

In [131]:
print(float_number,type(float_number))

20.23 <class 'float'>

In [147]:
#convert float into str

str(float_number)

'20.23'

In [133]:
#del str

In [142]:
a=str(float_number)
a

'20.23'

In [143]:
type(a)

str

In [135]:
print(float_number)

20.23

**String to othr data types**

In [94]:
str1='python'
str1

'python'

In [95]:
int(str1)

ValueError: invalid literal for int() with base 10: 'python'

In [96]:
float(str1)

ValueError: could not convert string to float: 'python'

In [97]:
bool(str1)

True

str2=" "
bool(str2)     

**empty string will provide False in case of bool function**

In [98]:
complex(str1)

ValueError: complex() arg is a malformed string

In [102]:
#Convert str to other data types
str3="10"
int(str3)

10

In [103]:
float(str3)

10.0

In [104]:
bool(str3)

True

In [105]:
complex(str3)

(10+0j)

In [106]:
str4="10.5"    #internally 10.5 is taken as float (float can'e be converted into int)
int(str4)

ValueError: invalid literal for int() with base 10: '10.5'

In [108]:
int('10')      #Internally 10 takes as int, this scneario will works

10

In [109]:
int('10.5')   # Internally 10.5 takes as float, it cant be convrted to int, it s impossible

ValueError: invalid literal for int() with base 10: '10.5'

In [115]:
float('10')

10.0

In [116]:
float('10.5')

10.5

In [107]:
float(str4)

10.5

In [110]:
complex(str4)

(10.5+0j)

In [111]:
str='10+20j'
int(str)

ValueError: invalid literal for int() with base 10: '10+20j'

In [112]:
float(str)

ValueError: could not convert string to float: '10+20j'

In [113]:
bool(str)

True

In [114]:
complex(str)

(10+20j)

In [119]:
#convert complex to other types
complex_number=10+20j
int(complex_number)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [120]:
float(complex_number)

TypeError: float() argument must be a string or a real number, not 'complex'

In [121]:
bool(complex_number)

True

In [122]:
str(complex_number)

TypeError: 'str' object is not callable