# Date:-Jan 31st,2022

In [1]:
hello

NameError: name 'hello' is not defined

In [1]:
hello hi hwruh
(error since it is selected as Code)

SyntaxError: invalid syntax (<ipython-input-1-8765c3a90748>, line 1)

Hello hwruh

In [ ]:
The above stmnt Hello hwruh is printed bcz Mark down option is selected from the above drop down

Program to add 2 no.s

In [3]:
a=20
b=15
c=a+b
c

35

# Variables

-which are not same , varies

In [4]:
a=200
b=200
c=d=200

In above ex, a,b,c,d are variables carrying 200 value

- Value can be assigned to a variable 

- A variable cannot be assigned to value

- Variable should be towards left side

In [5]:
20=a (Encountered error since variable can't be assigned to a value(literal))

SyntaxError: cannot assign to literal (<ipython-input-5-5725c34cdaab>, line 1)

In [6]:
a=20( It is working fine since it is properly assigned)

# Allowed variables

- Underscore(_)

- Numericals at ending of a value 

- Simple trick- If text color is other than black, then those are not considered as variables, error occurs in such cases

In [10]:
ab_12=10000

In [11]:
_as12=100

In [12]:
ab12_=20

In [13]:
ab1234=10

In [14]:
ab23(Encountered error since no value is assigned)

NameError: name 'ab23' is not defined

In [15]:
#Since Numeric is at beginning of value
123abc=100

SyntaxError: invalid syntax (<ipython-input-15-69a2c70214a2>, line 1)

In [16]:
#Since 123 is at beg' of value & special character '$'
123$asbc=10

SyntaxError: invalid syntax (<ipython-input-16-914856c783ab>, line 1)

In [17]:
@abc=10

SyntaxError: invalid syntax (<ipython-input-17-bef97f406f33>, line 1)

- hello=100-------->Allowed

- hi1234=100------->Allowed

- _12ab=100-------->Allowed

- 12_ab=100-------->Allowed

- 123abc=100----->Not allowed

- abc123=100----->allowed

- if=100------>Not allowed

- def=100----->Notallowed

Note:-If & def are called keywords(reserved words) in python hence can't be used as variables

# Keywords(Reserve words)
PFB link for keywords details
https://www.geeksforgeeks.org/python-keywords/

# package
- (Pkg->Modules->Python files(.py extension))

- Inorder to run the code, pkg should be imported

- Package is an open source which can be used by any user

- PFB link for Package
https://python-course.eu/python-tutorial/packages.php#:~:text=A%20package%20is%20basically%20a,the%20name%20__init__%20.&text=This%20means%20that%20every%20directory,several%20modules%20into%20a%20Package.

- PFB link to know dfrnce between Module,Package& Library
https://www.geeksforgeeks.org/what-is-the-difference-between-pythons-module-package-and-library/

In [20]:
import keyword
#here keyword is a package name

In [22]:
keyword
#it is showing the path of keyword module in pc

In [23]:
dir(keyword)  (Directory)
A directory or folder is a collection of files and subdirectories.
Python has the os module that provides us with many useful methods to work with directories (and files as well).

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'kwlist']

In [24]:
#pkgname.filename
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [25]:
import cv2 
#Error occred since module cv2 is  not available in pc

ModuleNotFoundError: No module named 'cv2'

In [30]:
#assigning kwlist to variable
#variable=pkgname.filename
reserved_words=keyword.kwlist
reserved_words

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In above, values present in kwlist are listed as o/p

In [31]:
#Gives length of reserved_words
len(reserved_words)

35

In [7]:
import keyword

In [8]:
keyword.__all__

['iskeyword', 'kwlist']

In [5]:
keyword.iskeyword

In [9]:
keyword.__builtins__

{'__name__': 'builtins',
 '__doc__': "Built-in functions, exceptions, and other objects.\n\nNoteworthy: None is the `nil' object; Ellipsis represents `...' in slices.",
 '__package__': '',
 '__loader__': _frozen_importlib.BuiltinImporter,
 '__spec__': ModuleSpec(name='builtins', loader=<class '_frozen_importlib.BuiltinImporter'>),
 '__build_class__': <function __build_class__>,
 '__import__': <function __import__>,
 'abs': <function abs(x, /)>,
 'all': <function all(iterable, /)>,
 'any': <function any(iterable, /)>,
 'ascii': <function ascii(obj, /)>,
 'bin': <function bin(number, /)>,
 'breakpoint': <function breakpoint>,
 'callable': <function callable(obj, /)>,
 'chr': <function chr(i, /)>,
 'compile': <function compile(source, filename, mode, flags=0, dont_inherit=False, optimize=-1, *, _feature_version=-1)>,
 'delattr': <function delattr(obj, name, /)>,
 'dir': <function dir>,
 'divmod': <function divmod(x, y, /)>,
 'eval': <function eval(source, globals=None, locals=None, /)>,
 'exec': <function exec(source, globals=None, locals=None, /)>,
 'format': <function format(value, format_spec='', /)>,
 'getattr': <function getattr>,
 'globals': <function globals()>,
 'hasattr': <function hasattr(obj, name, /)>,
 'hash': <function hash(obj, /)>,
 'hex': <function hex(number, /)>,
 'id': <function id(obj, /)>,
 'input': <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000001D236F27E50>>,
 'isinstance': <function isinstance(obj, class_or_tuple, /)>,
 'issubclass': <function issubclass(cls, class_or_tuple, /)>,
 'iter': <function iter>,
 'len': <function len(obj, /)>,
 'locals': <function locals()>,
 'max': <function max>,
 'min': <function min>,
 'next': <function next>,
 'oct': <function oct(number, /)>,
 'ord': <function ord(c, /)>,
 'pow': <function pow(base, exp, mod=None)>,
 'print': <function print>,
 'repr': <function repr(obj, /)>,
 'round': <function round(number, ndigits=None)>,
 'setattr': <function setattr(obj, name, value, /)>,
 'sorted': <function sorted(iterable, /, *, key=None, reverse=False)>,
 'sum': <function sum(iterable, /, start=0)>,
 'vars': <function vars>,
 'None': None,
 'Ellipsis': Ellipsis,
 'NotImplemented': NotImplemented,
 'False': False,
 'True': True,
 'bool': bool,
 'memoryview': memoryview,
 'bytearray': bytearray,
 'bytes': bytes,
 'classmethod': classmethod,
 'complex': complex,
 'dict': dict,
 'enumerate': enumerate,
 'filter': filter,
 'float': float,
 'frozenset': frozenset,
 'property': property,
 'int': int,
 'list': list,
 'map': map,
 'object': object,
 'range': range,
 'reversed': reversed,
 'set': set,
 'slice': slice,
 'staticmethod': staticmethod,
 'str': str,
 'super': super,
 'tuple': tuple,
 'type': type,
 'zip': zip,
 '__debug__': True,
 'BaseException': BaseException,
 'Exception': Exception,
 'TypeError': TypeError,
 'StopAsyncIteration': StopAsyncIteration,
 'StopIteration': StopIteration,
 'GeneratorExit': GeneratorExit,
 'SystemExit': SystemExit,
 'KeyboardInterrupt': KeyboardInterrupt,
 'ImportError': ImportError,
 'ModuleNotFoundError': ModuleNotFoundError,
 'OSError': OSError,
 'EnvironmentError': OSError,
 'IOError': OSError,
 'WindowsError': OSError,
 'EOFError': EOFError,
 'RuntimeError': RuntimeError,
 'RecursionError': RecursionError,
 'NotImplementedError': NotImplementedError,
 'NameError': NameError,
 'UnboundLocalError': UnboundLocalError,
 'AttributeError': AttributeError,
 'SyntaxError': SyntaxError,
 'IndentationError': IndentationError,
 'TabError': TabError,
 'LookupError': LookupError,
 'IndexError': IndexError,
 'KeyError': KeyError,
 'ValueError': ValueError,
 'UnicodeError': UnicodeError,
 'UnicodeEncodeError': UnicodeEncodeError,
 'UnicodeDecodeError': UnicodeDecodeError,
 'UnicodeTranslateError': UnicodeTranslateError,
 'AssertionError': AssertionError,
 'ArithmeticError': ArithmeticError,
 'FloatingPointError': FloatingPointError,
 'OverflowError': OverflowError,
 'ZeroDivisionError': ZeroDivisionError,
 'SystemError': SystemError,
 'ReferenceError': ReferenceError,
 'MemoryError': MemoryError,
 'BufferError': BufferError,
 'Warning': Warning,
 'UserWarning': UserWarning,
 'DeprecationWarning': DeprecationWarning,
 'PendingDeprecationWarning': PendingDeprecationWarning,
 'SyntaxWarning': SyntaxWarning,
 'RuntimeWarning': RuntimeWarning,
 'FutureWarning': FutureWarning,
 'ImportWarning': ImportWarning,
 'UnicodeWarning': UnicodeWarning,
 'BytesWarning': BytesWarning,
 'ResourceWarning': ResourceWarning,
 'ConnectionError': ConnectionError,
 'BlockingIOError': BlockingIOError,
 'BrokenPipeError': BrokenPipeError,
 'ChildProcessError': ChildProcessError,
 'ConnectionAbortedError': ConnectionAbortedError,
 'ConnectionRefusedError': ConnectionRefusedError,
 'ConnectionResetError': ConnectionResetError,
 'FileExistsError': FileExistsError,
 'FileNotFoundError': FileNotFoundError,
 'IsADirectoryError': IsADirectoryError,
 'NotADirectoryError': NotADirectoryError,
 'InterruptedError': InterruptedError,
 'PermissionError': PermissionError,
 'ProcessLookupError': ProcessLookupError,
 'TimeoutError': TimeoutError,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 'copyright': Copyright (c) 2001-2020 Python Software Foundation.
 All Rights Reserved.

 Copyright (c) 2000 BeOpen.com.
 All Rights Reserved.

 Copyright (c) 1995-2001 Corporation for National Research Initiatives.
 All Rights Reserved.

 Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
 All Rights Reserved.,
 'credits':     Thanks to CWI, CNRI, BeOpen.com, Zope Corporation and a cast of thousands
     for supporting Python development.  See www.python.org for more information.,
 'license': See https://www.python.org/psf/license/,
 'help': Type help() for interactive help, or help(object) for help about object.,
 '__IPYTHON__': True,
 'display': <function IPython.core.display.display(*objs, include=None, exclude=None, metadata=None, transient=None, display_id=None, **kwargs)>,
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001D236F27E80>>}

In [10]:
keyword.__package__

''

# Date:-Feb 1st, 2022

##Data types:

- Integer

- Float

- String

- Boolean

- Complex Conjugate

##Integer
- It is a number without decimal values

- Integer can be represented in binary, decimal,octal &hexa format

In [14]:
a=10
type(a)

int

##Binary

- Base is '2'

- Allowed values-0&1

- It is represented as 0b1101,0b01100...(Starting 2 places are fixed i.e.,0b)

In [19]:
a=0b1101   
a
# So consider  1     1     0     1
              2^3   2^2   2^1   2^0
            2^3*1  2^2*1 2^1*0 2^0*1
              8*1   4*1   2*0   1*1
              8+4+0+1=13

13

In [22]:
a=0b111
#1 1 1
#4+2+1=7
a

7

In [21]:
b=0b101
#1 0 1
#4*1+2*0+1*1
#5
b

5

In [23]:
c=0b011
 #0 1 1
 #2^2*0 + 2^1*1 + 2^0*1
 #3
c

3

In [24]:
c=0b110
#4+2 = 6
c

6

In [ ]:
Rule to be remember:-
#2^3 2^2 2^1 2^0

#8   4    2   1

##Octal

- Base is 8 

- 8 digits are allowed (0 to 7)

- Representation-- 0o123, 0o345, 0o576  (Starting by '0o')

In [25]:
a=0o100

#8^2 *1  + 8^1 *0 +8^0 *0
#64

a

64

In [26]:
a=0o123

#64 *1 + 8 *2 + 1 *3
# 64+16+3 = 83

a

83

In [27]:
b=0o212
#2 * 64 + 8*1 + 1*2
#138

b

138

In [28]:
c=0o1200
#512 *1 + 64 *2
#512+128 =  640

c

640

In [29]:
d=0o0222
#8^3*0 + 8^2*2 + 8^1*2 + 8^0*2
#64*2 + 8*2 + 1*2
#146

d

146

## Hexa

- Base is 16

- Allowed digits are 0 to 9 & A to F(i.e., 10 to 15)

- Representation- 0x12ab, 0xab23..(starting with '0x')

In [30]:
0xabc

#16^2 * 10 + 16^1 *11 + 16^0 *12
#256*10 + 176 + 12
#2560 +188 = 2748

2748

##Decimal
- Base is 10

- Allowed digits (0 to 9)

- Representation- 3214, 543.21...

# Any Input to Decimal vaue
a=0b101
a
#Binary is converted to decimal form

In [33]:
a=0o2345
a
#octal->Decimal

1253

In [34]:
a=0x123
a
#Hexa->Decimal

291

##Note

- Whatever might be the I/p(i.e.,Octal or hexal or binary) , o/p returned is decimal value only

# Binary to Octal
a=0b101
b=oct(a)
b

In [54]:
b=0o5
b

5

From above example, PFB observations
- 0b101 --> Binary = (5), since 0b represents Binary
- 0o5 ----> Octal  = (5), since 0o represents octal

# Binary to Hexa
a=0b101
b=hex(a)
b

In [41]:
b=0x5
b

5

From above ex, PFB obs's

- 0b101-->Binary =(5), since 0b represents binary

- 0x5-->Hexa=(5), since 0x represents hexa

- From both cases(Binary to octal & Binary to hexa) value derived is 5.. Indirectly, both are same(5)

In [44]:
a=0b001
b=oct(a)
c=hex(a)
b,c

#0b001 ->2(binary)

#oct(a)-> 0o1 ->2(Octal)

#Hex(a)-> 0x1 ->2(Hex)

('0o1', '0x1')

In [55]:
a=0o1
a

1

In [56]:
b=0x1
b

1

In [ ]:
#Note:-

- In both the cases, value is same (1)

# Octal to binary & hexa

In [48]:
a=0o1234
b=bin(a)
b

'0b1010011100'

In [49]:
a=0o1234
c=hex(a)
c

'0x29c'

In [50]:
a,b,c

(668, '0b1010011100', '0x29c')

In [51]:
a=668
b=0b1010011100
#1 0 1 0 0 1 1 1 0 0 ->512 +128+ 16 + 8 + 4 =  668
c=0x29c
# 2 9 c-> 16^2 * 2 + 16^1 *  9 + 16^0 *12 == 512 + 144 +12 ==  668
a,b,c

(668, 668, 668)

# Hexa to Octal & Binary

In [52]:
a=0xABCD
b=oct(a)
b

'0o125715'

In [56]:
a=0xABCD
b=bin(a)
b

'0b1010101111001101'

In [57]:
a=0o125715
a

43981

In [58]:
b=0b1010101111001101
b

43981

In [ ]:
- Binary to Octal & Hexa

- Octal to Binary & Hexa

- Hexa to Octary & Binary

- In all above 3 cases, Values will be same

# Date:- Feb 2nd, 2022

In [ ]:
##Print Statement

- Statements in print should be single quoted/double quoted(In Code form)

In [61]:
#ex---for above case
'Hello hwruh'

'Hello hwruh'

In [62]:
print('agd adj')

agd adj

In [77]:
#addition of no.s using print stmnt 
a=5
b=10
c=a+b
print(c)
print('the addition of 2 no.s is', c)
print('the addition of 2 no.s is =',c)
print('the addition of 2 no.s is :', c)

15
the addition of 2 no.s is 15
the addition of 2 no.s is = 15
the addition of 2 no.s is : 15

In [65]:
#print stmnt
a=0b1011
print(a)

11

In [69]:
#print
a=0b1011
print('the decimal value of a is', a)

the decimal value of a is 11

In [70]:
#print
a=0o123
print(a)

83

In [71]:
print('the decimal value of a is', a)

the decimal value of a is 83

In [92]:
course='Btech','Mtech','PGDM'
college='CMR','MRIT','IIRM'
City='Hyd','Hyd','Knr'
Pincode='500085','500085','505001'
#using print stmmnt
print(course)
print(college)
print(City)
print(Pincode)
#Print stmnt using single & double quotations with comma
print("Courses offered are",course)
print('Courses offered are',course)
#print stmnt using colon
print('Courses offered are:',course)
print("Courses offered are:",course)
#
print('Courses offered are=',course)
print("Courses offered are=",course)

('Btech', 'Mtech', 'PGDM')
('CMR', 'MRIT', 'IIRM')
('Hyd', 'Hyd', 'Knr')
('500085', '500085', '505001')
Courses offered are ('Btech', 'Mtech', 'PGDM')
Courses offered are ('Btech', 'Mtech', 'PGDM')
Courses offered are: ('Btech', 'Mtech', 'PGDM')
Courses offered are: ('Btech', 'Mtech', 'PGDM')
Courses offered are= ('Btech', 'Mtech', 'PGDM')
Courses offered are= ('Btech', 'Mtech', 'PGDM')

##Float

- Numbers allowed are decimal values(ex-1.23)

In [93]:
#print float no
a=1.23
print('the type of a is',type(a))

the type of a is <class 'float'>

In [94]:
#print integer no.
a=129
print('the type of a is:',type(a))

the type of a is: <class 'int'>

##String

- Allowed values are characters

- Represented in single & double quotations

In [95]:
#example of string
a='hello'
type(a)

str

In [101]:
#ex of string
a="hello"
type(a)

str

In [102]:
a="hello"

print("the type of a is:",type(a))

the type of a is: <class 'str'>

In [110]:
# To highlight a word(I'm fine) in the sentence enclosed by double quotes
a="hello there how are you 'Im fine',what about you?"
a
print("the value of a is:", a)

the value of a is: hello there how are you 'Im fine',what about you?

In [109]:
# To highlight a word(I'm fine) in the sentence enclosed by single quote
a='hello there how are you "Im fine",what about you?'
a
print('The value of a is', a)

The value of a is hello there how are you "Im fine",what about you?

In [112]:
#In order to print in such below sequence, triple quotes is advisable
#using triple quotes
a="""In which company 
        are you working"""
print(a)

In which company
        are you working

In [113]:
a="""In which company 
        are you working
            I'm working at VAM"""
print(a)

In which company
        are you working
            I'm working at VAM

In [1]:
#To print addn ,sub&mult of a given no.s 
#num1=50, num2=40
#Expected O/P:-
#   The addition of num1 & num2 is 90
#  The subtraction of num1 & num2 is 10
# The multiplication of num1 & num2 is 2000
    
num1=50
num2=40
sum1=num1+num2
sub=num1-num2
mul=num1*num2
print('The addition of num1 & num2 is',sum1)
print('The subtraction of num1 & num2 is',sub)
print('The multiplication of num1 & num2 is',mul)

The addition of num1 & num2 is 90
The subtraction of num1 & num2 is 10
The multiplication of num1 & num2 is 2000

In [122]:
#To print a person whose name is XYZ who lives in city Hyderabad in flat no. 504
#Expected O/P
# Person name  is XYZ
# Lives in Hyderabad city
# Flat no. 504

PersonName='XYZ'
CityName='Hyderabad city'
Flatno='504'
print("Person Name is",PersonName)
print("Lives in:",CityName)
print("Flat no. is=",Flatno)

Person Name is XYZ
Lives in: Hyderabad city
Flat no. is= 504

##complex conjugate

- It is in form of a+bj where a is real no. 

- b is complex no. or imaginary no.

- j is root(-1)

In [123]:
#ex-1 for complex no.
a=3+4j
type(a)

complex

In [124]:
#to print real no.
a.real

3.0

In [127]:
#to print imgnry or cmplx no.
a.imag

4.0

In [128]:
#Using print stmnt to print real no.
print('The value of real is',a.real)

The value of real is 3.0

In [130]:
#Using print statment to print imaginary no.
print('the value of imaginary no. is=',a.imag)

the value of imaginary no. is= 4.0

In [134]:
#ex-2 for complex no.
b=-5-9j
type(b)

complex

In [137]:
#print real no. using print stmnt
print('The value of real no. is',b.real)
print('The value of imaginary no. is',b.imag)

The value of real no. is -5.0
The value of imaginary no. is -9.0

In [138]:
print("Hello")
print("howruh")

Hello
howruh

In [141]:
# ex-1--To print 2 statements in same line --- end operator is used 
print("Hello",end='')
print("how are uh")

#Two sentences are merged using end operator with no space

Hellohow are uh

In [142]:
#Two stmnts are merged using end operator with single space
print("Hello",end=' ')
print("how are uh")

Hello how are uh

In [143]:
#By using and(&)operator in end 
print("Hello",end='&')
print("how are you")

Hello&how are you

In [155]:
#ex-2 -end operator
a=4+5j
print('The value of real number is',a.real,end=' ')
print('The value of imaginary number is',a.imag)

The value of real number is 4.0 The value of imaginary number is 5.0

In [157]:
#Instead of using 2 print stmnts, using 1 print stmnt , use format operator
ex-1
#The value of real number is 4.0&The value of imaginary number is 5.0
#The value of real number is {} & The value of imaginary number is {} 
# Instead of values, give empty curly braces followed by .format()

print("The value of real number is {} & The value of imaginary number is {}".format(a.real,a.imag))

The value of real number is 4.0 & The value of imaginary number is 5.0

# Date:-Feb 4th,2022

In [164]:
#Ex--2
b=10+14j
print("the value of real no.is",b.real,end='&')
print("the value of imaginary no. is",b.imag)

the value of real no.is 10.0&the value of imaginary no. is 14.0

In [165]:
#using format operator
print("the value of real no.is {}&the value of imaginary no. is {}".format(b.real,b.imag))

the value of real no.is 10.0&the value of imaginary no. is 14.0

In [176]:
#(using print,end & format operator)
d=100+108j
#Case---1
print("real no. is:",d.real)
print("imaginary no. is:",d.imag)
print("the value of real no. is",d.real)
print("the value of imaginary no. is",d.imag)
#Case---2
#using end with & operator
print("the value of real no is",d.real,end='&')
print("the value of imaginary no. is",d.imag)
#using end with no space''
print("the value of real no is",d.real,end='')
print("the value of imaginary no. is",d.imag)
#using end with single space ' '
print("the value of real no is",d.real,end=' ')
print("the value of imaginary no. is",d.imag)
#Case---3 (Format operator)
print("the value of real no is {}&the value of imaginary no. is {}".format(d.real,d.imag))

real no. is: 100.0
imaginary no. is: 108.0
the value of real no. is 100.0
the value of imaginary no. is 108.0
the value of real no is 100.0&the value of imaginary no. is 108.0
the value of real no is 100.0the value of imaginary no. is 108.0
the value of real no is 100.0 the value of imaginary no. is 108.0
the value of real no is 100.0&the value of imaginary no. is 108.0

In [193]:
#Using print,end&format operator
num1=10
num2=30
sum1=num1+num2
sub2=num2-num1
#using print
print("number1 is:",num1)
print("number 2 is:",num2)

print("the sum of number1 & number2 is=",sum1)
print("the sub of number1 & number2 is=",sub2)

#end 
print("number1 is:",num1,end=' &')
print("number 2 is:",num2)

#using end operator (&)
print("the sum of number1 & number2 is=",sum1,end=' & ')
print("the sub of number1 & number2 is=",sub2)
#using end operator ('')
print("the sum of number1 & number2 is=",sum1,end='')
print("the sub of number1 & number2 is=",sub2)
#using end operator(' ') 
print("the sum of number1 & number2 is=",sum1,end='  ')
print("the sub of number1 & number2 is=",sub2)

#using format operator (.format())
print("the sum of {} & {} is={}".format(num1,num2,sum1))
print("the sub of {} & {} is={}".format(num1,num2,sub2))

number1 is: 10
number 2 is: 30
the sum of number1 & number2 is= 40
the sub of number1 & number2 is= 20
number1 is: 10 &number 2 is: 30
the sum of number1 & number2 is= 40 & the sub of number1 & number2 is= 20
the sum of number1 & number2 is= 40the sub of number1 & number2 is= 20
the sum of number1 & number2 is= 40  the sub of number1 & number2 is= 20
the sum of 10 & 30 is=40
the sub of 10 & 30 is=20

In [44]:
#Total &avg of 2 numbers using format operator
num1=20
num2=30
total=num1+num2
avg=total/2
print('the total of num1 & num2 is:',total)
print('the avg of num1 & num2 is:',avg)
print('The total of {} & {} is {}'.format(num1,num2,total))
print('The average of {} & {} is {}'.format(num1,num2,avg))
print("the total & average of {} & {} is {} & {} ".format(num1,num2,total,avg))
print("the total is {} & the average is {}".format(total,avg))

the total of num1 & num2 is: 50
the avg of num1 & num2 is: 25.0
The total of 20 & 30 is 50
The average of 20 & 30 is 25.0
the total & average of 20 & 30 is 50 & 25.0
the total is 50 & the average is 25.0

In [20]:
#Total & avg of 2 numbers using end operator
num1=20
num2=30
total=num1+num2
avg=(num1+num2)/2

#using end operator(&)
print('The total of num1:',end='&')
print('The total of num2:',total)
#using end operator( )
print('The total of num1:',end=' ')
print('The total of num2:',total)
#using end operator()
print('The total of num1:',end='')
print('The total of num2:',total)

#using end operator(&)
print("The average of num1 is",end='&')
print("The average of num2 is:",avg)
#using end operator( )
print("The average of num1 is",end=' ')
print("The average of num2 is:",avg)
#using end operator()
print("The average of num1 is",end='')
print("The average of num2 is:",avg)

The total of num1:&The total of num2: 50
The total of num1: The total of num2: 50
The total of num1:The total of num2: 50
The average of num1 is&The average of num2 is: 25.0
The average of num1 is The average of num2 is: 25.0
The average of num1 isThe average of num2 is: 25.0

In [34]:
#to find square of  a number
num1=12
square_no=num1*num1
print('num1 is:',num1)
print('The square of num1 is:',num1)
print("the square of {} is: {} ".format(num1,square_no))

num1 is: 12
The square of num1 is: 12
the square of 12 is: 144

# using input statement

In [37]:
input("enter a number:")

enter a number:10

'10'

In [39]:
#assigning it to 'n'
n=input("enter a number:")

enter a number:10

'10'

In [40]:
#To store value in a variable
n

'10'

In [65]:
#Addition of 2 numbers
num1=input("Enter num1:")
num2=input("Enter num2:")
print('the number is:',num1)
print('the number is:',num2)

Enter num1:10
Enter num2:20
the number is: 10
the number is: 20

# Date:-Feb 5th,2022

In [61]:
type(num1),type(num2)

(str, str)

In [62]:
a=8
type(a)

int

In [8]:
#Addition of 2 numbers
# string type is converted to integer by giving int()
num1=int(input("Enter num1:"))
num2=int(input("Enter num2:"))
print('the number is:',num1)
print('the number is:',num2)
sum1=num1+num2
print('the sum is:',sum1)

Enter num1:10
Enter num2:20
the number is: 10
the number is: 20
the sum is: 30

In [5]:
n=input("Enter a no.")
b=input("Enter a no.")
type(n),type(b)

#Here, n &b are considered as string.

Enter a no.10
Enter a no.20

(str, str)

In [7]:
#In order to covert the above 2 values(n&b) into integer, use int()

n=int(input("Enter a number :"))
b=int(input("Enter a number :"))
type(n),type(b)

Enter a number :10
Enter a number :20

(int, int)

In [10]:
#To find sum & average of 3 numbers using Input

a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
c=int(input("Enter a number: "))
sum1=a+b+c
print("the sum of 3 numbers is:",sum1)
average=sum1/3
print("the average of 3 numbers is:",average)

Enter a number: 10
Enter a number: 10
Enter a number: 10
the sum of 3 numbers is: 30
the average of 3 numbers is: 10.0

In [25]:
#To find sum & average of 3 no.s using Input , end & format
a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
c=int(input("Enter a number: "))
sum1=a+b+c
average=sum1/3
#using end
print("The sum of 3 numbers is:",sum1,end=' & ')
print("The average of 3 numbers is:",average)
#using format operator
print('The average of {} {} {} is:{}'.format(a,b,c,average))
print('The sum of {} {} {} is:{}'.format(a,b,c,sum1))
print('the sum is {} & the average is {}'.format(sum1,average))

Enter a number: 10
Enter a number: 10
Enter a number: 10
The sum of 3 numbers is: 30 & The average of 3 numbers is: 10.0
The average of 10 10 10 is:10.0
The sum of 10 10 10 is:30
the sum is 30 & the average is 10.0

In [28]:
#To find addition,subtraction,multiplication of 3 numbers using Input ,format&end operator 
a=int(input("Enter a number"))
b=int(input("Enter a number"))
c=int(input("Enter a number"))
sum1=a+b+c
sub1=a-b-c
mult1=a*b*c

#using print & without format operator
print('The addition of 3 numbers is:',sum1)
print('The subtraction of 3 numbers is:',sub1)
print('The multiplication of 3 numbers is:',mult1)

#using format operator
print('The addition of {} {} {} is {}'.format(a,b,c,sum1))
print('The subtraction of {} {} {} is {}'.format(a,b,c,sub1))
print('The multiplication of {} {} {} is {}'.format(a,b,c,mult1))

#using format operator
print('The addition is {} ,The subtraction is {} & The multiplication is {}'.format(sum1,sub1,mult1))

#using end operator
print('The addition of 3 no.s is',sum1,end=',')
print('The subtraction of 3 no.s is',sub1,end=' & ')
print('The multiplication of 3 no.s is',mult1)

Enter a number30
Enter a number20
Enter a number10
The addition of 3 numbers is: 60
The subtraction of 3 numbers is: 0
The multiplication of 3 numbers is: 6000
The addition of 30 20 10 is 60
The subtraction of 30 20 10 is 0
The multiplication of 30 20 10 is 6000
The addition is 60 ,The subtraction is 0 & The multiplication is 6000
The addition of 3 no.s is 60,The subtraction of 3 no.s is 0 & The multiplication of 3 no.s is 6000

# Float data type

In [48]:
#Ex--1
a=float(input("Enter a number: "))
b=float(input("Enter a number: "))
a+b

Enter a number: 10.5
Enter a number: 20.5

31.0

In [49]:
#Ex--2
a=float(input("Enter a number: "))
b=float(input("Enter a number: "))
print("The addn is:",a+b)
print("The sub is:",a-b)
print("the mult is :",a*b)

Enter a number: 2.5
Enter a number: 10.0
The addn is: 12.5
The sub is: -7.5
the mult is : 25.0

#Note:--Instead of giving integer or float data type everytime ," eval" can be used

- If input entered is int, eval automatically consider the value as integer

- If input entered is float, eval automatically consider it as float

- String is not allowed

In [60]:
#using "eval"( given integer values while  running)
a=eval(input("Enter a no.: "))
b=eval(input("Enter a no.: "))
print(a+b)
print(a*b)

#using eval(given float values while running)
a=eval(input("Enter a no.: "))
b=eval(input("Enter a no.: "))
print(a+b)
print(a*b)

#using eval(given one int & one float value while running)
a=eval(input("Enter a no.: "))
b=eval(input("Enter a no.: "))
print(a+b)
print(a*b)

#String is passed here (But error occured since string value is not accepted by "eval")
a=eval(input("Enter a number:"))
b=int(input("Enter a number:"))
print(a+b)


#Note-- Whatever might be the data type, eval adapts to it & works accordingly

Enter a no.: 10
Enter a no.: 20
30
200
Enter a no.: 10.5
Enter a no.: 12.5
23.0
131.25
Enter a no.: 12
Enter a no.: 20.5
32.5
246.0
Enter a number:hellothere

NameError: name 'hellothere' is not defined

# Date:-Feb 7th,2022

In [62]:
n1=int(input("Enter a no."))
n2=eval(input("Enter a no."))
print(n1+n2)

Enter a no.20
Enter a no.hello

NameError: name 'hello' is not defined

In [1]:
n1=input("Enter a no.")
n2=eval(input("Enter a no."))
print(n1+n2)

#error occured-- since integer & string values can't be concatenated

Enter a no.hello
Enter a no.10

TypeError: can only concatenate str (not "int") to str

In [5]:
# WAP to find average of 3 numbers by using eval 
num1=eval(input("Enter a number: "))
num2=eval(input("Enter a number: "))
num3=eval(input("Enter a number: "))
sum1=num1+num2+num3
average=sum1/3
print("The average of 3 numbers is: ",average)
#using format
print("The average of {} {} {} is {}:".format(num1,num2,num3,average))

Enter a number: 10
Enter a number: 20.5
Enter a number: 30
The average of 3 numbers is:  20.166666666666668
The average of 10 20.5 30 is 20.166666666666668:

In [6]:
#WAP to calculate total salary based on no. of hours, enter no. of hrs worked &rate per hour
#rate per hour =500 

n=int(input("Enter no. of hours: "))
rph=500
print("rate per hour is: ",rph)
print("The total salary is: ",n*rph)

Enter no. of hours: 7
rate per hour is:  500
The total salary is:  3500

In [13]:
#Include tax (10%) & calculate tax based on salary 

n=int(input("Enter no. of hours: "))
rph=int(input("Enter rate per hour:" ))
tax=int(input("Enter tax per year: "))
salary=(n*rph)
tax_payable=salary*tax/100
print("The total salary is: ",salary,"/-")
print("Tax payable per year is: ",tax_payable,"/-")

Enter no. of hours: 7
Enter rate per hour:500
Enter tax per year: 10
The total salary is:  3500 /-
Tax payable per year is:  350.0 /-

In [14]:
print("The addition of 3+4 is:",7)

The addition of 3+4 is: 7

In [19]:
#to print (full stop .) after 3+4
print("The addition of 3+4 is:",3+4,".")

The addition of 3+4 is: 7 .

In [ ]:
# Separator opeartor(sep)

-

In [31]:
print("howruh",".",sep='')

print("hi","!","howruh",sep='')

print("hi","howruh","!",sep='')

howruh.
hi!howruh
hihowruh!

In [3]:
#using separator operator
print("The addition of 3+4 is:",3+4,".",sep='')

The addition of 3+4 is:7.

In [4]:

print("The addition of 3+4 is:",3+4,end='.')

The addition of 3+4 is: 7.

# Date:-feb 9th,2022

In [6]:
#using seperator ( & )
print("Hello","Hi","Howruh",sep='&')

#Every word is seperated by '&'

Hello&Hi&Howruh

In [9]:
print("Hello","Hi",'.',sep='')

HelloHi.

In [1]:
#WAP to print square of a number using sep operator
#sq of no - 25.

n=int(input("Enter a number: "))
sq=n*n
#printing square of a no. uing seperator operator
print("The square of a number is: ",sq,'.',sep='')
#without using sep operator
print("The square of a number is: ",sq,'.')
#
print("The square of a number is: ",sq,'.',sep='.')

Enter a number: 12
The square of a number is: 144.
The square of a number is:  144 .
The square of a number is: .144..

In [8]:
#WAP to calculate area of a circle
r=int(input("Enter the value of radius "))
pi=eval(input("the value of pi is: "))
print("The area of circle is:",pi*r*r)

#Using seperator operator(i.e., it is sepearted by '.')
print("The area of circle is: ",pi*r*r,'.',sep='.')

#using sep operator (to end the print stmnt by fullstop soon after cmpltn of sentence)
print("The area of a circle is: ",pi*r*r,'.',sep='')

#To print fullstop after print stmnt without using "seperator operator"
print("The area of a circle is: ",pi*r*r,'.')

#full stop prints after one space of value as shown below

Enter the value of radius 12
the value of pi is: 3.14
The area of circle is: 452.15999999999997
The area of circle is: .452.15999999999997..
The area of a circle is: 452.15999999999997.
The area of a circle is:  452.15999999999997 .

In [23]:
#WAP that computes & print result of 512-282/47.48+5 (approx it is equal to .1017)
a=eval(input("Enter the value of a: "))#512-282
b=eval(input("Enter the value of b: "))#47.48+5
c=eval(input("Enter the value of c: "))
d=eval(input("Enter the value of d: "))
a1=a-b
b1=c+d
print("The value is:",a1/b1)

a=512-282
a
b=47.48+5
b
print(a/b)

Enter the value of a: 512
Enter the value of b: 282
Enter the value of c: 47.48
Enter the value of d: 5
The value is: 4.382621951219512

In [11]:
#WAP to print square of a no.('5') using seperator & make sure it ends by (.)soon after print stmnt
n=int(input("Enter a number: "))
sq=n*n
print("The square of a number is :",sq,'.',sep='')

Enter a number: 5
The square of a number is :25.

In [9]:
#To print x,2x,3x,4x & 5x and to seperate the sequence using 3 dashed lines
n=int(input("Enter a number: "))
print("Sequence is: ",n,end='---')
print(2*n,end='---')
print(3*n,end='---')
print(4*n,end='---')
print(5*n,end='---')

#using seperator operator
print("Sequence is: ",n,2*n,3*n,4*n,5*n,sep='---')

Enter a number: 10
Sequence is:  10---20---30---40---50---Sequence is: ---10---20---30---40---50

In [18]:
#WAP to write weight in kgs & convert it into pounds (1 kg=2.2)
weight=eval(input("Enter weight in kgs: "))
pound=eval(input("Enter pound value: "))
result=weight*pound
print("the final value is:",result)

Enter weight in kgs: 50
Enter pound value: 2.2
the final value is: 110.00000000000001

In [19]:
#WAP such that user enter 3 numbers using 3 dfrnt i/p stmnts ,
# cont--- store sum in total variable & average of 3 nos in average variable

a=eval(input("Enter first number: "))
b=eval(input("Enter second number: "))
c=eval(input("Enter third number: "))
sum=a+b+c
average=sum/3
print("The sum of 3 numbers is: ",sum)
print("The average of 3 numbers is: ",average)

Enter first number: 10
Enter second number: 20
Enter third number: 30
The sum of 3 numbers is:  60
The average of 3 numbers is:  20.0

In [21]:
#WAP such that ask user to enter price of meal, tip for meal(in %) and print tip amount & total bill with tip included

price=eval(input("Enter price of a meal: "))
tip=eval(input("Enter tip per a meal: "))
tip_amount=(tip/100)*price (Since it is in %, to convert into amnt value, dividing the tip by 100)
total_bill=price+tip_amount
print("The tip amnt is: ",tip_amount)
print("The total bill is: ",total_bill)

Enter price of a meal: 50
Enter tip per a meal: 10
The tip amnt is:  5.0
The total bill is:  55.0

#Function

- To call a stmnt multiple times , function is used

- syntax-- def(functionname):

In [29]:
def a():
    print("hello")
a()

hello

In [31]:
def a():
    print(2+3)
    print(2*3)
    print(2/3)
    print(2%3)
a()

5
6
0.6666666666666666
2

In [32]:
#here function name is "sum1" & def("define") is keyword
def sum1():
    a=eval(input("Enter value of a: "))
    b=eval(input("Enter value of b: "))
    c=eval(input("Enter value of c: "))
    sum1=a+b+c
    mul=a*b*c
    sub=a-b-c
    div=a/b/c
    print("The sum of {} {} {} is {}".format(a,b,c,sum1))
    print("The multiplication of {} {} {} is {}".format(a,b,c,mul))
    print("The subtraction of {} {} {} is {}".format(a,b,c,sub))
    print("The division of {} {} {} is {}".format(a,b,c,div))
    
#here function call of sum1, so system enters into sum1() and runs the code block within of "sum1"
sum1()

Enter value of a: 50
Enter value of b: 40
Enter value of c: 30
The sum of 50 40 30 is 120
The multiplication of 50 40 30 is 60000
The subtraction of 50 40 30 is -20
The division of 50 40 30 is 0.041666666666666664

# Date:-feb 10th,2022

In [1]:
# WAP using functions to subtract numbers
def sub():
    a=eval(input("Enter a number: "))
    b=eval(input("Enter a number: "))
    c=a-b
    print("The subtraction of 2 numbers is {}".format(c))
#calling sub function(code within the block runs )
sub()

Enter a number: 30
Enter a number: 15
The subtraction of 2 numbers is 15

In [3]:
#WAP using functions & find average &total of 3 numbers
def value():
    a=eval(input("Enter a number: "))
    b=eval(input("Enter a number: "))
    c=eval(input("Enter a number: "))
    total=a+b+c
    average=total/3
    print("The total of {} {} {} is {}".format(a,b,c,total),'.',sep='')
    print("The average of {} {} {} is {}".format(a,b,c,average),'.',sep='')
value()

Enter a number: 30
Enter a number: 25
Enter a number: 20
The total of 30 25 20 is 75.
The average of 30 25 20 is 25.0.

In [6]:
#Enter no. of working hours ,rate per hr &calc salary. Using functions
def salary():
    n=eval(input("Enter no. of working hours: "))
    rph=eval(input("Enter rate per hour: "))
    salary=n*rph
    print("The total salary is: {}".format(salary))
salary()

Enter no. of working hours: 7
Enter rate per hour: 120
The total salary is: 840

# Functions without arguments or parameters

- Function also known as "method"

- def func()

- ex's:-def sum1(): , def sub1():

#Functions with arguments

- def func(a,b):

In [10]:
#addn of 2 no's using function without arguments
def sum1():
    a=eval(input("Enter value of a: "))
    b=eval(input("Enter value of b: "))
    c=a+b
    print("The sum of {} {} is {}".format(a,b,c))
sum1()

#addn of 2 no's using function with arguments
#Remove 2 i/p stmnts (a&b) and give it inside of function (sum)
def sum1(a,b):
    c=a+b
    print(c)
    
#while calling "sum1" function, give arguments as numbers-
# cont' ---so that those will be considered as input while calculating sum   

sum1(20,30)

Enter value of a: 20
Enter value of b: 30
The sum of 20 30 is 50
50

In [14]:
#WAP to find total salary using functions without arguments
def salary():
    n=eval(input("Enter no. of working hours: "))
    rph=eval(input("Enter rate per hour: "))
    salary=n*rph
    print("The total salary is: {}".format(salary))
salary()

#WAP to find total salary using functions with arguments
def salary(n,rph):
    salary=n*rph
    print("The total salary is: {}".format(salary))
salary(7,120)

#Instead of giving 2 arguments, pass one argument(n)
def salary(n):
    rph=eval(input("Enter rate per hour: "))
    salary=n*rph
    print("The total salary is: {}".format(salary))
salary(7)

Enter no. of working hours: 7
Enter rate per hour: 120
The total salary is: 840
The total salary is: 840
Enter rate per hour: 120
The total salary is: 840

In [12]:
#WAP using functions w/o arguments & find average &total of 3 numbers
def value():
    a=eval(input("Enter a number: "))
    b=eval(input("Enter a number: "))
    c=eval(input("Enter a number: "))
    total=a+b+c
    average=total/3
    print("The total of {} {} {} is {}".format(a,b,c,total),'.',sep='')
    print("The average of {} {} {} is {}".format(a,b,c,average),'.',sep='')
value()

#WAP using functions with arguments & find average &total of 3 numbers
def value(a,b,c):
    total=a+b+c
    average=total/3
    print("The total of {} {} {} is {}".format(a,b,c,total),'.',sep='')
    print("The average of {} {} {} is {}".format(a,b,c,average),'.',sep='')
value(10,20,30)
#here inside value(function), arguments passed are 10,20,30 .
#cont' ---- So, when we call value function, the above block runs by taking i/p as 10,20&30

Enter a number: 10
Enter a number: 20
Enter a number: 30
The total of 10 20 30 is 60.
The average of 10 20 30 is 20.0.
The total of 10 20 30 is 60.
The average of 10 20 30 is 20.0.

In [33]:
#using func's w/o arguments
def greet():
    print("hi there")
greet()

hi there

In [35]:
#Write a function call ( whatever is passed as argument, that should be reflected in o/p beside hello,here hello should be fixed)
#greet('pragnya')-->'hello pragnya'

def greet(name):
    print('Hello',name)
greet('Pragnya')

#here name is a variable which can be varied by giving other I/p's

def greet(name):
    print('Hello',name)
greet('Pranavi')

Hello Pragnya
Hello Pranavi

In [45]:
#WAp to print name,city & father's name 
name=input("My name is: ")
City=input("My city is: ")
FatherName=input("My father's name is:" )
print("My name is:",name)
print("My city is:",City)
print("My Father's name is:",FatherName)

My name is: Pragnya
My city is: Knr
My father's name is:Linganna
My name is: Pragnya
My city is: Knr
My Father's name is: Linganna

In [44]:
##using fun's with arguments, enter name,city& father's name
#My name is pragnya, #My city is hyd # my father name is linganna

def info(name,City,FatherName):
    print("My name is:",name,"My city is:",City,"My Father's name is:",FatherName)
info('Pragnya','Knr','Linganna')

My name is: Pragnya My city is: Knr My Father's name is: Linganna

In [49]:
#sq of a no.
n=int(input("Enter a number: "))
sq=n*n
print("The square of a number is: ",sq)

#using functions w/o arguments
def square():
    n=int(input("Enter a number: "))
    sq=n*n
    print("The square of a number is: ",sq)
square()

#with arguments
def square(n):
    sq=n*n
    print("The square of a number is: ",sq)
square(14)

Enter a number: 13
The square of a number is:  169
Enter a number: 12
The square of a number is:  144
The square of a number is:  196

In [13]:
#WAP to find factorial of a number
a=eval(input("Enter the number: "))
f=a*(a-1)
print(f)

Enter the number: 5
20

In [12]:
#WAP to find factorial of a no. using fun's with arguments
def factorial(n):
    f=n*(n-1)
    print(f)
factorial(5)

20

In [14]:
#WAP such that ask user to enter price of meal, tip for meal(in %) and print tip amount & total bill with tip included
price=eval(input("Enter price of a meal: "))
tip=eval(input("Enter tip per a meal: "))
tip_amount=price*(tip/100)
total_bill=price+tip_amount
print("The tip amount is: ",tip_amount)
print("The total bill is: ",total_bill)

Enter price of a meal: 1000
Enter tip per a meal: 10
The tip amount is:  100.0
The total bill is:  1100.0

In [15]:
#using functions w/o arguments
def amount():
    price=eval(input("Enter price of a meal: "))
    tip=eval(input("Enter tip per a meal: "))
    tip_amount=price*(tip/100)
    total_bill=price+tip_amount
    print("The tip amount is: ",tip_amount)
    print("The total bill is: ",total_bill)
amount()

Enter price of a meal: 1000
Enter tip per a meal: 10
The tip amount is:  100.0
The total bill is:  1100.0

In [18]:
#Using functions with arguments
def amount(price,tip):
    tip_amount=price*(tip/100)
    total_bill=price+tip_amount
    print("The tip amount is: ",tip_amount)
    print("The total bill is: ",total_bill)
amount(1000,10)

#Using functions with arguments (Default Argument)
#tax percentage value is passed within arguments (Default argument)
def amount(price,tip_percentage=10):
    tip_amount=price*(tip_percentage/100)
    total_bill=price+tip_amount
    print("The tip amount is: ",tip_amount)
    print("The total bill is: ",total_bill)
amount(2000)

The tip amount is:  100.0
The total bill is:  1100.0
The tip amount is:  200.0
The total bill is:  2200.0

In [19]:
#While function call, 2 values are passed (price & tip_%). 
#cont'--- hence, instead of 10% ,40% would be considered as tip_percentage.Based on 40%,Total bill gets calculated
def amount(price,tip_percentage=10):
    tip_amount=price*(tip_percentage/100)
    total_bill=price+tip_amount
    print("The tip amount is: ",tip_amount)
    print("The total bill is: ",total_bill)
amount(2000,30)

The tip amount is:  600.0
The total bill is:  2600.0

In [20]:
#
def amount():
    price=eval(input("Enter price of a meal: "))
    tip=eval(input("Enter tip per a meal: "))
    tip_amount=price*(tip/100)
    total_bill=price+tip_amount
    print("The tip amount is: ",tip_amount)
    print("The total bill is: ",total_bill)
amount(1000)

#Error occured since while defining function no arguments been passed & but while calling the function 1000 is passed .

TypeError: amount() takes 0 positional arguments but 1 was given

In [21]:
#
def amount():
    price=1000
    tip=10
    tip_amount=price*(tip/100)
    total_bill=price+tip_amount
    print("The tip amount is: ",tip_amount)
    print("The total bill is: ",total_bill)
amount(1000,20)
    
    #Error occured since while defining function no arguments been passed 
    #& but while calling the function 1000&20 are passed .

TypeError: amount() takes 0 positional arguments but 2 were given

In [24]:
#
def amount():
    #price1=1000
    tip=10
    tip_amount=price1*(tip/100)
    total_bill=price1+tip_amount
    print("The tip amount is: ",tip_amount)
    print("The total bill is: ",total_bill)
amount()

#Error occured since price1 is not defined

NameError: name 'price1' is not defined

In [26]:
#
def amount():
    price=1000
    #tip1=10
    tip_amount=price*(tip1/100)
    total_bill=price+tip_amount
    print("The tip amount is: ",tip_amount)
    print("The total bill is: ",total_bill)
amount()

#Error occured since tip1 is not defined

NameError: name 'tip1' is not defined

In [ ]:
#here, price2 is a global variable
price2=1000
def amount(): #variable within this block are called local variables
    tip=10
    tip_amount=price2*(tip/100)
    total_bill=price2+tip_amount
    print("The tip amount is: ",tip_amount)
    print("The total bill is: ",total_bill)
amount()

- Global variables- Which are defined outside of the function, but can be used throughtout the program

- Local variables- Which are defined within a function& can be used inside a function

In [35]:
#Global variable example:-
#Here,a is global variable
a=10
def sum():
    b=20
    print(a+b)
sum()

30

In [36]:
#Local Variable:-
#Here a & b are local variables
def sum():
    b=20
    print(a+b)
sum()

30

In [2]:
#Method 1 -
price=eval(input("Enter price of a meal: "))
tip=eval(input("Enter tip per a meal: "))
tip_amount=price*(tip/100)
total_bill=price+tip_amount
print("The tip amount is: ",tip_amount)
print("The total bill is: ",total_bill)

Enter price of a meal: 50
Enter tip per a meal: 10
The tip amount is:  5.0
The total bill is:  55.0

In [3]:
#Method 2-Using Functions w/o arguments
def amount():
    price=eval(input("Enter price of a meal: "))
    tip=eval(input("Enter tip per a meal: "))
    tip_amount=price*(tip/100)
    total_bill=price+tip_amount
    print("The tip amount is: ",tip_amount)
    print("The total bill is: ",total_bill)
amount()

Enter price of a meal: 50
Enter tip per a meal: 10
The tip amount is:  5.0
The total bill is:  55.0

In [4]:
#Method 3-Using functions with arguments
def amount(price,tip):
    tip_amount=price*(tip/100)
    total_bill=price+tip_amount
    print("The tip amount is: ",tip_amount)
    print("The total bill is: ",total_bill)
amount(1000,10)

The tip amount is:  100.0
The total bill is:  1100.0

In [1]:
#Method-4(Using functions with arguments (Default Argument)
#tax percentage value is passed within arguments (Default argument)
def amount(price,tip_percentage=10):
    tip_amount=price*(tip_percentage/100)
    total_bill=price+tip_amount
    print("The tip amount is: ",tip_amount)
    print("The total bill is: ",total_bill)
amount(2000)

The tip amount is:  200.0
The total bill is:  2200.0

In [9]:
#Method-5(Global & Local variables)
price2=1000
def amount(): #variable within this block are called local variables
    tip=10
    tip_amount=price2*(tip/100)
    total_bill=price2+tip_amount
    print("The tip amount is: ",tip_amount)
    print("The total bill is: ",total_bill)
amount()

#passing tip as a argument
price2=1000
def amount(tip): #variable within this block are called local variables
    tip_amount=price2*(tip/100)
    total_bill=price2+tip_amount
    print("The tip amount is: ",tip_amount)
    print("The total bill is: ",total_bill)
amount(20)

#Tip is given as i/p stmnt & no arguments are passed 
price2=1000
def amount(): #variable within this block are called local variables
    tip=eval(input("Enter tip per a meal: "))
    tip_amount=price2*(tip/100)
    total_bill=price2+tip_amount
    print("The tip amount is: ",tip_amount)
    print("The total bill is: ",total_bill)
amount()

The tip amount is:  100.0
The total bill is:  1100.0
The tip amount is:  200.0
The total bill is:  1200.0
Enter tip per a meal: 30
The tip amount is:  300.0
The total bill is:  1300.0

In [38]:
#WAP to calculate tax payable & total salary
#No. of working hrs , rate per hour , tax %
#Method-1:-

n=eval(input("Enter no. of working hours: "))
rph=eval(input("Enter rate per hour: "))
tax=eval(input("Enter tax: "))
salary=n*rph
tax_amount=(tax/100)*salary
Total_salary=tax_amount+salary
print("The total salary is:",Total_salary)
print("The tax payable is:",tax_amount)

Enter no. of working hours: 7
Enter rate per hour: 120
Enter tax: 10
The total salary is: 924.0
The tax payable is: 84.0

In [39]:
#Method-2 (Using functions w/o arguments)
def payment():
        n=eval(input("Enter no. of working hours: "))
        rph=eval(input("Enter rate per hour: "))
        tax=eval(input("Enter tax: "))
        salary=n*rph
        tax_amount=(tax/100)*salary
        Total_salary=tax_amount+salary
        print("The total salary is:",Total_salary)
        print("The tax payable is:",tax_amount)
payment()

Enter no. of working hours: 7
Enter rate per hour: 120
Enter tax: 10
The total salary is: 924.0
The tax payable is: 84.0

In [40]:
#Method-3 (Using functions with arguments)
def payment(n,rph,tax):
    salary=n*rph
    tax_amount=(tax/100)*salary
    Total_salary=tax_amount+salary
    print("The total salary is:",Total_salary)
    print("The tax payable is:",tax_amount)
payment(7,120,10)

The total salary is: 924.0
The tax payable is: 84.0

In [49]:
#Method-4(Default Argument)
def payment(n,rph,tax=10):
        salary=n*rph
        tax_amount=(tax/100)*salary
        Total_salary=tax_amount+salary
        print("The total salary is:",Total_salary)
        print("The tax payable is:",tax_amount)
payment(7,120)

#Making rph as default argument
def payment(n,rph=120,tax):
        salary=n*rph
        tax_amount=(tax/100)*salary
        Total_salary=tax_amount+salary
        print("The total salary is:",Total_salary)
        print("The tax payable is:",tax_amount)
payment(7,10)

#Error occured since non default argument is followed by default argument (n -> rph)

SyntaxError: non-default argument follows default argument (<ipython-input-49-ea4706f45897>, line 11)

In [48]:
#Method 5(Global var)
n=7
rph=120
def payment():
    tax=10
    salary=n*rph
    tax_amount=(tax/100)*salary
    Total_salary=tax_amount+salary
    print("The total salary is:",Total_salary)
    print("The tax payable is:",tax_amount)
payment()

#Using i/p stmnts
n=eval(input("Enter n value: "))
rph=eval(input("Enter rate per hour: "))
def payment():
    tax=eval(input("Enter tax: "))
    salary=n*rph
    tax_amount=(tax/100)*salary
    Total_salary=tax_amount+salary
    print("The total salary is:",Total_salary)
    print("The tax payable is:",tax_amount)
payment()

The total salary is: 924.0
The tax payable is: 84.0
Enter n value: 7
Enter rate per hour: 120
Enter tax: 10
The total salary is: 924.0
The tax payable is: 84.0

In [55]:
#w/o function avg of 3 no.s
a=eval(input("Enter value: "))
b=eval(input("Enter value: "))
c=eval(input("Enter value: "))
total=a+b+c
avg=total/3
print(avg)

Enter value: 10
Enter value: 10
Enter value: 10
10.0

In [56]:
avg

#In avg , 10.0 is stored, so 10.0 is displayed

10.0

In [51]:
#Step-1
#avg of 3 no.s using functions
def avg(a,b,c):
    total=a+b+c
    average=total/3
    print("The avg is: ",average)
avg(10,20,30)

The avg is:  20.0

In [52]:
average
#Encountered an error even though average is defined

# In functions, value will not be stored (i.e., average value (20.0) is not stored in avg )
#It is just printed using print stmmnt

NameError: name 'average' is not defined

In [ ]:
#Return function

- it stores the value

In [57]:
#Step-2 (using return function)
def avg(a,b,c):
    total=a+b+c
    average=total/3
    print("The avg is: ",average)
    return(average)          #average value be returned here using return fuction 
avg(10,20,30)

The avg is:  20.0

20.0

In [54]:
average
#again error occured

NameError: name 'average' is not defined

In [58]:
#Step=3
def avg(a,b,c):
    total=a+b+c
    average=total/3
    print("The avg is: ",average)
    return(average)         
average=avg(10,20,30) #storing in average

The avg is:  20.0

In [59]:
average

20.0

In [64]:
#To find total
def sum(a,b,c):
    total3=a+b+c
    print("The total is: ",total3)
    return(total3)  #total value get stored in 'total3'       
sum(10,20,30)

The total is:  60

60

In [65]:
total3
#encountered error, so store in some variable

NameError: name 'total3' is not defined

In [66]:
#To find total
def sum(a,b,c):
    total3=a+b+c
    print("The total is: ",total3)
    return(total3)  #total value get stored in 'total3'       
XYZ=sum(10,20,30)

The total is:  60

In [67]:
XYZ

60

In [2]:
def sum(a,b,c):
    sum2=a+b+c
    print("The sum is:",sum2)
    return(sum2)
sum(10,20,30)

The sum is: 60

60

In [4]:
sum2
#error occured so store 'sum2' in some variable

NameError: name 'sum2' is not defined

In [6]:
def sum(a,b,c):
    sum2=a+b+c
    print("The sum is:",sum2)
    return(sum2)
summation=sum(10,20,30)

The sum is: 60

In [7]:
summation

60

In [23]:
#To give summation & avg in return function
#Function name is sum5():
def sum5(a,b,c):
    sum5=a+b+c
    average=sum5/3
    print("The sum is:",sum5)
    print("The average is:",average)
    return(sum5,average)

In [24]:
sum5,average=sum5(10,20,30)
sum5,average

The sum is: 60
The average is: 20.0

(60, 20.0)

In [25]:
#Method-5 (Using return function)
#function name is sum():
def sum(a,b,c):
    sum5=a+b+c
    average=sum5/3
    print("The sum is:",sum5)
    print("The average is:",average)
    return(sum5,average)

In [26]:
sum5,average=sum(10,20,30)

The sum is: 60
The average is: 20.0

In [27]:
#WAP to pay tip ammnt & total bill (#hotel bill , tip%, tip_amnt, total_bill) 

hotel_bill=eval(input("Enter bill: "))
tip_percentage=eval(input("Enter tip: "))
tip_amount=(hotel_bill)*tip_percentage/100
total_bill=hotel_bill+tip_amount
print("The total bill is:",total_bill)
print("The tip amount is: ",tip_amount)

Enter bill: 500
Enter tip: 10
The total bill is: 550.0
The tip amount is:  50.0

In [35]:
#Using return function
#using functions return total bill &tip_amnt

def bill1(hotel_bill,tip_percentage):
    tip_amount=(hotel_bill)*tip_percentage/100
    total_bill=hotel_bill+tip_amount
    print("The total bill is:",total_bill)
    print("The tip amount is: ",tip_amount)
    return(total_bill,tip_amount)

In [40]:
#calling bill1 function
bill1(500,10)

The total bill is: 550.0
The tip amount is:  50.0

(550.0, 50.0)

In [47]:
#assigning it to total_bill&tip_amount (It goes to bill1 block & tip_amnt,total_bill gets calculated & 
#cont'---2 prints stmnts are printed)
total_bill,tip_amount=bill1(500,10)

The total bill is: 550.0
The tip amount is:  50.0

In [39]:
#Now calling return function in above program (Refer cell 35 )
total_bill,tip_amount

(550.0, 50.0)

In [44]:
total_bill

550.0

In [45]:
tip_amount

50.0

In [48]:
#Again assigning it to some other variables
billtotal,tip=bill1(500,10)     #it goes to bill1 block (refer 35)

The total bill is: 550.0
The tip amount is:  50.0

In [49]:
billtotal

550.0

In [50]:
tip

50.0

# Date:-Feb 23rd, 2022

In [4]:
#Total Salary & tax amnt using return function---
def payment(n,rph):
    tax=eval(input("Enter tax: "))
    salary=n*rph
    tax_amount=(tax/100)*salary
    Total_salary=tax_amount+salary
    print("The total salary is:",Total_salary)
    print("The tax payable is:",tax_amount)
payment(7,120)

Enter tax: 10
The total salary is: 924.0
The tax payable is: 84.0

In [5]:
salary

NameError: name 'salary' is not defined

In [10]:
#so assign it to some variable as below
PAY=payment(7,120)
PAY

Enter tax: 10
The total salary is: 924.0
The tax payable is: 84.0

# Function in function:

In [17]:
#Greet function
def greet():
    print("hello")
greet()

hello

In [18]:
#Function(greet) inside a function(greetings)
def greetings():
    greet()  #this function is already defined in above cell , hence it calls greet() function & hello is printed
    print("how are you")
greetings()

hello
how are you

In [13]:
#sum1 - function
def sum1(a,b):
    c=a+b
    print(c)
sum1(10,20)

30

In [15]:
#sum1 function within sub1 function
def sub1(a,b):
    sum1(a,b)    #sum1 function is already created in above cell, hence sum1 function is called when this step is running
    d=b-a
    print(d)
sub1(10,20)      #along with sum1 function , sub1 is also printed

30
10

In [21]:
#Functions (add, sub & mult)
def add(a,b):
    print(a+b)
def sub(a,b):
    print(a-b)
def mult(a,b):
    print(a*b)
add(30,20)
sub(30,20)
mult(30,20)

50
10
600

In [2]:
#Functions (add,sub &mult) within a function

def maths():
    add(a,b)
    sub(a,b)
    mult(a,b)
maths() 

# error is occured bcz all 3 functions are having 2 paramters( a & b)

NameError: name 'add' is not defined

In [24]:
#Functions (add,sub & mult) within a function

def maths(a,b):
    add(a,b)
    sub(a,b)
    mult(a,b)
maths(30,20)     #here it goes inside maths function, frstly add function is executed followed by sub & mult functions

50
10
600

In [13]:
#Functions (add,sub & mult)

def add(a,b):
    add=a+b
    print(add)
    return(add)
def sub(a,b):
    sub=a-b
    print(sub)
    return(sub)
def mult(a,b):
    mult=a*b
    print(mult)
    return(mult)

In [14]:
#Functions (add,sub & mult) within a function & using return function
def maths(a,b):
    add(a,b)
    sub(a,b)
    mult(a,b)
    return(add)
    return(sub)
    return(mult)
mathematics=maths(30,20)

50
10
600

# Date:-Feb 24th, 2022

In [7]:
#Functions (add,sub & mult)

def add(a,b):
    add1=a+b   # add is function name .hence it is renamed to add1
    print(add1)
    return(add1)
def sub(a,b):
    sub1=a-b
    print(sub1)
    return(sub1)
def mult(a,b):
    mult1=a*b
    print(mult1)
    return(mult1)

In [8]:
#Functions (add,sub & mult) within a function & using return function
def maths(a,b):
    sum1=add(a,b)
    sub1=sub(a,b)
    mult1=mult(a,b)
    return(sum1,sub1,mult1)

add,sub,mult=maths(30,20)

50
10
600

In [29]:
#Function to find avg & total of 3 no's 
def avg(a,b,c):
    total=a+b+c
    average=total/3
    print(total)
    print(average)
avg(10,20,30)

60
20.0

In [34]:
#function within a function using return 
def sumtotal(a,b,c):  # new function sumtotal
    avg(a,b,c)        #here , avg function is called which is in above cell (29) & it goes inside the function
    return(avg)
Sum1=sumtotal(10,10,10)

30
10.0

In [8]:
#to find salary (no of hrs * rate per hr)

def salary5(n,rph):
    salary5=n*rph
    print(salary5)
salary5(5,120)

600

In [9]:
#function within a function
def sal(n,rph):
    salary5(n,rph)
sal2=sal(5,120)

600

#If else conditions

- Syntax:-if condition:

In [13]:
n=eval(input("Enter n value: "))
if(n%2==0):
    print("Number is even")
else:
    print("Number is odd")

Enter n value: 31
Number is odd

In [16]:
#Using functions with no arguments(Method-1)
def evenodd():
    n=eval(input("Enter n value: "))
    if(n%2==0):
        print("Number is even")
    else:
        print("Number is odd")
evenodd()

Enter n value: 109
Number is odd

In [15]:
#using functions with arguments (Method -2)
def evenodd(n):
    if(n%2==0):
        print("Number is even")
    else:
        print("Number is odd")
evenodd(11)

Number is odd

In [17]:
#default arguments(Method-3)
def evenodd(n=20):
    if(n%2==0):
        print("Number is even")
    else:
        print("Number is odd")
evenodd()

Number is even

In [20]:
#Global variables(Method-4)
n=100
def evenodd(n):
    if(n%2==0):
        print("Number is even")
    else:
        print("Number is odd")
evenodd(n)

Number is even

In [25]:
# using return (Method -5)
def evenodd(n):
    if(n%2==0):
        print("Number is even")
    else:
        print("Number is odd")
        return(n)
number=evenodd(5)

Number is odd

In [27]:
number

5

In [2]:
#WAP to find greatest of 2 numbers using conditional stmnts
a=eval(input("Enter a value: "))
b=eval(input("Enter b value: "))
if(a>b):
    print("a is greatest number")
else:
    print("b is greatest number")

Enter a value: 100
Enter b value: 50
a is greatest number

In [3]:
#using functions
def greatest():
    a=eval(input("Enter a value: "))
    b=eval(input("Enter b value: "))
    if(a>b):
        print("a is greatest number")
    else:
        print("b is greatest number")
greatest()

Enter a value: 10
Enter b value: 200
b is greatest number

In [4]:
#using fun's with arguments
def greatest(a,b):
    if(a>b):
        print("a is greatest number")
    else:
        print("b is greatest number")
greatest(100,20)

a is greatest number

In [ ]:

def greatest():
    a1=eval(input("Enter a1 value: "))
    b=eval(input("Enter b value: "))
    if(a1>b):
        print("a1 is greatest number")
    else:
        print("b is greatest number")
greatest()

In [7]:
#default argument
def greatest(a1,b=30):
    if(a1>b):
        print("a1 is greatest number")
    else:
        print("b is greatest number")
greatest(a1)

NameError: name 'a1' is not defined