In [3]:
#Sum of 2 numbers using functions without arguments

def sum():
    try:
        n1=10
        n2=20
        n3=n1+n2
        print(n3)
    except Exception as e:
        print(e)
sum()

30

In [4]:
#sum using functions with Arguments

def sum(n1,n2):
    try:
        n3=n1+n2
        print(n3)
    except Exception as e:
        print(e)
sum(100,200)

300

In [11]:
#sum using functions with Arguments

def sum(n1,n2):
    try:
        n3=n1+n2
        print(n3)
    except Exception as e:
        print(e)
sum(100)              #in declaration we passed n1 &n2 (TWO VARIABLES), but while calling sum function only one value is passed
            #so the foll' error occured--->TypeError: sum() missing 1 required positional argument: 'n2'

TypeError: sum() missing 1 required positional argument: 'n2'

In [12]:
#sum using functions with Arguments

def sum(n2,n1):
    try:
        print("n1 is",n1)
        print("n2 is",n2)
        n3=n1+n2
        print(n3)
    except Exception as e:
        print(e)
sum(100,200)         #In Intializn of sum function we passed n2 followed by n1, so while calling first value is taken as n2
                     # and second value is taken as n1 
                    #n2-->100, n1--->200

n1 is 200
n2 is 100
300

In [7]:
#Sum using default Arguments
#method-1 (passing n1 & n2, here n2 is default argument)
def sum(n1,n2=100):
    try:
        print("n1 is",n1)
        print("n2 is",n2)
        n3=n1+n2
    except Exception as e:
        print(e)
    print("n3 is",n3)
sum(10)

n1 is 10
n2 is 100
n3 is 110

In [13]:
#Sum using default Arguments
#method-1 (passing n1 & n2, here n1 is default argument)
def sum(n2,n1=100):      #n1 is default argument(n1-->100)
    try:
        print("n1 is",n1)
        print("n2 is",n2)
        n3=n1+n2
    except Exception as e:
        print(e)
    print("n3 is",n3)
sum(10)            #passing n2 as 10

n1 is 100
n2 is 10
n3 is 110

In [9]:
#Sum using default Arguments
#method--2 (n1 is default argument , n2 is given as value)

def sum(n1=10):           #n1--> 10
    try:
        n2=20           #n2--> 20
        print("n1 is",n1)
        print("n2 is",n2)
        n3=n1+n2
        print("n3 is",n3)
    except Exception as e:
        print(e)
sum(100)        #n1--> 100 (it is latest one & it is considered while performing SUM)

n1 is 100
n2 is 20
n3 is 120

In [10]:
#Sum using default Argument
#

def sum(n2=100):           #declaration (n2-->100)
    try:
        n1=eval(input("Enter n1 value: "))        # user input 
        print("n1 is",n1)               # 300
        print("n2 is",n2)             # n2-->100 , n2=200(latest one)
        sum=n1+n2
        print("Sum is",sum)
    except Exception as e:
        print(e)
sum(200)               #while calling n2 gets overwrite by 200 value

Enter n1 value: 300
n1 is 300
n2 is 200
Sum is 500

In [17]:
##Sum of 3 numbers using default argument, consider n2 as default argument & passing n2,n3 and giving n1 as 200

def sum(n3,n2=100):          #here n2 is default argument (n2-->100)
    try:
        n1=200                #n1 is 200
        print("n1 is",n1)
        print("n2 is",n2)
        print("n3 is",n3)
        sum=n1+n2+n3
        print("Sum is",sum)
    except Exception as e:
        print(e)
sum()              #no value is passed hence the foll' error occurs 
              #TypeError: sum() missing 1 required positional argument: 'n3'

TypeError: sum() missing 1 required positional argument: 'n3'

In [18]:
#Average of 3 numbers using function w/o arguments

def average():
    try:
        n1=10
        n2=20
        n3=30
        average=(n1+n2+n3)/3
        print("The average is",average)
    except Exception as e:
        print(e)
average()

The average is 20.0

In [20]:
#Average of 3 numbers using function w/o arguments

def average():
    try:
        n1=eval(input("Enter n1 value: "))
        n2=eval(input("Enter n2 value: "))
        n3=eval(input("Enter n3 value: "))
        average=(n1+n2+n3)/3
        print("The average is",round(average,3))
    except Exception as e:
        print(e)
average()

Enter n1 value: 10
Enter n2 value: 29
Enter n3 value: 35
The average is 24.667

In [25]:
#Average of 3 numbers using function with arguments

def average(n1,n2,n3):
    try:
        average=(n1+n2+n3)/3
        print("The average is",round(average,3))
    except Exception as e:
        print(e)
average(10,20,30)

The average is 20.0

In [26]:
#Average of 3 numbers using function with default argument

def average(n1,n2,n3=30):
    try:
        average=(n1+n2+n3)/3
        print("The average is",round(average,3))
    except Exception as e:
        print(e)
average(10,20)

The average is 20.0

In [27]:
#Average of 3 numbers using function with default argument

def average(n1,n2=30,n3):
    try:
        average=(n1+n2+n3)/3
        print("The average is",round(average,3))
    except Exception as e:
        print(e)
average(10,20)

#SyntaxError: non-default argument follows default argument

SyntaxError: non-default argument follows default argument (384140967.py, line 3)

In [28]:
#Average of 3 numbers using function with default argument

def average(n1=30,n2,n3):
    try:
        average=(n1+n2+n3)/3
        print("The average is",round(average,3))
    except Exception as e:
        print(e)
average(10,20)

#SyntaxError: non-default argument follows default argument

SyntaxError: non-default argument follows default argument (932559106.py, line 3)

In [33]:
#Average of 3 numbers using function using return

def average(n1,n2,n3):
    try:
        average=(n1+n2+n3)/3
        print("The average is",round(average,3))
        return(average)
    except Exception as e:
        print(e)

In [34]:
average=average(10,20,30)

The average is 20.0

In [35]:
print(average)

20.0

In [38]:
# local Variables

def average(n1):
    n2=20
    n3=40
    try:
        average=(n1+n2+n3)/3
        print("The average is",round(average,3))
    except Exception as e:
        print(e)

In [39]:
average(10)

The average is 23.333

In [40]:
print(n2)           #since it is defined inside the function block, we get an error as n2 is not defined. hence it is a local variable

NameError: name 'n2' is not defined

In [43]:
# global variables

n3=20
n2=30
def average(n1):
    try:
        average=(n1+n2+n3)/3
        print("The average is",round(average,3))
    except Exception as e:
        print(e)

In [44]:
average(10)

The average is 20.0

In [46]:
print(n3,n2)          # global variables --> n2,n3

20 30

In [70]:
#
b=10
def val():
    b=30
    print(b)

In [71]:
val()

30

In [73]:
# now i want to print b as 30

print(b)

#instead of 30, we got 10 as result. so now let us use global keyword

10

In [74]:
#using global keyword --

b=10
def val():
    global b       # delcaring b as global (now it is both local & global)
    b=30
    print(b)

In [75]:
val()

30

In [77]:
print(b)       #since b is declared as global, b value is 30

30

In [81]:
#sum of 3 numbers using global keyword 

z1=10
def sum(z2):
    z3=20
    print("sum is",z1+z2+z3)

In [82]:
sum(30)

sum is 60

In [86]:
print(z3)

NameError: name 'z3' is not defined

In [87]:
#making z3 as global & printing it


z1=10
def sum(z2):
    global z3
    z3=20
    print("sum is",z1+z2+z3)

In [88]:
sum(30)

sum is 60

In [89]:
print(z3)        #since we made z3 as global using global keyword, the value prints as 20

20

In [93]:
#

n1=10
def sum(n2,n3):
    global n2,n3   #n2 &n3 are parameters which are passed in sum function , hence they can't be declared as global
    n2=30
    n3=40
    print(n2)
    print(n3)
    print("sum is",n1+n2+n3)

SyntaxError: name 'n2' is parameter and global (3918814438.py, line 5)

In [116]:
#to overcome above scenario, give n2 or n3 as user input from keyboard

#

n1=10
def sum(n1):
    global n2,n3   
    n2=eval(input("Enter n2: "))
    n3=eval(input("enter n3: "))
    print("n2 is",n2)
    print("n3 is",n3)
    print("n1 is",n1)
    sum=n1+n2+n3
    print("sum is",n1+n2+n3)

In [117]:
sum(100)

Enter n2: 30
enter n3: 40
n2 is 30
n3 is 40
n1 is 100
sum is 170

In [128]:
#using return print sum


n1=10
def sum(n1):
    global n2,n3   
    n2=eval(input("Enter n2: "))
    n3=eval(input("enter n3: "))
    print("n2 is",n2)
    print("n3 is",n3)
    print("n1 is",n1)
    sum=n1+n2+n3
    print("sum is",n1+n2+n3)
    return(sum)

In [129]:
sum=sum(100)

Enter n2: 30
enter n3: 40
n2 is 30
n3 is 40
n1 is 100
sum is 170

In [130]:
print(sum)

170

In [131]:
#create a function to find aggregate & percentage marks

def marks():
    subject_1=eval(input("Enter subject 1 marks: "))
    subject_2=eval(input("Enter subject 2 marks: "))
    subject_3=eval(input("Enter subject 3 marks: "))
    subject_4=eval(input("Enter subject 4 marks: "))
    subject_5=eval(input("Enter subject 5 marks: "))
    aggregate_marks=(subject_1+subject_2+subject_3+subject_4+subject_5)
    percentage_marks=(aggregate_marks)/500 * 100
    print("Aggregate marks is:",aggregate_marks)
    print("Marks in percentage is:",percentage_marks)

In [132]:
marks()

Enter subject 1 marks: 50
Enter subject 2 marks: 60
Enter subject 3 marks: 70
Enter subject 4 marks: 80
Enter subject 5 marks: 90
Aggregate marks is: 350
Marks in percentage is: 70.0

In [133]:
#function with arguments

def marks(subject_1,subject_2,subject_3,subject_4,subject_5):
    aggregate_marks=(subject_1+subject_2+subject_3+subject_4+subject_5)
    percentage_marks=(aggregate_marks)/500 * 100
    print("Aggregate marks is:",aggregate_marks)
    print("Marks in percentage is:",percentage_marks)

In [134]:
marks(50,60,70,80,90)

Aggregate marks is: 350
Marks in percentage is: 70.0

In [135]:
#Function with default argument
#method---1

def marks(subject_1,subject_2,subject_3,subject_4,subject_5=100):
    aggregate_marks=(subject_1+subject_2+subject_3+subject_4+subject_5)
    percentage_marks=(aggregate_marks)/500 * 100
    print("Aggregate marks is:",aggregate_marks)
    print("Marks in percentage is:",percentage_marks)

In [136]:
marks(50,60,70,80)

Aggregate marks is: 360
Marks in percentage is: 72.0

In [139]:
#Function with default argument
#method-2

def marks(subject_1,subject_2,subject_3,subject_4,subject_5=100):
    subject_5=80                   #latest value for subject_5  (100 is overwritten by 80)
    aggregate_marks=(subject_1+subject_2+subject_3+subject_4+subject_5)
    percentage_marks=(aggregate_marks)/500 * 100
    print("subj1 is",subject_1)
    print("subj2 is",subject_2)
    print("subj3 is",subject_3)
    print("subj4 is",subject_4)
    print("subj5 is",subject_5)
    print("Aggregate marks is:",aggregate_marks)
    print("Marks in percentage is:",percentage_marks)

In [140]:
marks(50,60,70,90)

subj1 is 50
subj2 is 60
subj3 is 70
subj4 is 90
subj5 is 80
Aggregate marks is: 350
Marks in percentage is: 70.0

In [141]:
#Function with default argument
#method-3

def marks(subject_1,subject_2,subject_3,subject_4,subject_5=100):
    subject_5=80
    aggregate_marks=(subject_1+subject_2+subject_3+subject_4+subject_5)
    percentage_marks=(aggregate_marks)/500 * 100
    print("subj1 is",subject_1)
    print("subj2 is",subject_2)
    print("subj3 is",subject_3)
    print("subj4 is",subject_4)
    print("subj5 is",subject_5)
    print("Aggregate marks is:",aggregate_marks)
    print("Marks in percentage is:",percentage_marks)

In [142]:
marks(50,60,70,80,55)

subj1 is 50
subj2 is 60
subj3 is 70
subj4 is 80
subj5 is 80
Aggregate marks is: 340
Marks in percentage is: 68.0

In [143]:
#Function with default argument
#method-4

def marks(subject_1,subject_2,subject_3,subject_4,subject_5=100):
    aggregate_marks=(subject_1+subject_2+subject_3+subject_4+subject_5)
    percentage_marks=(aggregate_marks)/500 * 100
    print("subj1 is",subject_1)
    print("subj2 is",subject_2)
    print("subj3 is",subject_3)
    print("subj4 is",subject_4)
    print("subj5 is",subject_5)
    print("Aggregate marks is:",aggregate_marks)
    print("Marks in percentage is:",percentage_marks)

In [144]:
marks(40,50,60,70,80)            #here subject_5 which is given as default argument will be overwrriten as 80

subj1 is 40
subj2 is 50
subj3 is 60
subj4 is 70
subj5 is 80
Aggregate marks is: 300
Marks in percentage is: 60.0

In [184]:
#Using return statement, print aggregate & % marks


def marks(subject_1,subject_2,subject_3,subject_4,subject_5):
    aggregate_marks=(subject_1+subject_2+subject_3+subject_4+subject_5)
    percentage_marks=(aggregate_marks)/500 * 100
    print("subj1 is",subject_1)
    print("subj2 is",subject_2)
    print("subj3 is",subject_3)
    print("subj4 is",subject_4)
    print("subj5 is",subject_5)
    print("Aggregate marks is:",aggregate_marks)
    print("Marks in percentage is:",percentage_marks)
    return(aggregate_marks,percentage_marks)

In [185]:
(aggregate_marks,percentage_marks)=marks(50,60,70,80,90)       # storing aggregate_marks

subj1 is 50
subj2 is 60
subj3 is 70
subj4 is 80
subj5 is 90
Aggregate marks is: 350
Marks in percentage is: 70.0

In [187]:
print(aggregate_marks,percentage_marks)

350 70.0

In [171]:
#
subject_1=50
subject_2=60
def marks(subject_3,subject_4):
    subject_5=90
    aggregate_marks=(subject_1+subject_2+subject_3+subject_4+subject_5)
    percentage_marks=(aggregate_marks)/500 * 100
    print("subj1 is",subject_1)
    print("subj2 is",subject_2)
    print("subj3 is",subject_3)
    print("subj4 is",subject_4)
    print("subj5 is",subject_5)
    print("Aggregate marks is:",aggregate_marks)
    print("Marks in percentage is:",percentage_marks)

In [172]:
marks(75,65)

subj1 is 50
subj2 is 60
subj3 is 75
subj4 is 65
subj5 is 90
Aggregate marks is: 340
Marks in percentage is: 68.0

In [173]:
print(subject_5)      #since it is local,

NameError: name 'subject_5' is not defined

In [174]:
#making subject_5 as global using global keyword

subject_1=50
subject_2=60
def marks(subject_3,subject_4):
    global subject_5
    subject_5=90
    aggregate_marks=(subject_1+subject_2+subject_3+subject_4+subject_5)
    percentage_marks=(aggregate_marks)/500 * 100
    print("subj1 is",subject_1)
    print("subj2 is",subject_2)
    print("subj3 is",subject_3)
    print("subj4 is",subject_4)
    print("subj5 is",subject_5)
    print("Aggregate marks is:",aggregate_marks)
    print("Marks in percentage is:",percentage_marks)

In [175]:
marks(75,65)

subj1 is 50
subj2 is 60
subj3 is 75
subj4 is 65
subj5 is 90
Aggregate marks is: 340
Marks in percentage is: 68.0

In [176]:
print(subject_5)

90

In [182]:
# function inside of other function

def sum(a,b):
    sum=a+b
    print("sum is",sum)
def sub(a,b):
    sub=a-b
    print("sub is",sub)
def val(a,b):
    sum(a,b)
    sub(a,b)
val(50,40)

sum is 90
sub is 10