- Sets include int,float,str,complex data types. It don't include dict,list data type
- It don't follow insertion order i.e., Output is not returned in same order where input is inserted
- It is represented by curly braces {}
- An empty set is treated as dict

In [7]:
s1={10,20.34,2+3j,"python",True}
s1

{(2+3j), 10, 20.34, True, 'python'}

In [9]:
s1={10,20.34,2+3j,"python",[10,20,30]}        #list is not allowed in set 
s1

TypeError: unhashable type: 'list'

In [11]:
s1={10,20.34,2+3j,"python",{'a':10,'b':20}}    #dict is not allowed in set
s1

TypeError: unhashable type: 'dict'

In [12]:
s2={}
type(s2)

dict

In [12]:
#to find type of s1

type(s1)

set

In [13]:
#

s1={10,20.34,2+3j,"python"}
len(s1)

4

In [14]:
max(s1)

TypeError: '>' not supported between instances of 'complex' and 'int'

In [19]:
s1={10,20,30.23}
max(s1)

30.23

In [17]:
s1={10,20,30.23}
min(s1)

10

In [21]:
s1={10,20.34,"python"}
min(s1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [22]:
s1={10,20,30.23,[10,20,30]}
min(s1)

TypeError: unhashable type: 'list'

In [23]:
s1={10,20,30.23,[10,20,30]}
max(s1)

TypeError: unhashable type: 'list'

In [25]:
s1={10,20,30.23,{'a':10,'b':20}}
min(s1)

TypeError: unhashable type: 'dict'

In [26]:
s1={10,20,30.23,{'a':10,'b':20}}
max(s1)

TypeError: unhashable type: 'dict'

In [8]:
#Using for loop, printing the values in s1

s1={10,20.34,2+3j,"python",False}
for i in s1:
    print(i)

False
20.34
python
10
(2+3j)

- Subtraction of two sets is possible
- Addition/Multiplication/Division/Floor Division/Modulo Division/Repetition operator(*) are not possible

In [39]:
s1={10,20.34}
s2={20,30}
print("The concatenation of s1 and s2 is",s1+s2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [40]:
s1={10,20.34}
s2={20,30}
print("The subtraction of s1 and s2 is",s1-s2)

The subtraction of s1 and s2 is {10, 20.34}

In [41]:
s1={10,20.34}
s2={20,30}
print("The multiplication of s1 and s2 is",s1*s2)

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [42]:
print("The division of s1 and s2 is",s1/s2)

TypeError: unsupported operand type(s) for /: 'set' and 'set'

In [43]:
print("The modulo division of s1 and s2 is",s1%s2)

TypeError: unsupported operand type(s) for %: 'set' and 'set'

In [45]:
print("The floor division of s1 and s2 is",s1//s2)

TypeError: unsupported operand type(s) for //: 'set' and 'set'

In [46]:
print("The repetition of s1 and s2 is",s1*2)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

**in Operator**
- Operator is used to check whether element is existing in set or not
- If value is there in set, True is returned else False is returned

**not in operator**
- If value is not there in set, True is returned else False is returned

In [9]:
s1={10,20.34,2+3j,"python",True}
10 in s1

True

In [2]:
20.34 in s1

True

In [4]:
100 not in s1

True

In [5]:
10 not in s1

False

In [11]:
True in s1

True

**Indexing**
- It is represented by {}
- Indexing & Slicing is not possible in Sets

In [6]:
s1={10,20.34,2+3j,"python"}
s1[0]

TypeError: 'set' object is not subscriptable

In [13]:
s1[0:]

TypeError: 'set' object is not subscriptable

- Sets are immutable incase of item assignment i.e., values cannot be changed
- Sets are mutable incase of adding the elements (using add())

In [14]:
s1={10,20.34,2+3j,"python"}
s1[0]=100             #Set is immutable in case of item assignment

TypeError: 'set' object does not support item assignment

In [16]:
s1.add(200)    #200 is added to set(s1). In some random place 200 will get added to s1 & displayed
print(s1)

{200, 10, (2+3j), 20.34, 'python'}

In [17]:
s1.add(True)
print(s1)

{True, 200, 10, (2+3j), 20.34, 'python'}

**Set methods**

In [18]:
dir(s1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

**1)add()**
- It is used to add a element in given set 
- At some random place element gets added

In [20]:
s1={20,30.45,True,2+3j}
s1.add(False)
print(s1)

{False, True, (2+3j), 20, 30.45}

In [23]:
s1.add(100)
print(s1)

{False, True, 100, (2+3j), 20, 30.45}

**2)clear()**
- It is used to delete the whole set

In [24]:
s1.clear()      #s1 is deleted 
print(s1)

set()

In [26]:
s1.add(10)   #To an empty set, 10 is added
print(s1)

{10}

In [27]:
s1.clear(10)        #clear function don't take any arguments

TypeError: set.clear() takes no arguments (1 given)

**3)copy()**
- It is used to copy from one set to another set
- In Shallow copy, address of sets are varied
- In Deep copy, address of both the sets are same

In [34]:
s1={False, True, 100, (2+3j), 20, 30.45}
s2=s1.copy()   #Shallow copy
print("The elements in s1 are",s1,id(s1))
print("The elements in s2 are",s2,id(s2))

The elements in s1 are {False, True, 100, 20, (2+3j), 30.45} 2560124464576
The elements in s2 are {False, True, 100, 20, (2+3j), 30.45} 2560124465920

In [35]:
#Deep copy

s1={False, True, 100, (2+3j), 20, 30.45}
s2=s1
print("The elements in s1 are",s1,id(s1))
print("The elements in s2 are",s2,id(s2))

The elements in s1 are {False, True, 100, 20, (2+3j), 30.45} 2560124466368
The elements in s2 are {False, True, 100, 20, (2+3j), 30.45} 2560124466368

**4)difference**
- Common elements from both the sets are removed & the set on which difference is applied gets printed

In [38]:
s1={10,20,30,10.23,True,10+20j}
s2={10,20,30,False,5+7j}
s1.difference(s2)    #Common elements(10,20,30) from s1 & s2 are deleted & remaining elements in s1 are printed

{(10+20j), 10.23, True}

In [39]:
s2.difference(s1)    #Common elements(10,20,30) from s1 & s2 are deleted & remaining elements in s2 are printed

{(5+7j), False}

**5)discard()**
- It is used to remove the specified element from the set

In [10]:
s1={10,20,30,10.23,True,10+20j}
s2={10,20,30,False,5+7j}
s1.discard(10)
s1

{(10+20j), 10.23, 20, 30, True}

In [11]:
s1={10,20,30,10.23,True,10+20j}
s2={10,20,30,False,5+7j}
s2.discard(False)
s2

{(5+7j), 10, 20, 30}

**6)intersection()**
- It returns the common elements from sets

In [12]:
s1={10,20,30,10.23,True,10+20j}
s2={10,20,30,False,5+7j}
s1.intersection(s2)

{10, 20, 30}

In [13]:
s2.intersection(s1)

{10, 20, 30}

**7)isdisjoint()**
- It returns True if two sets are not matched

In [17]:
s1={10,20,30,10.23,True,10+20j}
s2={10,20,30,False,5+7j}
s1.isdisjoint(s2)

False

In [18]:
s2.isdisjoint(s1)

False

In [22]:
s1={10,20,True,1+2j}
s2={30,40,False,10+20j}
s2.isdisjoint(s1)

True

In [23]:
s1.isdisjoint(s2)

True

**8)issubset**
- It returns True if either of set is contained in one of the sets

In [24]:
s1={10,20,30,10.23,True,10+20j}
s2={10,20,30}
s2.issubset(s1)

True

In [25]:
s1.issubset(s2)

False

In [27]:
s1={10,20,30,10.23,True,10+20j,False,11}
s2={10,20,30,10.23,True,10+20j}
s2.issubset(s1)

True

**9)issuperset()**

In [28]:
s1={10,20,30,10.23,True,10+20j}
s2={10,20,30}
s1.issuperset(s2)

True

In [29]:
s2.issuperset(s1)

False

In [30]:
s1={10,20,30,40}
s2={10,20,30}
s1.issuperset(s2)

True

In [31]:
s2.issuperset(s1)

False

**10)pop()**
- It is used to remove some random value from set

In [38]:
s1={10,20,30,10.23,True,10+20j}
s2={10,20,30}
s1.pop()    #True is deleted
s1

{(10+20j), 10, 10.23, 20, 30}

In [39]:
s2.pop()
s2

{20, 30}

In [40]:
s1={10,20,30,10.23,True,10+20j,False,11}
s2={10,20,30,10.23,True,10+20j}
s1.pop()   #False is deleted
s1

{(10+20j), 10, 10.23, 11, 20, 30, True}

**11)remove()**
- It is used to remove the element which is passed inside the remove function

In [48]:
s1={10,20,30,10.23,True,10+20j,False,11}
s2={5,9,11.23,True,10+20j}
s1.remove(10)  #10 is removed from s1
s1

{(10+20j), 10.23, 11, 20, 30, False, True}

In [49]:
s2.remove(9)   #9 is removed from s2
s2

{(10+20j), 11.23, 5, True}

**12)symmetric_difference**
- Common elements from the set are removed and remaining elements from both the sets are returned

In [52]:
s1={10,20,30,10.23,True,10+20j,False,11}
s2={10,20,30,10.23,True,10+20j}
s1.symmetric_difference(s2)

{False, 11}

In [53]:
s2.symmetric_difference(s1)

{False, 11}

In [55]:
s1={10,20,30,10.34}
s2={10,20,30}
s2.symmetric_difference(s1)

{10.34}

In [56]:
s1.symmetric_difference(s2)

{10.34}

In [57]:
s1={10,20,30,10.34}
s2={10,20,30,20.39,2+3j}
s1.symmetric_difference(s2)

{(2+3j), 10.34, 20.39}

**13)union()**
- It is used to combine the values from both the sets(without duplication of values)
- If there are repetition of values, only one value is considered

In [58]:
s1={10,20,30,10.34}
s2={10,20,30,20.39,2+3j}
s1.union(s2)

{(2+3j), 10, 10.34, 20, 20.39, 30}

In [59]:
s1={10,2+3j,20.34,90}
s2={50,30.45,1+2j,100,90,2+3j}
s1.union(s2)

{(1+2j), (2+3j), 10, 100, 20.34, 30.45, 50, 90}