**Definition of String**
- It is a set of charcters enclosed within single(' ') or double quotations(" ")
- It is inclusive of numericals,characters,digits.
- To find the type of string, use type("string_name")
- Indexing and slicing can be perfomed on strings
- Strings are Immutable(Values cannot be changed)

In [1]:
#Reading a string using double quotations
#Here "s" includes all character values

s="hello python"
print(s)       #printing "s"

hello python

In [2]:
#To find the type of "s"

type(s)

str

In [3]:
#Reading a string using single quotations
s='hello python'
print(s)       #printing "s"

hello python

In [4]:
#To find the type of 's'

type(s)

str

In [9]:
#Taking "s" as pure digit value

s="12345"
s

'12345'

In [10]:
#To find the type of "s"

type(s)

str

In [7]:
#Taking "s" as alphanumeric

s="123python"
s

'123python'

In [8]:
#To find the type of "s"

type(s)

str

In [22]:
#Taking empty string

s=" "
s

' '

In [24]:
#To find type of s
type(s)

str

**Doc String**
- It includes multiple statements aligned in different lines
- It is represented by triple single quotations (''' ''') or triple double quotations (""" """)
- Basically it is used for describing the problem statement to understand easily for user

In [17]:
# Doc string (Using Triple double quotes)

s1="""Do you know Python
    or Sql or SAS or 
    R. Python is a scripting 
    language"""
print(s1)

Do you know Python
    or Sql or SAS or
    R. Python is a scripting
    language

In [18]:
# Doc string (Using Triple single quotes)

s1='''Do you know Python
    or Sql or SAS or 
    R. Python is a scripting 
    language'''
print(s1)

Do you know Python
    or Sql or SAS or
    R. Python is a scripting
    language

In [19]:
# Example demonstrating doc string
# find Aggregrate & percentage marks of 5 subjects 

""" This program takes subject_3,4,5 as input from keyboard
    & subjwct_1,2 are both the parameters passed in
    agg_perc() function and whole function block is
    placed within try block"""


try:
    def agg_perc(subject_1,subject_2):
        subject_3=eval(input("Enter subject 3 marks: "))
        subject_4=eval(input("Enter subject 4 marks: "))
        subject_5=eval(input("Enter subject 5 marks: "))
        aggregate_marks=(subject_1+subject_2+subject_3+subject_4+subject_5)
        percentage_marks=(aggregate_marks)/500 * 100
        print("Aggregate marks is:",aggregate_marks)
        print("Marks in percentage is:",percentage_marks)
    agg_perc(60,65)
except Exception as e:
    print(e)

Enter subject 3 marks: 70
Enter subject 4 marks: 80
Enter subject 5 marks: 90
Aggregate marks is: 365
Marks in percentage is: 73.0

In [20]:
#In the following sentence, inorder to highlight Rohit Sharma, use single quotes specific to RohitSharma & enclose the whole string within Double quotes
#Method-1

s="'Rohit Sharma' is the captain of Team India"
print(s)

'Rohit Sharma' is the captain of Team India

In [21]:
#In the following sentence, inorder to highlight Rohit Sharma, use double quotes specific to RohitSharma & enclose the whole string within single quotes
#Method-2

s='"Rohit Sharma" is the captain of Team India'
print(s)

"Rohit Sharma" is the captain of Team India

- Length- To find the length of a string, use len()
- Maximum- To find the maximum of a string, use max()
- Minimum- To find the minimum of a string, use min()

In [27]:
# To find the length of a string

s="Python is a scripting language"
print("Length of s is",len(s))       #length function to find length of "s"

Length of s is 30

In [28]:
s="Python"
print("Length of s is",len(s))

Length of s is 6

In [30]:
#To find maximum of a string

s="Python is a scripting language"
print("Maximum of s is",max(s))    # It is found using ASCII value

Maximum of s is y

In [34]:
#To find ASCII value of y

ord("y")

121

In [35]:
#To find maximum of a string

s='Python'
print("Maximum of s is",max(s))

Maximum of s is y

In [40]:
#To find minimum of a string

s="Python is a scripting language"
min(s)

' '

In [44]:
#To find minimum of a string

s="Python"
print("Minimum of s is",min(s))

Minimum of s is P

- Concatenation operator (+) between two strings is possible
- Subtraction/Multiplication/Division/Floor Division/Modulo Division are not possible
- Repetition operator(*) on strings is possible

In [46]:
#1)Concatenation of two strings
#Example-1

s1="Python is"
s2=" a programming language"
print("The concatenation of s1 and s2 is",s1+s2)

The concatenation of s1 and s2 is Python is a programming language

In [48]:
#Example-2(Taking digits as strings)

s1="1234"
s2="7890"
print("The concatenation of s1 and s2 is",s1+s2)

The concatenation of s1 and s2 is 12347890

In [49]:
#Example-3(Taking Alphanumeric as strings)

s1="ABCPOTFN12"
s2="78961PYTHON"
print("The concatenation of s1 and s2 is",s1+s2)

The concatenation of s1 and s2 is ABCPOTFN1278961PYTHON

In [50]:
#2)Subtraction between two strings
#Example-1

s1="Python is"
s2=" a programming language"
print("The Subtraction of s1 and s2 is",s1-s2)

#Type Error is occured i.e.,Subtraction is not possible between two strings

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [54]:
#Example-2

s1="1234"
s2="7890"
print("The Subtraction of s1 and s2 is",s1-s2)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [55]:
#Example-3

s1="ABCPOTFN12"
s2="78961PYTHON"
print("The Subtraction of s1 and s2 is",s1-s2)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [53]:
#3)Multiplication between two strings

#Example-1

s1="Python is"
s2=" a programming language"
print("The Multiplication of s1 and s2 is",s1*s2)

#Type Error occured i.e., Multiplication operation can't be performed between 2 strings

TypeError: can't multiply sequence by non-int of type 'str'

In [56]:
#Example-2

s1="1234"
s2="7890"
print("The Multiplication of s1 and s2 is",s1*s2)

TypeError: can't multiply sequence by non-int of type 'str'

In [57]:
#Example-3

s1="ABCPOTFN12"
s2="78961PYTHON"
print("The Multiplication of s1 and s2 is",s1*s2)

TypeError: can't multiply sequence by non-int of type 'str'

In [58]:
#4)Division between two strings
#Example-1

s1="Python is"
s2=" a programming language"
print("The Division of s1 and s2 is",s1/s2)

#Type Error occured i.e., Division operation can't be performed between 2 strings

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [59]:
#Example-2

s1="1234"
s2="7890"
print("The Division of s1 and s2 is",s1/s2)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [60]:
#Example-3

s1="ABCPOTFN12"
s2="78961PYTHON"
print("The Division of s1 and s2 is",s1/s2)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [61]:
#4)Modulo Division
#Example-1

s1="Python is"
s2=" a programming language"
print("The Modulo Division of s1 and s2 is",s1%s2)

#Type Error occured i.e., Modulo Division operation can't be performed between 2 strings

TypeError: not all arguments converted during string formatting

In [62]:
#Example-2

s1="1234"
s2="7890"
print("The Modulo Division of s1 and s2 is",s1%s2)

TypeError: not all arguments converted during string formatting

In [63]:
#Example-3

s1="ABCPOTFN12"
s2="78961PYTHON"
print("The Modulo Division of s1 and s2 is",s1%s2)

TypeError: not all arguments converted during string formatting

In [65]:
#5)Floor Division(//)
#Example-1

s1="Python is"
s2=" a programming language"
print("The Floor Division of s1 and s2 is",s1//s2)

#Type Error occured i.e., Floor Division operation can't be performed between 2 strings

TypeError: unsupported operand type(s) for //: 'str' and 'str'

In [67]:
#Example-2

s1="1234"
s2="7890"
print("The Floor Division of s1 and s2 is",s1//s2)

TypeError: unsupported operand type(s) for //: 'str' and 'str'

In [68]:
#Example-3

s1="ABCPOTFN12"
s2="78961PYTHON"
print("The Floor Division of s1 and s2 is",s1//s2)

TypeError: unsupported operand type(s) for //: 'str' and 'str'

In [76]:
#6)Repetition operator (*)
#Example-1

s1="123456789"
print("The repetition of s1 is",s1*2)      #Here repetition opeartor is applied for 2 times ,hence s1 prints for two times

The repetition of s1 is 123456789123456789

In [79]:
#Example-2

s1="123456789python"
print("The repetition of s1 is",s1*3)  #Here repetition opeartor is applied for 3 times ,hence s1 prints for three times

The repetition of s1 is 123456789python123456789python123456789python

In [80]:
#Example-3

s1="python"
print("The repetition of s1 is",s1*10)

The repetition of s1 is pythonpythonpythonpythonpythonpythonpythonpythonpythonpython

**in Operator**
- Operator is used to check whether element is existing in string or not
- If value is there in string , True is returned else False is returned

**not in operator**
- If value is not there in string, True is returned else False is returned

In [81]:
#Using in operator

s="Python is a scripting language"
"l" in s        #In "s", "l" is there-> so True is returned

True

In [82]:
'z' in s

False

In [83]:
#Using not in operator

s="Python is a scripting language"
"z" not in s        #Since "z" is not there in s, True is returned

True

In [84]:
"p" not in s

False

**Indexing**
- It is used to get individual value/character from a list
- It is represented by str[Index]

In [85]:
s="Python is a scripting language"

In [ ]:

-30-29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10 -9   -8  -7 -6 -5 -4 -3 -2  -1
P   y  t   h   o   n       i   s        a       s   c    r   i   p   t   i   n  g        l   a  n  g  u  a  g  e
0   1  2   3   4   5   6   7   8    9   10  11  12  13  14  15  16  17  18  19 20   21  22  23  24 25 26 27 28 30

In [86]:
#To get value of 4th index
s[4]

'o'

In [87]:
s[20]

'g'

In [99]:
s[-5]

'g'

In [101]:
s[-11]

'n'

In [127]:
s[True]      #Here True is taken as 1

'y'

In [128]:
s[False]      #Here False is taken as 0

'P'

In [129]:
s[False/True]    #So 0/1 --> Type error is returned

TypeError: string indices must be integers, not 'float'

In [94]:
#using for loop 
for i in range(len(s)):
    print("ELements in s are",s[i])

ELements in s are P
ELements in s are y
ELements in s are t
ELements in s are h
ELements in s are o
ELements in s are n
ELements in s are
ELements in s are i
ELements in s are s
ELements in s are
ELements in s are a
ELements in s are
ELements in s are s
ELements in s are c
ELements in s are r
ELements in s are i
ELements in s are p
ELements in s are t
ELements in s are i
ELements in s are n
ELements in s are g
ELements in s are
ELements in s are l
ELements in s are a
ELements in s are n
ELements in s are g
ELements in s are u
ELements in s are a
ELements in s are g
ELements in s are e

In [98]:
#for loop

s="Python is a scripting language"
for i in range(31):
    print(s[i])
    
#Index error is occured because length of 's' is 30

P
y
t
h
o
n

i
s

a

s
c
r
i
p
t
i
n
g

l
a
n
g
u
a
g
e

IndexError: string index out of range

In [102]:
#To print the Positive index of "s" using for loop

s="Python is a scripting language"
for i in range(len(s)):
    print("Positive index of {} is {}".format(s[i],i))

Positive index of P is 0
Positive index of y is 1
Positive index of t is 2
Positive index of h is 3
Positive index of o is 4
Positive index of n is 5
Positive index of   is 6
Positive index of i is 7
Positive index of s is 8
Positive index of   is 9
Positive index of a is 10
Positive index of   is 11
Positive index of s is 12
Positive index of c is 13
Positive index of r is 14
Positive index of i is 15
Positive index of p is 16
Positive index of t is 17
Positive index of i is 18
Positive index of n is 19
Positive index of g is 20
Positive index of   is 21
Positive index of l is 22
Positive index of a is 23
Positive index of n is 24
Positive index of g is 25
Positive index of u is 26
Positive index of a is 27
Positive index of g is 28
Positive index of e is 29

In [108]:
#To print the Positive index of s using while loop
 
s="Python is a scripting language"
i=0
while(i<len(s)):
    print("Positive index of {} is {}".format(s[i],i))
    i=i+1

Positive index of P is 0
Positive index of y is 1
Positive index of t is 2
Positive index of h is 3
Positive index of o is 4
Positive index of n is 5
Positive index of   is 6
Positive index of i is 7
Positive index of s is 8
Positive index of   is 9
Positive index of a is 10
Positive index of   is 11
Positive index of s is 12
Positive index of c is 13
Positive index of r is 14
Positive index of i is 15
Positive index of p is 16
Positive index of t is 17
Positive index of i is 18
Positive index of n is 19
Positive index of g is 20
Positive index of   is 21
Positive index of l is 22
Positive index of a is 23
Positive index of n is 24
Positive index of g is 25
Positive index of u is 26
Positive index of a is 27
Positive index of g is 28
Positive index of e is 29

In [112]:
#To print the Negative index of "s" using for loop

s="Python is a scripting language"
for i in range(len(s)):
    print("Positive index of {} is {}".format(s[i],i-len(s)))

Positive index of P is -30
Positive index of y is -29
Positive index of t is -28
Positive index of h is -27
Positive index of o is -26
Positive index of n is -25
Positive index of   is -24
Positive index of i is -23
Positive index of s is -22
Positive index of   is -21
Positive index of a is -20
Positive index of   is -19
Positive index of s is -18
Positive index of c is -17
Positive index of r is -16
Positive index of i is -15
Positive index of p is -14
Positive index of t is -13
Positive index of i is -12
Positive index of n is -11
Positive index of g is -10
Positive index of   is -9
Positive index of l is -8
Positive index of a is -7
Positive index of n is -6
Positive index of g is -5
Positive index of u is -4
Positive index of a is -3
Positive index of g is -2
Positive index of e is -1

In [122]:
#To print the Negative index of "s" using while loop

s="Python is a scripting language"
i=-len(s)
while i<0:
    print("Positive index of {} is {}".format(s[i],i))
    i=i+1

Positive index of P is -30
Positive index of y is -29
Positive index of t is -28
Positive index of h is -27
Positive index of o is -26
Positive index of n is -25
Positive index of   is -24
Positive index of i is -23
Positive index of s is -22
Positive index of   is -21
Positive index of a is -20
Positive index of   is -19
Positive index of s is -18
Positive index of c is -17
Positive index of r is -16
Positive index of i is -15
Positive index of p is -14
Positive index of t is -13
Positive index of i is -12
Positive index of n is -11
Positive index of g is -10
Positive index of   is -9
Positive index of l is -8
Positive index of a is -7
Positive index of n is -6
Positive index of g is -5
Positive index of u is -4
Positive index of a is -3
Positive index of g is -2
Positive index of e is -1

In [126]:
#To print Positive & Negative index of same value at a time

s="Python is a scripting language"
for i in range(len(s)):
    print("Positive index is {} and negative index is {} for {}".format(i,i-len(s),s[i]))

Positive index is 0 and negative index is -30 for P
Positive index is 1 and negative index is -29 for y
Positive index is 2 and negative index is -28 for t
Positive index is 3 and negative index is -27 for h
Positive index is 4 and negative index is -26 for o
Positive index is 5 and negative index is -25 for n
Positive index is 6 and negative index is -24 for
Positive index is 7 and negative index is -23 for i
Positive index is 8 and negative index is -22 for s
Positive index is 9 and negative index is -21 for
Positive index is 10 and negative index is -20 for a
Positive index is 11 and negative index is -19 for
Positive index is 12 and negative index is -18 for s
Positive index is 13 and negative index is -17 for c
Positive index is 14 and negative index is -16 for r
Positive index is 15 and negative index is -15 for i
Positive index is 16 and negative index is -14 for p
Positive index is 17 and negative index is -13 for t
Positive index is 18 and negative index is -12 for i
Positive index is 19 and negative index is -11 for n
Positive index is 20 and negative index is -10 for g
Positive index is 21 and negative index is -9 for
Positive index is 22 and negative index is -8 for l
Positive index is 23 and negative index is -7 for a
Positive index is 24 and negative index is -6 for n
Positive index is 25 and negative index is -5 for g
Positive index is 26 and negative index is -4 for u
Positive index is 27 and negative index is -3 for a
Positive index is 28 and negative index is -2 for g
Positive index is 29 and negative index is -1 for e

**Slicing**
- It is used to get the substring from the main string

- It is represented by str[Begin:End] or str[Begin:End:Step=Positive] or str[Begin:End:Step=Negative]
  or str[Begin :] or str[:End] or str[::]
  
- In str[Begin:End] or str[Begin :] or str[:End] -->Since step is not mentioned , by default it is taken as positive and End is end-1

- In str[Begin:End:Step=Positive] --> Here step is positive, End=End-1 and Slicing takes place in positive direction

- In str[Begin:End:Step=Negative] --> Here step is Negative, End=End+1 and Slicing takes place in negative direction

In [130]:
s="Python is a scripting language"

In [131]:
#Here Begin & end indices are specifed
#Method-1

s[1:15]        #Begin index is 1 , End= end-1(15-1=14) &  string traverse in positive direction

'ython is a scr'

In [133]:
s[16:29]

'pting languag'

In [134]:
#Only Begin is specifed
#Method-2

s[0:]    #Starting index is 0 , since end is not specifed(it takes whole length of a string) & string traverse in positive direction

'Python is a scripting language'

In [135]:
s[12:]

'scripting language'

In [139]:
#only End is specified
#Method-3

s[:11]   #End index is specified, since Begin index is not mentioned(take 0 as start value)

'Python is a'

In [140]:
s[:30]     #End index is 30, begin is taken as 0 hence whole string is printed

'Python is a scripting language'

In [141]:
#Begin,End, Step is positive
#Method-4

s[2:20:1]     #Begin index is 2, End index is 20(20-1=19) & Step=1 (string traverse in positive direction)

'thon is a scriptin'

In [142]:
#Begin,End, Step is positive

s[2:20:2]     #Begin index is 2, End index is 20(20-1=19) & Step=2 (string traverse in positive direction by leaving 2 values )

'to sasrpi'

In [143]:
#

s[20:2:1]   #Begin index=20, end=2-1=1, step=1 (string traverse in positive direction)
          #But Begin is 20 (Values beyond 20th index can be printed but question is to print upto index 2 which is impossible,hence no answer is displayed)

''

In [144]:
s[20:5:3]

''

In [146]:
#Begin,End,Step->Negative
#Method-5

s[20:2:-1]   #begin=20 , end=2+1=3 (Since step is negative)-->String traverse in negative direction

'gnitpircs a si noh'

In [147]:
s[20:6:-2]

'giprsas'

In [148]:
s[2:20:-1] #begin =2, end=20+1=21 , Since string traverse in negative direction printing upto 21 is impossible. Hence no answer is displayed

''

In [149]:
s[6:20:-3]

''

In [150]:
#No begin ,end &step is specified
#Method-6

s[::]   #Entire string is printed

'Python is a scripting language'

In [151]:
#Different ways to print string using slicing
#Method-1
s[0:]

'Python is a scripting language'

In [152]:
#Method-2
s[:]

'Python is a scripting language'

In [153]:
#Method-3
s[:30]

'Python is a scripting language'

In [154]:
#Method-4
s[::]

'Python is a scripting language'

In [155]:
#Method-5
s[0:30:1]

'Python is a scripting language'

In [156]:
#Method-6
s[:30:]

'Python is a scripting language'

In [157]:
#To print the reverse of a string

s="Python is a scripting language"
s[::-1]       #prints the reverse of "s"

'egaugnal gnitpircs a si nohtyP'

**Mutable**
- Which allows to change the value
example-- s=[10,20 ==> s[0]=30, print(s)==>[30,20]. Hence "s" is mutable
- Lists are Mutable

**Immutable**
- where item assignment is not possible (i.e., can't assign value or change the value)
example-- s=(10,20) ==> s[0]=30 , print(s)==> Error - Item assignment is not possible (Since tuple is immutable) 
- Tuple, Strings are Immutable

In [158]:
s="Python is a scripting language"

In [159]:
s[3]="H"      #Type error is returned.
              #String don't allow to assign a value
              #Strings are Immutable

TypeError: 'str' object does not support item assignment

In [160]:
s[-5]="G"

TypeError: 'str' object does not support item assignment

**String Methods**

In [161]:
s="Python is a scripting language"

In [162]:
#To find the methods available in strings use dir(string_name)
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

1)**capitalize()**
- This function is used to convert the first value in a string into capital letter

In [164]:
s="python is a scripting language"
s.capitalize()

'Python is a scripting language'

In [165]:
s="pYtHoN"
s.capitalize()

'Python'

2)**upper()**
- This function is used to convert each charcter in a string into capital letter (if it is in lower case)

In [166]:
s="python"
s.upper()

'PYTHON'

In [167]:
s="python is a scripting language"
s.upper()

'PYTHON IS A SCRIPTING LANGUAGE'

3)**lower()**
- This function is used to convert each character in a string into lower case

In [168]:
s="PYTHON"
s.lower()

'python'

In [169]:
s="PYTHON IS A SCRIPTING LANGUAGE"
s.lower()

'python is a scripting language'

4)**isupper()**
- This function is used to check whether given string is in upper case or not
- If it is in upper case, True is returned else False is returned

In [171]:
s="Python"
s.isupper()

False

In [172]:
s="PYTHON"
s.isupper()

True

In [173]:
s="PYTHON IS A SCRIPTING LANGUAGE"
s.isupper()

True

5)**islower()**
- This function is used to check whether given string is in lower case or not
- If it is in lower case, True is returned else False is returned

In [174]:
s="python"
s.islower()

True

In [175]:
s="PYTHON"
s.islower()

False

In [176]:
s="python is a scripting language"
s.islower()

True

6)**title()**
- This function is used to convert first letter of each word in a string into upper case

In [177]:
s="python is a scripting language"
s.title()

'Python Is A Scripting Language'

In [178]:
s="python"
s.title()

'Python'

7)**istitle()**
- This function is used to check whether first charcter in a string is in upper case or not. If so, True is returned else False is returned

In [196]:
s="Python"
s.istitle()

True

In [197]:
s="python"
s.istitle()

False

8)**isdigit()**
- This function is used to check whether given string is digit or not
- If it is digit, True is returned else False is returned

In [180]:
s="12345"
s.isdigit()

True

In [181]:
s="abcd"
s.isdigit()

False

9)**isnumeric()**
- This function is used to check whether given string is number or not
- If it is number, True is returned else False is returned

In [183]:
s="12345"
s.isnumeric()

True

In [184]:
s="abcd"
s.isnumeric()

False

10)**isalpha()**
- This function is used to check whether given string has characters or not 
- If there are characters, True is returned else False is returned
- Spaces are not treated as a character
- No special characters are allowed

In [185]:
s="python is a scripting language"
s.isalpha()

False

In [186]:
s="python"
s.isalpha()

True

In [187]:
s="%$@"      
s.isalpha()

False

11)**isalnum()**
- This function is used to check whether given string contains both characters & numericals
- If so, True is returned else False is returned
- Spaces are not treated as a character
- No Special symbols are allowed

In [188]:
s="python is a scripting language"
s.isalnum()

False

In [189]:
s="Python123Language"
s.isalnum()

True

In [190]:
s="Python123Language$@#"
s.isalnum()

False

12)**isspace()**
- This function returns True if string contains pure space else False is returned

In [191]:
s="python is a scripting language"
s.isspace()

False

In [192]:
s="P y t h o n"
s.isspace()

False

In [193]:
s="     "
s.isspace()

True

13)**swapcase**
- This function is used to convert lower case to upper case & vice versa in a string

In [194]:
s="python is a scripting language"
s.swapcase()

'PYTHON IS A SCRIPTING LANGUAGE'

In [195]:
s="PyYtHoN iS A sCrIpTiNg LaNgUaGe"
s.swapcase()

'pYyThOn Is a ScRiPtInG lAnGuAgE'

14)**casefold()**
- This function converts each character into lower case in a string

In [198]:
s="PYTHON"
s.casefold()

'python'

In [199]:
s='PYTHON IS A SCRIPTING LANGUAGE'
s.casefold()

'python is a scripting language'

In [218]:
#Python Program to demonstrate the capitalize(),upper(),lower(),isupper(),islower(),swapcase(),casefold(),title(),istitle(),
#isspace(),isalpha(),isnumeric(),isdigit(),isalnum()

s="friends is an AMericAN siTCom"
s1="  "
s2="FRIENDS"
s3="12345"
s4="Friends1234"
print("The capitalize function of s is:{}".format(s.capitalize()))
print("="*50)
print("The upper function of s is:{}".format(s.upper()))
print("="*50)
print("The lower function of s is:{}".format(s.lower()))
print("="*50)
print("Is string upper case or not:{}".format(s.isupper()))
print("="*50)
print("Is string lower case or not:{}".format(s.islower()))
print("="*50)
print("The swapcase function of s is:{}".format(s.swapcase()))
print("="*50)
print("The casefold function of s2 is:{}".format(s2.casefold()))
print("="*50)
print("The title function of s is:{}".format(s.title()))
print("="*50)
print("Is string title or not:{}".format(s.istitle()))
print("="*50)
print("Is string has space or not:{}".format(s1.isspace()))
print("="*50)
print("Is string alpha or not:{}".format(s2.isalpha()))
print("="*50)
print("Is string numeric or not:{}".format(s3.isnumeric()))
print("="*50)
print("Is string digit or not:{}".format(s3.isdigit()))
print("="*50)
print("Is string alphanumeric or not:{}".format(s4.isalnum()))

The capitalize function of s is:Friends is an american sitcom
==================================================
The upper function of s is:FRIENDS IS AN AMERICAN SITCOM
==================================================
The lower function of s is:friends is an american sitcom
==================================================
Is string upper case or not:False
==================================================
Is string lower case or not:False
==================================================
The swapcase function of s is:FRIENDS IS AN amERICan SItcOM
==================================================
The casefold function of s2 is:friends
==================================================
The title function of s is:Friends Is An American Sitcom
==================================================
Is string title or not:False
==================================================
Is string has space or not:True
==================================================
Is string alpha or not:True
==================================================
Is string numeric or not:True
==================================================
Is string digit or not:True
==================================================
Is string alphanumeric or not:True

15)**count()**
- This functions returns number of characters available in a string

In [219]:
s="python is a scripting language"
s.count("i")

3

In [220]:
s.count("a")

3

In [221]:
s.count("z")     #"z" is not present in string, so 0 is returned

0

In [222]:
s="python python python python"
s.count("python")

4

In [234]:
#To print number of vowels in a string
s="Friends is an american sitcom"
count=0
for i in range(len(s)):
    if s[i] in "aeiou":
        count=count+1
print("Vowels count is",count)

Vowels count is 10

In [238]:
#To print number of 'i' & 'I' in a string

s="Friends Is an american sItcom"
count=0
for i in range(len(s)):
    if s[i]=="i" or s[i]=="I":
        count=count+1
        print(s[i])
print("Vowels count is",count)

i
I
i
I
Vowels count is 4

16)**index()**
- This functions gives the index of a string

In [239]:
s="python is a scripting language"
s.index("l")

22

In [248]:
#First occurencce of 'a'

first_occ=s.index("a")
first_occ

10

In [249]:
#Second occurence of 'a'

sec_occ=s.index("a",first_occ+1)
sec_occ

23

In [253]:
#Third occurence of "a"

third_occ=s.index("a",sec_occ+1)
third_occ

#s.index("a",s.index("a",s.index("a")+1)+1)

27

In [255]:
#Extract def from string

s="abc.def@gmail.com"
s[s.index(".")+1:s.index("f")+1]

'def'

17)**replace()**
- This function allows user to replace one character by another character
- If character which is not available in the string is passed inside the replace function, no error occurs instead whole string gets printed

In [256]:
s="python is a scripting language"
s.replace("p","P")

'Python is a scriPting language'

In [258]:
s="python is a scripting language"
s.replace("i","I")

'python Is a scrIptIng language'

In [259]:
s.replace("z","Z")   #No error occurs even though "z" is not there in the string

'python is a scripting language'

In [260]:
#Replace m by "$"
s="Programming"
s.replace("m","$")

'Progra$$ing'

In [261]:
#Replace second "m" by "$"
#Method-1 (using slicing)

s[0:7]+"$"+s[8:]

'Program$ing'

In [284]:
#Replace second "m" by "$"
#Method-1 (using replace())

s1=s[0:7]
print("s1 is",s1)
s2=s[7:]
print("s2 is",s2)
print(s[0:7]+s[7:].replace("m","$",1))

s1 is Program
s2 is ming
Program$ing

18)**find()**
- This function is used to find the index of a string
- If a character which is not there in string is passed inside of find function, -1 is returned

In [285]:
s="python is a scripting language"
s.find("s")

8

In [286]:
s.find("l")

22

In [288]:
#first occurence of "i"

first_occ=s.find("i")
first_occ

7

In [289]:
#second occurence of "i"

sec_occ=s.find("i",first_occ+1)
sec_occ

15

In [290]:
#Third occurence of "i"

third_occ=s.find("i",sec_occ+1)
third_occ

18

In [291]:
# "x" is passed inside find function

s.find("x")   #since "x" is not there in string, -1 is returned

-1

19)**split()**
- This function is used to split given string into different words
- If nothing is specified, it takes space as default delimeter

In [292]:
#Nothing is specified 

s="python is a scripting language"
s.split()

['python', 'is', 'a', 'scripting', 'language']

In [294]:
#

s="python$is$a$scripting$language"
s.split("$")   #splitting by "$"

['python', 'is', 'a', 'scripting', 'language']

In [295]:
s="python is a scripting language"
s.split("i")   #splitting by "i"

['python ', 's a scr', 'pt', 'ng language']

In [296]:
#Special symbol(#)

s="abc#poi#uyt#"
s.split("#")

['abc', 'poi', 'uyt', '']

20)**join()**
- This function is used to combine the strings

In [305]:
s1="python is a scripting language"
s2=""
s2.join(s1)

'python is a scripting language'

In [309]:
l1=["10","20","30","abc","10.23","10+12j"]
l2=" "
l2.join(l1)

'10 20 30 abc 10.23 10+12j'

21)**strip()**
- This function is used to remove spaces from both left and right sides

**lstrip()**
- This function is used to remove spaces from left side

**rstrip()**
- This function is used to remove spaces from right side

In [314]:
#strip example-1

s="   python is a scripting language   "
s.strip()

'python is a scripting language'

In [315]:
#strip example-2

s="  Datascience  "
s.strip()

'Datascience'

In [316]:
#lstrip example-1

s="    python is a scripting language"
s.lstrip()

'python is a scripting language'

In [317]:
#lstrip example-2

s="python is a scripting language"
s.lstrip()

'python is a scripting language'

In [318]:
#rstrip example-1

s="python is a scripting language      "
s.rstrip()

'python is a scripting language'

In [319]:
#rstrip example-2

s="Datascience "
s.rstrip()

'Datascience'

22)**startswith()**
- This function is used to check whether starting value is matched or not with the value passed inside the function. If so True is returned else false

**endswith()**
- This function is used to check whether ending value is matched or not with the value passed inside the function. If so True is returned else false

In [320]:
#startswith() example-1

s="python is a scripting language"
s.startswith("p")

True

In [322]:
#startswith() example-2

s="Halloween"
s.startswith("H")

True

In [324]:
#endswith() example-1

s="python is a scripting language"
s.endswith("e")

True

In [325]:
#endswith() example-2

s="Halloween"
s.endswith("n")

True

In [394]:
#Program to demonstrate count(),index(),find(),replace(),split(),join(),startswith(),endswith(),strip(),lstrip(),rstrip()
#find fourth occurence of "i" using find() in "s"
#Replace second "s" by "S"
#Split s1 by "@"
#Apply lstrip to "s" , rstrip to "s1" & strip to "s3"
#Find index of second "a" using index()
#Join s1 & s4

s=" Friends is an american sitcom"
s1="Friends@is@an@american@sitcom "
s3="  Friends is an american sitcom  "
s4=""
print("Using find:")
first_occ=s.find("i")
second_occ=s.find("i",first_occ+1)
third_occ=s.find("i",second_occ+1)
fourth_occ=s.find("i",third_occ+1)
print("Fourth occurence of s is {}".format(fourth_occ))
print("="*50)
print("Using replace:")
s11=s[:24]
s22=s[24:]
s33=s11+s22.replace("s","S",1)
print("Second occurence of s by S is {}".format(s33))
print("="*50)
print("Using split:")
s44=s1.split("@")
print("Split of s1 is",s44)
print("="*50)
print("Using lstrip,rstrip,strip:")
s55=s.lstrip(),s1.rstrip(),s3.strip()
print("Strip,lstrip and rstrip function for s,s1,s3 is",s55)
print("="*50)
print("Using index:")
print("Index of second occurence of s is",s.index("a",s.index("a")+1))
print("="*50)
print("Using join:")
print(s4.join(s))
print("="*50)
print("Using startswith & endswith:")
print("Starts with and endswith for s is {},{}".format(s.startswith(" "),s.endswith("m")))

Using find:
Fourth occurence of s is 25
==================================================
Using replace:
Second occurence of s by S is  Friends is an american Sitcom
==================================================
Using split:
Split of s1 is ['Friends', 'is', 'an', 'american', 'sitcom ']
==================================================
Using lstrip,rstrip,strip:
Strip,lstrip and rstrip function for s,s1,s3 is ('Friends is an american sitcom', 'Friends@is@an@american@sitcom', 'Friends is an american sitcom')
==================================================
Using index:
Index of second occurence of s is 15
==================================================
Using join:
 Friends is an american sitcom
==================================================
Using startswith & endswith:
Starts with and endswith for s is True,True