In [1]:
name="pranavi"

In [2]:
name[0]

'p'

In [3]:
name[1]

'r'

In [4]:
name[-1]

'i'

In [5]:
name[-2]

'v'

In [7]:
#using for loop print name

for i in name:
    print(i)

p
r
a
n
a
v
i

In [8]:
#
for i in range(len(name)):     #len(name) meant --> 7 i.e., pranavi has 7 letters 
    print(name[i])

p
r
a
n
a
v
i

In [16]:
#to print a's in name

name="pranavi"
count=0
i=0
for i in range(len(name)):
    if(name[i]=="a"):
        count=count+1
print("Number of a is {}".format(count))

Number of a is 2

In [19]:
# to print "y" in name

name="pranavi"
count=0
i=0
for i in range(len(name)):
    if(name[i]=="y"):
        count=count+1
print("Number of y in name is",count)

Number of y in name is 0

In [28]:
#To print number of vowels in name & vowels 

name="pranavi"
count=0
#i=0
for i in range(len(name)):
    if name[i] in "aeiou":    #say name[2]--> "a",, then "a" == "aeiou" --> count = 0+1 = 1 , name[4]->a,name[6]->i (so 3)
        count=count+1
        print("Vowel is",name[i])
print("Vowels count is",count)

Vowel is a
Vowel is a
Vowel is i
Vowels count is 3

In [30]:
#To print number of vowels in name & vowels 

name="MathewPerry"
count=0
for i in range(len(name)):
    if name[i] in "aeiou":
        count=count+1
        print("Vowel is {}".format(name[i]))
print("Vowel count is {}".format(count))

Vowel is a
Vowel is e
Vowel is e
Vowel count is 3

In [32]:
#To print number of consonants in name & print them

name="MathewPerry"
count=0
for i in range(len(name)):
    if name[i] not in "aeiou":
        count=count+1
        print("Consonant is {}".format(name[i]))
print("Consonant count is {}".format(count))

Consonant is M
Consonant is t
Consonant is h
Consonant is w
Consonant is P
Consonant is r
Consonant is r
Consonant is y
Consonant count is 8

In [33]:
name="pranavi"

In [35]:
#to print pstve indexing values

#step-1--> printing indexes
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [39]:
#printing index values  & indexes 

for i in range(len(name)):
    print("The index of {} is {}".format(name[i],i))

The index of p is 0
The index of r is 1
The index of a is 2
The index of n is 3
The index of a is 4
The index of v is 5
The index of i is 6

In [43]:
#printing negtve index

for i in range(-7,0):
    print(name[i])

p
r
a
n
a
v
i

In [44]:
for i in range(-len(name),0):
    print(i,name[i])

-7 p
-6 r
-5 a
-4 n
-3 a
-2 v
-1 i

In [46]:
for i in range(-len(name),0):
    print("THe negative index of {} is {}".format(name[i],i))

THe negative index of p is -7
THe negative index of r is -6
THe negative index of a is -5
THe negative index of n is -4
THe negative index of a is -3
THe negative index of v is -2
THe negative index of i is -1

In [54]:
for i in range(len(name)):
    print(i-len(name))

-7
-6
-5
-4
-3
-2
-1

In [56]:
#Now print both at a time
#Positve index of p is 0 & ngtve index is -7

for i in range(len(name)):
    print(name[i],i,i-len(name))

p 0 -7
r 1 -6
a 2 -5
n 3 -4
a 4 -3
v 5 -2
i 6 -1

In [65]:
for i in range(len(name)):
    print("The positive index is {} & The ngtve index of is {} for {}".format(i,i-len(name),name[i]))

The positive index is 0 & The ngtve index of is -7 for p
The positive index is 1 & The ngtve index of is -6 for r
The positive index is 2 & The ngtve index of is -5 for a
The positive index is 3 & The ngtve index of is -4 for n
The positive index is 4 & The ngtve index of is -3 for a
The positive index is 5 & The ngtve index of is -2 for v
The positive index is 6 & The ngtve index of is -1 for i

In [8]:
#to print no. of vowels in pragnya gaddam

s="pragnya gaddam"
count=0
for i in range(len(s)):
    if s[i] in "aeiou":      #i=p, r, i =a        #i= g,n,y, i= "a"
        count=count+1     #count= 0 +1 = 1
        print(s[i])          # i= "a"
print("Vowels count is {}".format(count))

a
a
a
a
Vowels count is 4

In [18]:
#To print number of vowels & consonants in Gaddam Linganna Goud

s="Gaddam Linganna Goud"
count=0
for i in range(len(s)):
    if s[i] in "aeiou":
        count=count+1
        print(s[i])
print("Vowel count is",count)

a
a
i
a
a
o
u
Vowel count is 7

In [26]:
#To print number of consonants in Gaddam Linganna Goud

s="Gaddam Linganna Goud"
count=0
for i in range(len(s)):
    if s[i] not in "aeiou":
        count=count+1
        print(s[i],end=" ")
print("\n Consonant count is",count)

G d d m   L n g n n   G d
 Consonant count is 13

In [ ]:
capitalize/casefold/upper/lower
count
replace
index/find

In [28]:
#capitalize
s="pranavi"
s.capitalize()

'Pranavi'

In [30]:
s=("pranavi","pragnya","python")
s.capitalize()

AttributeError: 'tuple' object has no attribute 'capitalize'

In [31]:
s=["pranavi","pragnya","python"]
s.capitalize()

AttributeError: 'list' object has no attribute 'capitalize'

In [32]:
#Lower
s="PrAgNYa"
s.lower()

'pragnya'

In [33]:
s="PRAGNYA"
s.lower()

'pragnya'

In [34]:
#casefold

s="PRANAVI"
s.casefold()

'pranavi'

In [35]:
#upper
s="pragnya"
s.upper()

'PRAGNYA'

In [37]:
#count

s="pragnya"
s.count("a")

2

In [38]:
s="pranavigaddam"
s.count("a")

4

In [39]:
#Replace(To replace "r" by "R")
s="pragnya"
s.replace("r","R")

'pRagnya'

In [42]:
#
s1=s[0:1]
s2=s[2:]
s3=s1+"R"+s2
print(s3)

pRagnya

In [43]:
string1='restart'
print(string1.replace('r','$'))
# in above code im not providing count value
# what is default value=-1
# replace maximum occurences
print(string1.replace('r','$',1))
# whenever you see '/' in the function inside
# then dont provide variable name
# 1 means what , only replace one occurence
# Now I want to do second occurence
# as of now we are counting the index
str1=string1[1:] #'estart'
str2=string1[:1] #'r'
str3=str1.replace('r','$',1)
print(str2+str3)
print(string1[:1]+string1[1:].replace('r','$',1))
print(string1[::-1].replace('r','$',1)[::-1])

$esta$t
$estart
resta$t
resta$t
resta$t

In [45]:
s="restart"
#Replace "r" by "$"
s.replace("r","$")

'$esta$t'

In [46]:
#Replace first "r" by "$"

s.replace("r","$",1)

'$estart'

In [52]:
#Replace second "r" by "$"  ("resta$t")

s1=s[0:1]  # "r"
s2=s[1:]   # "estart"
s3=s2.replace("r","$",1)   #"esta$t"
s4=s1+s3
print(s4)

resta$t

In [54]:
print(s[0:1]+s[1:].replace("r","$",1))

resta$t

In [58]:
#Find

s="Python"
s.find("P")

0

In [59]:
s.find("o")

4

In [60]:
s.find("Z")   #since "Z" is not there in "s", -1is returned

-1

In [61]:
#Index
s="python"
s.index("p")

0

In [62]:
s.index("n")

5

In [68]:
#frst occurence of "p"
s="pythonprogram"
first_occ=s.index("p")
print(first_occ)

0

In [70]:
#second occurence of "p"

s="pythonprogram"
second_occ=s.index("p",first_occ+1)
print(second_occ)

6

In [73]:
#First occurence of "a"

s="Python is a scripting language"
first_occ=s.index("a")
print("First occurence of {} is {}".format("a",first_occ))

First occurence of a is 10

In [74]:
#Second occurence of "a"

s="Python is a scripting language"
second_occ=s.index("a",first_occ+1)
print("Second occurence of {} is {}".format("a",second_occ))

Second occurence of a is 23

In [75]:
#Third occurence of "a"

s="Python is a scripting language"
third_occ=s.index("a",second_occ+1)
print("Third occurence of {} is {}".format("a",third_occ))

Third occurence of a is 27

In [76]:
#overall occurences of "a" in s="Python is a scripting language"

s="Python is a scripting language"
first_occ=s.index("a")
print("First occurence of {} is {}".format("a",first_occ))
second_occ=s.index("a",first_occ+1)
print("Second occurence of {} is {}".format("a",second_occ))
third_occ=s.index("a",second_occ+1)
print("Third occurence of {} is {}".format("a",third_occ))

First occurence of a is 10
Second occurence of a is 23
Third occurence of a is 27

In [78]:
s="Python is a scripting language"
s.count("Z")

0

In [79]:
s.index("Z")     #since z is not found, value error is returned

ValueError: substring not found

In [80]:
s.replace("z","ZZZ")         #No error occurs

'Python is a scripting language'

In [81]:
s.find("Z")            #-1 is returned since value is not there

-1

In [86]:
help(str.join)

Help on method_descriptor:

join(self, iterable, /)
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [87]:
a="ab"
b="cd"
a.join(b)

'cabd'

In [88]:
b.join(a)

'acdb'

In [92]:
a="ab"
b="cd"
c="ef"
b.join(a)

'acdb'

In [96]:
line="this is a string"
l=line.split(" ")
l

['this', 'is', 'a', 'string']

In [99]:
l.join('-')

AttributeError: 'list' object has no attribute 'join'

In [123]:
def print_full_name(first,last):
    print("Hello " + first, last+ "! You just delved into python.")
print_full_name("Ross","Taylor")

Hello Ross Taylor! You just delved into python.

In [139]:
#Extracting gaddam
s="pragnya.gaddam5@gmail.com"
s1=s.index(".")        #it gives dot index
s2=s.index("m")          #
s[s.index(".")+1:s.index("m")+1]     # after dot (i.e.,g) & upto "m" +1 --> gaddam

'gaddam'

In [134]:
#extratng mlr
sent2='mobin.sourav@uma.com'
print(sent2.index('.'))
sent2='mobin.souravsahoo@nareshit.ac.in'
sent2='bikas.sourav@mlr.edu.ac.in'
sent2[sent2.index("@")+1:sent2.index(".",sent2.index('.')+1)]

5

'mlr'

In [148]:
#extracting  pranavi98
s="gaddam.678pranavi98.76@gmail.com"
s.index("8")

s[s.index("8")+1:+s.index(".",s.index(".")+1)]

'pranavi98'

In [158]:
#count h 
s="hello hai how are you"
import time
start=time.time()
count=0
i=0
for i in s:
    if i=="h":
        print(i)
        count=count+1
end=time.time()
print(end-start)
print(count)

h
h
h
0.0
3

In [157]:
import time
time.time()

1699464214.9705915

In [ ]:
import time
start=time.time()
count=0
for i in string:
 if i=='h':
 count+=1
 
print(count)
end=time.time()
print(end-start)

In [159]:
name="python"
for i in name:
    print(i)

p
y
t
h
o
n

In [163]:
for i in range(len(name)):
    print(name[i],i)

p 0
y 1
t 2
h 3
o 4
n 5

In [164]:
s1="HAI HAI hai hai"
s1.count("H")

2

In [165]:
s1.count("h")

2

In [169]:
#Take s1 & find lower then count "h"
#MEthod-1

s1="HAI HAI hai hai"
s3=s1.lower()
s3

'hai hai hai hai'

In [170]:
s3.count("h")

4

In [172]:
#Method-2

s1.lower().count("h")

4

In [173]:
#MEthod-3

"HAI HAI hai hai".lower().count("h")

4

In [174]:
#Method-4

"hai hai hai hai".count("h")

4

In [178]:
#using for loop

s="HAI HAI hai hai"
count=0
for i in s:
    if i=="h" or i=="H":
        count=count+1
print(count)

4

In [179]:
#

s="HAI HAI hai hai"
count=0
for i in s.lower():
    if i=="h" or i=="H":
        count=count+1
print(count)

4

In [180]:
#

s="HAI HAI hai hai"
count=0
for i in s:
    if i.lower()=="h" or i.lower=="H":   #"s" value gets stored in "i", so applying lower() on "i"
        count=count+1
print(count)

4

In [184]:
#

s="HAI HAI hai hai"
count=0
for i in range(len(s)):
    if s[i].lower()=="h":
        count=count+1
print(count)

4

In [188]:
s_in="MobiN 2 Are"
s_out=" "
for i in s_in:
    if i.isupper()==True:
        s_out=s_out+i.lower()
    else:
        s_out=s_out+i.upper()
print(s_out)

 mOBIn 2 aRE

In [190]:
s="ola ola ola ola"
len(s)

15

In [191]:
#To print no. of a's after 4th index

s.count('a',4)

3

In [192]:
##To print no. of a's bw 4th to 8th

s.count("a",4,9) #similar to slicing. count is internally taking slicing (4,9)

1

In [193]:
s[4:].count("ola")

3

In [198]:
count=0
for i in range(len(s)-2): # 0 to 12
    if i>=4:
         if s[i]+s[i+1]+s[i+2]=='ola':# 'o'=='ola' F 
            count=count+1
print(count)

3

In [200]:
s="123abc"
s

'123abc'

In [202]:
s="python"
max("s")

's'

In [210]:
s="ABCDCCDC"
count=0
for i in s:
    if i in "CDC":
        print(i)
        count=count+1
print(count)

C
D
C
C
D
C
6

In [234]:
s="ABCDCCDC"
count=0
for i in range(0,len(s)):
    if i=="CDC" or "CDC":
        print(s[i])
        count=count+1
print(count)

A
B
C
D
C
C
D
C
8

In [222]:
s="ABCDCCDC"
s[2:5]
s[5:]

'CDC'

In [230]:
s[0]

'A'

In [231]:
s[0:2]

'AB'

In [232]:
s[0]=10

TypeError: 'str' object does not support item assignment

In [238]:
s="ABCDCCDC"
s[s.index("C")+1:s.index("C",index("C")+1)]

NameError: name 'index' is not defined

In [239]:
s.index("C")

2

In [240]:
s="ABCDCCDC"
s.lstrip("CDC")

'ABCDCCDC'

In [241]:
s.rstrip("CDC")

'AB'

In [251]:
def count_substring(string, sub_string):
    count = 0
    for i in range(len(string) - len(sub_string) + 1):
        if string[i:i + len(sub_string)] == sub_string:
            count += 1
    print(count)

In [252]:
s="Python is a scripting language"
len(s)

30

In [262]:
string1="kl.rahul@lucknow.com,virat.kohli@bangalore.com,rohit.sharma@mumbai.com"
list1=string1.split(",")
list1
for i in list1:
    i.split(".")[0]
i

'rohit.sharma@mumbai.com'

In [265]:
i.split(".")[0]

'rohit'

In [268]:
i.split(".")[1]

'sharma@mumbai'

In [270]:
i.split("@")+1

TypeError: can only concatenate list (not "int") to list