In [1]:
name='python'
type(name)

str

In [2]:
name

'python'

In [3]:
name1='python'
name1

'python'

In [4]:
print(name)

python

In [7]:
#triple quotes means  Doc string
# It is an information about code

string1=""" hello hi how ruh """
print(string1)

 hello hi how ruh

In [8]:
#To highlight the word

#Here python is in double qoutes, give the other sentences in single quotes 
print('hello "python"')

hello "python"

In [9]:
print("hello 'python'")

hello 'python'

In [11]:
string1="python"         #python
string2=string1         #string2 = python
string3='hello'         #
string4=string3
string4=string1
string4=string2
string5=string4
print(string5)

python

In [13]:
string1='python'
type(string1)

str

In [14]:
len(string1)

6

In [21]:
max(string1)

'y'

In [20]:
min(string1)

'h'

In [26]:
for i in 'python':
    print(i,ord(i))

p 112
y 121
t 116
h 104
o 111
n 110

In [27]:
string1='hai'
string2='python'

In [28]:
string1+string2

'haipython'

In [29]:
string1-string2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [30]:
string1*string2

TypeError: can't multiply sequence by non-int of type 'str'

In [32]:
2*string2           (#here string2 is repeated for 2times)

'pythonpython'

In [31]:
string1/string2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

# nov 2nd

In [33]:
name='python'

In [37]:
name[0]

'p'

In [38]:
name[1]

'y'

In [39]:
name[2]

't'

In [40]:
name[3]

'h'

In [41]:
name[4]

'o'

In [42]:
name[5]

'n'

In [ ]:
name[0]
name[1]
name[2]
name[3]
name[4]
name[5]

name[i]

In [43]:
for i in range(6):
    print(name[i])

p
y
t
h
o
n

In [44]:
for i in range(7):             #python has only 6 letters
    print(name[i])

p
y
t
h
o
n

IndexError: string index out of range

In [48]:
name1="hello how are you"
print(len(name1))
for i in range(len(name1)):
    print(name1[i],end=' ')

17
h e l l o   h o w   a r e   y o u

In [55]:
#WAP ask the user to print letters from a given word
#using for loop
#the index of p is 0

name="pragnya"
for i in range(len(name)):
    print("\n the index of {} is {}".format(name[i],i))       # i is index (i.e., 0,1,2 -- are printed)
                                                                    #if  name[i] is given--> values will be printed

 the index of p is 0

 the index of r is 1

 the index of a is 2

 the index of g is 3

 the index of n is 4

 the index of y is 5

 the index of a is 6

In [66]:
#using while loop

name="python"
i=0
while(i<(len(name))):
    print("\n the index of {} is {}".format(name[i],i))
    i=i+1

 the index of p is 0

 the index of y is 1

 the index of t is 2

 the index of h is 3

 the index of o is 4

 the index of n is 5

In [ ]:
-6 -5  -4  -3   -2  -1
p   y   t   h   o    n

0   1   2   3   4    5

In [67]:
name='python'

In [68]:
name[0]

'p'

In [69]:
name[-2]

'o'

In [74]:
#start from -6 using for loop

for i in range(-6,0,1):
    print("THe negative index of {} is {}".format(name[i],i))

THe negative index of p is -6
THe negative index of y is -5
THe negative index of t is -4
THe negative index of h is -3
THe negative index of o is -2
THe negative index of n is -1

In [89]:
#while loop

i=-6
while(i<0):
    print("THe negative index of {} is {}".format(name[i],i))
    i=i+1

THe negative index of p is -6
THe negative index of y is -5
THe negative index of t is -4
THe negative index of h is -3
THe negative index of o is -2
THe negative index of n is -1

In [79]:
name='python'
len(name)
for i in range(-len(name),0):
    print(i)

-6
-5
-4
-3
-2
-1

In [82]:
name='python'
len(name)
for i in range(-len(name),0):
    print("THe negative index of {} is {}".format(name[i],i))

THe negative index of p is -6
THe negative index of y is -5
THe negative index of t is -4
THe negative index of h is -3
THe negative index of o is -2
THe negative index of n is -1

In [94]:
name='python'
i=-len(name)
while(i<0):
    print("THe negative index of {} is {}".format(name[i],i))
    i=i+1

THe negative index of p is -6
THe negative index of y is -5
THe negative index of t is -4
THe negative index of h is -3
THe negative index of o is -2
THe negative index of n is -1

In [80]:
name='python'
len(name)
for i in range(len(name)):
    print(i-len(name))

-6
-5
-4
-3
-2
-1

In [86]:
name='python'
len(name)
for i in range(len(name)):
    print("THe negative index of {} is {}".format(name[i],i-len(name)))

THe negative index of p is -6
THe negative index of y is -5
THe negative index of t is -4
THe negative index of h is -3
THe negative index of o is -2
THe negative index of n is -1

In [92]:
name='python'
i=-len(name)
while(i<0):
    print("THe negative index of {} is {}".format(name[i],i))
    i=i+1

THe negative index of p is -6
THe negative index of y is -5
THe negative index of t is -4
THe negative index of h is -3
THe negative index of o is -2
THe negative index of n is -1

In [ ]:
-6 -5  -4  -3   -2  -1
p   y   t   h   o    n

0   1   2   3   4    5

In [111]:
#the pstve index is 0 & ngtve index is -6 for p
#the pstve index is 1 & ngtve index is -5 for y

name='python'
print(name[0],name[-6])

p p

In [112]:
name[1],name[-5]

('y', 'y')

In [238]:
for i in range(len(name)):
    print("the pstve index is {} & negative index is {} for {}".format(i,i-len(name),name[i]))

the pstve index is 0 & negative index is -6 for p
the pstve index is 1 & negative index is -5 for y
the pstve index is 2 & negative index is -4 for t
the pstve index is 3 & negative index is -3 for h
the pstve index is 4 & negative index is -2 for o
the pstve index is 5 & negative index is -1 for n

In [134]:
for i in range(6):
    print(i,name[i],i-6)

0 p -6
1 y -5
2 t -4
3 h -3
4 o -2
5 n -1

In [174]:
#how many a's are there

#frst iterate the letetrs

sent="hai hai how are you"
for i in range(len(sent)):
    print(sent[i],end=" ")

h a i   h a i   h o w   a r e   y o u

In [178]:
#how many a's are there
sent="hai hai how are you"
count=0
for i in range(len(sent)):
    #print(sent[i],end=" ")
    if(sent[i]=='a'):
        count=count+1
        print("index of a is {}".format(i))
print("count of a is {}".format(count) )

index of a is 1
index of a is 5
index of a is 12
count of a is 3

In [186]:
'i' in "aeiou"

True

In [190]:
#print number of vowels

count=0
for i in range(len(sent)):
    if sent[i] in "aeiou":
        count=count+1
        print("Vowel is",sent[i])
print("Vowels count is {}".format(count))

Vowel is a
Vowel is i
Vowel is a
Vowel is i
Vowel is o
Vowel is a
Vowel is e
Vowel is o
Vowel is u
Vowels count is 9

In [303]:
#unique vowels---- 
#take a n empty str Str1= ' '
#iterate through loop
#if sent[i] a in "aeiou"  (true)  & also check with str1 using if -- if not in str1 --> then 
#  ---  str1=str1+'a'


str1=''
str2="hai how are you"
count=0
for i in range(len(str2)):     #
    if str2[i] in "aeiou":      
        if str2[i] not in str1:
            str1=str1+str2[i]
            count=count+1
print(str1)    
print(count)

aioeu
5

In [213]:
name1="pragnya"
name2="pranavi"

In [214]:
name1+name2[2]

'pragnyaa'

# nov 3rd

**Mutable & Immutable**(IMPORTANT)

Mutable--
- If value is changed by using index operation, it is called as Mutable

- If value is not changed by using index opern, it s clld as Immutable

In [239]:
name='python'

In [240]:
name[0]

'p'

In [242]:
name[0]="P"

TypeError: 'str' object does not support item assignment

- Strings are immutable

**Slicing**

In [245]:
s1="hello how are you"

In [246]:
s1[0]

'h'

In [ ]:
h  e  l  l  o    h  o  w     a   r   e      y   o   u
0  1  2  3  4  5 6  7  8  9  10  11  12 13  14  15  16

In [247]:
s1[2:10]

'llo how '

In [248]:
s1[1:15:2]    #start=1, stop=15-1=14, step=2 ()

'el o r '

In [249]:
s1[1:15:-2]   #start=1, stop= 15+1 =16, step= -2 (twrds ngtve drctn), so not possible

''

In [250]:
s1[:]            #nothing is mentioned, it meant whole string will be printed
                 #start=0, stop= till last character 
                #s1[start:stop]

'hello how are you'

In [251]:
s1[::]              #s1[start:stop:step]
                   #s1[0:last char:1]

'hello how are you'

In [259]:
print(s1[0:])
print(s1[:len(s1)])
print(s1[:])
print(s1[::])

hello how are you
hello how are you
hello how are you
hello how are you

In [ ]:
-17 -16 -15 -14  -13  -12  -11 -10  -9 -8  -7   -6  -5  -4    -3  -2  -1
 h   e   l   l   o         h    o   w      a    r    e        y   o   u
 0   1   2   3   4    5    6    7   8  9   10   11  12  13   14  15  16

In [260]:
s1[-2:-15]   #start=-2, stop= -15-1 = -16, step= not mntioned (means postve drctn)

''

In [261]:
s1[-2:-15:-1]   #start=-2, stop= -15+1 = -14, step= -1 (ngtv)

'oy era woh ol'

In [262]:
s1[-15:-2:-1]       #start= -15, stop= -2 +1 =-1 , step--> ngtve drctn 

                 #  -15 -------   -1

''

In [263]:
s1[-15:-2:2]

'lohwaey'

In [264]:
s1[8:-15:-1]

'woh ol'

In [265]:
s1[8:-10:-1]        #start=8, stop = -10+1 = -9

'w'

In [266]:
s1[8:-10:-2]

'w'

In [267]:
s1[-15:8:3]

'l '

In [268]:
#Reverse of string

s1[::-1]

'uoy era woh olleh'

# String methods

In [269]:
dir("name")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

$captitalize$

In [270]:
name="naresh it"

In [271]:
help(name.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [275]:
name.capitalize()           #First letter will be printed as capital letter & remaining will be small letters

'Naresh it'

$case fold$

$upper$

In [281]:
help(name.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [282]:
name.upper()

'NARESH IT'

$lower$

In [283]:
name.lower()

'naresh it'

In [278]:
help(name.isupper)

Help on built-in function isupper:

isupper() method of builtins.str instance
    Return True if the string is an uppercase string, False otherwise.

    A string is uppercase if all cased characters in the string are uppercase and
    there is at least one cased character in the string.

In [279]:
name.isupper()    #in naresh it, no letter is in capital, so False is returned

False

In [284]:
help(name.islower)    #in naresh it, all letters are in small letters, so True is returned

Help on built-in function islower:

islower() method of builtins.str instance
    Return True if the string is a lowercase string, False otherwise.

    A string is lowercase if all cased characters in the string are lowercase and
    there is at least one cased character in the string.

In [280]:
name.islower()

True

In [286]:
name1="naresh IT"
print(name1.capitalize())  #Naresh IT
print(name1.upper())
print(name1.lower())

Naresh it
NARESH IT
naresh it

$case fold$

In [290]:
name1="Naresh IT"

In [291]:
help(name1.casefold)

Help on built-in function casefold:

casefold() method of builtins.str instance
    Return a version of the string suitable for caseless comparisons.

In [292]:
name1.casefold()           #converts everything into small letters

'naresh it'

In [300]:
string1="hello"
#O/p-->string1="Hello" w/o using string methods

a1=string1[0]          #slicing to separate h s[0]
b1=string1[1:5]        #slicing s1[1:5]--> 'ello'
c="H"                   # "H"
e=c+b1                  #concatenating c(H) to b1
print(e)

Hello

In [301]:
string1='hello'
string2='H'
string3=string1[1:]
print(string3)
string2+string3

ello

'Hello'

# nov 6th

**Replace**

In [1]:
string1="welcome"
#To replace "l" by "L"

In [3]:
#Slicing & concatenation
string1[:2]+"L"+string1[3:]

'weLcome'

In [5]:
#using replace method
string1.replace("l","L")

'weLcome'

In [22]:
#input -> restart
#output1-> $estart
#output 2-> resta$t

s1="restart"
s1.replace("r","$",1)   #1 is count value that meant only one occurence of r to be replaced by $
                        #enter shift + tab inside of bracket to know functionality
                       #s1.replace("r","$",count=1) -->here we cant give count since it is a keyword

'$estart'

In [2]:
string1='restart'
print(string1.replace('r','$'))   #first print stmnt

# in above code im not providing count value
# what is default value=-1
# replace maximum occurences

print(string1.replace('r','$',1))   #Second print stmnt

# whenever you see '/' in the function inside
# then dont provide variable name
# 1 means what , only replace one occurence
# Now I want to do second occurence
# as of now we are counting the index

str1=string1[1:] #'estart'
str2=string1[:1] #'r'
str3=str1.replace('r','$',1)

print(str2+str3)

print(string1[:1]+string1[1:].replace('r','$',1))

print(string1[::-1].replace('r','$',1)[::-1])

$esta$t
$estart
resta$t
resta$t
resta$t

In [11]:
s1="restart"
s1[1:]
"$"+s1[1:]

'$estart'

**Index**

In [48]:
string1="python"
#to find the index of "t"
string1.index('t')

2

In [50]:
#frst occurence of "t"
string1="restart"
print(string1.index('t'))

3

In [51]:
#to find the index of second occurence of "t"

string="restart"
print(string1.index('t'))
first_occ=(string1.index('t'))   #3
print(string1.index('t',first_occ+1))   #searching from 3+1= 4th index ( r  e s t a r t)
                                                                     #   0  1 2 3 4 5 6

3
6

In [53]:
string1="restart how to"  #  r e s t a r t   h o w     t  o
#to get first "t"          # 0 1 2 3 4 5 6 7 8 9 10 11 12 13
f_o=string1.index("t")
print(f_o)

3

In [55]:

#To get second occurence of "t"
s_o=string1.index("t",f_o+1) #here f_o is 3 from above, searchingfrom 4th lace ("a")     a r t how to
print(s_o)                                                   # 4 5 6

6

In [57]:
#To get third occurence of "t"

t_o=string1.index("t",s_o+1)
print(t_o)

12

In [61]:
string1="restart how to"  #  r e s t a r t   h o w     t  o
#to get first "t"# 0 1 2 3 4 5 6 7 8 9 10 11 12 13

f_o=string1.index("t")
print("The first occurence of t is:",f_o)
s_o=string1.index("t",f_o+1) 
print("The second occurence of t is:",s_o) 
t_o=string1.index("t",s_o+1)
print("The third occurence of t is:",t_o)

The first occurence of t is: 3
The second occurence of t is: 6
The third occurence of t is: 12

In [65]:
print(string1.count("T"))    #important

0

In [64]:
print(string1.index("T"))    #important

ValueError: substring not found

In [66]:
#important

print(string1.replace("TTTT","&"))     #No error

restart how to

In [67]:
"Python".replace("z","ZZZZ")       #No error

'Python'

**find**

In [69]:
string1="restart how to"
#First occurence of "t"
first_occ=string1.find("t")
print("The first occurence of t is:",first_occ)

The first occurence of t is: 3

**Difference bw find & index**
- Index- If substring is not found, Value error is returned
- Find- If substring is not found, -1 is retured

In [ ]:
print(string1.count("T"))   # 0
print(string1.index("T"))    #Sub string not found
print(string1.replace("TTTT","&"))  #no error
print(string1.find("TTTT")) #-1

- capitalize/casefold/upper/lower
- count
- replace
- index/find

**split**

In [1]:
string1="hai how are you"
string1.split()   #string1.split(sep=None, maxsplit=-1)  -->

['hai', 'how', 'are', 'you']

In [72]:
s2="hai how,are you"
s2.split(",")  #separating using ","
              #it splits, when there is comma(",")

['hai how', 'are you']

In [73]:
s2="hai how,are you"
s2.split("a")

['h', 'i how,', 're you']

# nov 7th

In [4]:
sent1="rashaad.omkar@gmail.com"
#extract omkar
sent1[8:13]

'omkar'

In [11]:
#w/o slicing , w/o count
sent1[sent1.index(".")+1:sent1.index("@")]

'omkar'

In [12]:
#Extarct "uma"
s1="mobin.sourav@uma.com"
s1.index("@")
s1[s1.index("@")+1:s1.index(".c")]

'uma'

In [16]:
#Extarct "uma"
s1="mobin.sourav@uma.com"
print(s1.index("@"))
print(s1.index(".")+1)
s1[s1.index("@")+1:s1.index(".",s1.index(".")+1)]

12
6

'uma'

In [85]:
#sent2=mobin.sourav@uma.com

sent2='mobin.souravsahoo@nareshit.ac.in'

#Between '@' and '.'

index1=sent2.index('@')
first_dot_index=sent2.index('.')
sec_dot_index=sent2.index('.',first_dot_index+1)

sent2[index1+1:sec_dot_index]  
print("Possibility one is:",sent2[index1+1:sec_dot_index] )

sent2[sent2.index('@')+1:sent2.index(".",first_dot_index+1)]
print("possibility two is:",sent2[sent2.index('@')+1:sent2.index(".",first_dot_index+1)])

sent2[sent2.index('@')+1:sent2.index(".",sent2.index('.')+1)]
print("possibility three is:",sent2[sent2.index('@')+1:sent2.index(".",sent2.index('.')+1)])

Possibility one is: nareshit
possibility two is: nareshit
possibility three is: nareshit

In [20]:
#extratng mlr
sent2='mobin.sourav@uma.com'
print(sent2.index('.'))
sent2='mobin.souravsahoo@nareshit.ac.in'
sent2='bikas.sourav@mlr.edu.ac.in'
sent2[sent2.index('@')+1:sent2.index('.',sent2.index('.')+1)]

5

'mlr'

**strip-lstrip-rstrip**

In [22]:
string1=" hai how are you "
string2="hai how are you "
string3=" hai how are you"

- strip - It remove spaces from left &rght side
- lstrip - It removes spaces from left side
- rstrip - It removes spaces from rght side

In [26]:
string1.strip()

'hai how are you'

In [27]:
string1.lstrip()

'hai how are you '

In [30]:
string1.rstrip()

' hai how are you'

In [23]:
string1.strip()   #It removes spaces from two sides

'hai how are you'

In [24]:
string2.rstrip()       #it removes space from rght side

'hai how are you'

In [25]:
string3.lstrip()          #it removes space from left side

'hai how are you'

In [31]:
string1='&&&&hello&&&&&&&&&&'
print(string1.strip("&"))           #"&" are removed from both the ends

hello

In [32]:
print(string1.lstrip("&"))

hello&&&&&&&&&&

In [33]:
print(string1.rstrip("&"))

&&&&hello

**startswith-endswith**

In [34]:
string1="hai how are you"
string1.startswith("hai")       #since sentence is strtg with hai it returns True

True

In [35]:
string1.endswith("you")

True

In [41]:
string1="pasha how are you"
string1.startswith(string1)

True

In [42]:
string1.startswith("p")

True

In [43]:
string1.endswith("u")

True

In [40]:
string1.endswith(string1)

True

In [44]:
#isalpha
s="123abcsv"
s.isalpha()

False

In [45]:
s="abcdecgll"
s.isalpha()      #since it contains only characters

True

In [48]:
#isnumeric

s="12345"
s.isnumeric()

True

In [49]:
s="abcd234"
s.isnumeric()

False

In [50]:
#isupper

s="abc"
s.isupper()

False

In [51]:
s="Abcgc"
s.isupper()

False

In [52]:
s="ABCDE"
s.isupper()

True

In [53]:
s="abcde"
s.islower()

True

In [56]:
s="123abc"
s.isalnum()

True

In [58]:
dir("string")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [59]:
#isdecimal
s="100"
s.isdecimal()

True

In [60]:
s="123.78"
s.isdecimal()

False

In [61]:
#isdigit
s="abc12"
s.isdigit()

False

In [62]:
s="1234"
s.isdigit()

True

In [67]:
s="12.2"
s.isdigit()

False

In [63]:
#isnumeric

s="123"
s.isnumeric()

True

In [64]:
s="abc"
s.isnumeric()

False

In [66]:
s="10.6"
s.isnumeric()

False

In [65]:
#isascii

s="A"
s.isascii()

True

In [ ]:
#any method available to check float number using string method

In [69]:
#isidentifer
s="ac"
s.isidentifier()

True

In [70]:
s="1234"
s.isidentifier()

False

In [77]:
#if methods dont work driectly
#we need to modfiy the string

string1="bikas "
#s=string1.rstrip()
#print(s)
string1.rstrip().isalnum()

True

In [ ]:
Interview Qstns---

1) In the given sentence what is the most repeated word
#ex-- "hai how are you you hai"

2) In a given sentence what is the maximum length of the string 
#what is the minimum length of the string
#"hello python how are youuuuu"

3)str1="hyd",str2="chennai", str3="mumbai"
#greatest word & smallest word -- interms of ASCII

In [1]:
str1="name,Review\r\nomkar,good\r\nsanjay,very good\r\n"
str1

'name,Review\r\nomkar,good\r\nsanjay,very good\r\n'

In [2]:
name="bikas"
review="Excellent"
#o/p-- 'name,Review\r\nomkar,good\r\nsanjay,very good\r\n,bikasExcellent\r\n'

In [3]:
",".join([name,review])+"\r\n"

'bikas,Excellent\r\n'

In [4]:
str1+",".join([name,review])+"\r\n"

'name,Review\r\nomkar,good\r\nsanjay,very good\r\nbikas,Excellent\r\n'