- Tuple includes all type of data types(int,float,complex,str,list)
- It is represented by ()
- Tuple is immutable(Item assignment is not possible)

In [9]:
t=(10,20,30,40,50)
t

(10, 20, 30, 40, 50)

In [2]:
#to find the type of t
type(t)

tuple

In [3]:
# To find the length of a tuple

len(t)

5

In [4]:
#To find maximum of a tuple

max(t)

50

In [5]:
#To find manimum of a tuple

min(t)

10

In [7]:
t1=(10,10.34,"python",3+5j,[1,2,3])
t1

(10, 10.34, 'python', (3+5j), [1, 2, 3])

In [10]:
#Using for loop, printing the values in t1

for i in t1:
    print(i)

10
10.34
python
(3+5j)
[1, 2, 3]

In [12]:
#Using while loop, printing the values in t1

i=0
while(i<len(t1)):
    print(t1[i])
    i=i+1

10
10.34
python
(3+5j)
[1, 2, 3]

- Concatenation of two tuples is possible
- Subtraction/Multiplication/Division/Floor Division/Modulo Division are not possible
- Repetition operator(*) on tuple is possible

In [25]:
t1=(10,20,30,40)
t2=(1,2,3,4)
print("The concatenation of t1 and t2 is",t1+t2)

The concatenation of t1 and t2 is (10, 20, 30, 40, 1, 2, 3, 4)

In [27]:
print("The subtraction of t1 and t2 is",t1-t2)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [28]:
print("The multiplication of t1 and t2 is",t1*t2)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [36]:
print("The division of t1 and t2 is",t1/t2)

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

In [35]:
print("The modulo division of t1 and t2 is",t1%t2)

TypeError: unsupported operand type(s) for %: 'tuple' and 'tuple'

In [34]:
print("The floor division of t1 and t2 is",t1//t2)

TypeError: unsupported operand type(s) for //: 'tuple' and 'tuple'

In [33]:
print("The repetition of t1 is",t1*2)

The repetition of t1 is (10, 20, 30, 40, 10, 20, 30, 40)

In [38]:
print("The repetition of t2 is",t2*5)

The repetition of t2 is (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

**in Operator**
- Operator is used to check whether element is existing in tuple or not
- If value is there in tuple , True is returned else False is returned

**not in operator**
- If value is not there in tuple, True is returned else False is returned

In [3]:
t=(10,10.35,3+4j,[1,2,3])
10 in t

True

In [42]:
10.35 in t

True

In [43]:
2 in t  #If Sub-value of a list is given, it returns False

False

In [44]:
[1,2,3] in t  #Here, the whole list is given, hence it returns True

True

In [45]:
10 not in t

False

In [46]:
10.35 not in t

False

In [47]:
2 not in t

True

In [48]:
[1,2,3] not in t

False

**Indexing**
- It is used to get individual value from tuple
- It is represented by tuple[]

In [4]:
t

(10, 10.35, (3+4j), [1, 2, 3])

In [51]:
t[0]

10

In [52]:
t[2]

(3+4j)

In [53]:
t[3]

[1, 2, 3]

In [5]:
t[True]

10.35

In [6]:
t[False]

10

In [11]:
#To print positive index

for i in range(len(t)):
    print("The positive index of {} is {}".format(t[i],i))

The positive index of 10 is 0
The positive index of 10.35 is 1
The positive index of (3+4j) is 2
The positive index of [1, 2, 3] is 3

In [15]:
#To print negative index

for i in range(-len(t),0):
    print("The negative index of {} is {}".format(t[i],i))

The negative index of 10 is -4
The negative index of 10.35 is -3
The negative index of (3+4j) is -2
The negative index of [1, 2, 3] is -1

In [16]:
#To print both positive & negative indices

for i in range(len(t)):
    print("The positive index is {} and negative index is {} for {}".format(i,i-len(t),t[i]))

The positive index is 0 and negative index is -4 for 10
The positive index is 1 and negative index is -3 for 10.35
The positive index is 2 and negative index is -2 for (3+4j)
The positive index is 3 and negative index is -1 for [1, 2, 3]

**Slicing**
- It is used to get the sub-values from the main tuple

- It is represented by tuple[Begin:End] or tuple[Begin:End:Step=Positive] or tuple[Begin:End:Step=Negative]
  or tuple[Begin :] or tuple[:End] or str[::]
  
- In tuple[Begin:End] or tuple[Begin :] or tuple[:End] -->Since step is not mentioned , by default it is taken as positive and End is end-1

- In tuple[Begin:End:Step=Positive] --> Here step is positive, End=End-1 and Slicing takes place in positive direction

- In tuple[Begin:End:Step=Negative] --> Here step is Negative, End=End+1 and Slicing takes place in negative direction

In [55]:
t[0:]    #Here Begin=0, end is not specified so it takes length of tuple

(10, 10.35, (3+4j), [1, 2, 3])

In [56]:
t[:]     #Here both begin and end index is not specified, so full tuple will be returned

(10, 10.35, (3+4j), [1, 2, 3])

In [57]:
t[::]    #Here begin, end and step is not specified, so full tuple will be returned

(10, 10.35, (3+4j), [1, 2, 3])

In [58]:
t[::-1]     #It returns the reverse of tuple

([1, 2, 3], (3+4j), 10.35, 10)

In [60]:
t[:4]        #Here only end index is specified, so begin index would be starting from 0

(10, 10.35, (3+4j), [1, 2, 3])

In [18]:
t1=(10,20,"python",2+3j,"Datascience",20.34,1+3j,[40,80,120,160])
t1[0:7:2]         #Begin=0, End=7(7-1=6), Step=2 (Tuple traverse in positive direction by leaving 2 values)

(10, 'python', 'Datascience', (1+3j))

In [65]:
t1[7][2]  #To get the 2nd value of list which is in 7th index

120

In [66]:
t1[0:7:-2]   #Begin=0, End=7(7+1=8), Step=negative(Tuple traverse in negative direction)
             #But 7 is towards positive direction, since tuple traverse in negative direction no where it reaches 7 so no o/p is displayed

()

In [69]:
t1[1::-2]

(20,)

In [68]:
t1[1:8:-2]

()

In [71]:
t1[::-1]     #It returns reverse of tuple

([40, 80, 120, 160], (1+3j), 20.34, 'Datascience', (2+3j), 'python', 20, 10)

In [72]:
t1[2:8:3]

('python', 20.34)

In [73]:
t1[0:8]

(10, 20, 'python', (2+3j), 'Datascience', 20.34, (1+3j), [40, 80, 120, 160])

In [19]:
#DIfferent methods to print tuple (t1)
#Method-1

t1[0:]

(10, 20, 'python', (2+3j), 'Datascience', 20.34, (1+3j), [40, 80, 120, 160])

In [21]:
#Method-2

t1[:8]

(10, 20, 'python', (2+3j), 'Datascience', 20.34, (1+3j), [40, 80, 120, 160])

In [22]:
#Method-3

t1[:]

(10, 20, 'python', (2+3j), 'Datascience', 20.34, (1+3j), [40, 80, 120, 160])

In [23]:
#Method-4

t1[::]

(10, 20, 'python', (2+3j), 'Datascience', 20.34, (1+3j), [40, 80, 120, 160])

In [24]:
#Method-5

t1[::1]

(10, 20, 'python', (2+3j), 'Datascience', 20.34, (1+3j), [40, 80, 120, 160])

- Tuple is immutable. It don't support item assignment(Values can't be updated)

In [25]:
t1

(10, 20, 'python', (2+3j), 'Datascience', 20.34, (1+3j), [40, 80, 120, 160])

In [26]:
t1[2]="PYTHON"

TypeError: 'tuple' object does not support item assignment

In [27]:
t1[7]=90

TypeError: 'tuple' object does not support item assignment

**Tuple Methods**

In [28]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

**count()**
- It returns the number of occurences in a tuple
- If other than values present in tuple are passed inside count function, 0 is returned

In [30]:
t1=(10,20,10,"python",2+3j,"python",23.45,10,20.34,23.45)
t1

(10, 20, 10, 'python', (2+3j), 'python', 23.45, 10, 20.34, 23.45)

In [31]:
t1.count(10)

3

In [32]:
t1.count("python")

2

In [33]:
t1.count("y")

0

In [34]:
t1.count("z")   #"z" is not available in given tuple, so it returns 0

0

**index()**
- It gives the index of value in a tuple

In [36]:
t1

(10, 20, 10, 'python', (2+3j), 'python', 23.45, 10, 20.34, 23.45)

In [38]:
#first occurence of 10

first_occ=t1.index(10)
first_occ

0

In [40]:
#Second occurence of 10

second_occ=t1.index(10,first_occ+1)
second_occ

2

In [41]:
#Third occurence of 10

third_occ=t1.index(10,second_occ+1)
third_occ

7